<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Add Weight</title>
{% endblock page_title %}

{% block section %}

{% include 'partials/messages.html' %}

<div class="main-div">
    <form action="/add-weight/{{farmID}}" method="POST">{% csrf_token %}
        <h1 class="heading"><a href="/health-symptoms">Hogs Health & Symptoms</a> > <a href="/selected-health-symptoms/{{farmID|stringformat:'03d'}}">{{ farmID|stringformat:"03d" }}</a> > Add Weight Slip Record</h1>
        <div class="flex subheading">
            <p class="flex-item"> <strong>Farm: </strong> {{farmID|stringformat:"03d"}} </p>
            <p hidden class="flex-item" id="total_pigs" value="{{total_pigs}}"> {{total_pigs}} </p>
            <div><button class="primary-btn" type="submit">Save</button></div>
        </div>
        <hr>

        {% if weightType == "starter" %}
        <div class="box-style small-table">
            <div>
                <h1>Adding Starter Weight to Farm {{farmID|stringformat:"03d"}}</h1>
            </div>
            <hr>
            <div class="mb-3">
                <label for="input-ave" class="form-label">Ave. Weight (in kg)</label>
                {{weightForm.ave_weight}}
            </div>
            <div class="mb-3">
                <label for="input-heads" class="form-label">Total No. of Heads</label>
                {{weightForm.total_numHeads}}
                <label for="input-kls" class="form-label">Total Weight (in kg)</label>
                {{weightForm.total_kls}}
            </div>
            <div class="mb-3">
                <label for="input-remarks" class="form-label">Remarks</label>
                {{weightForm.remarks}}
            </div>
        </div>

        <p class="red">Please review the details of the form before submitting.</p>
        <div class="mobile-subheading"><button class="primary-btn" type="submit">Save</button></div>

        {% else %}
        <section>
        <div class="box-style large-table">
            <div>
                <h1>Adding Fattener Weight to Farm {{farmID|stringformat:"03d"}}</h1>
            </div>
            <hr>
            <br>
            <div class="flex">
            <div class="flex-item">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Pig No.</th>
                            <th>Weight (in kg)</th>
                        </tr>
                    </thead>
                    <tbody id="fattenerTable">                    

                    </tbody>
                </table>
            </div>
            <div class="flex-item">
                <div class="flex">
                    <p class="flex"><strong>Total Weight:&nbsp;</strong><p class="fattener-total">-</p>&nbsp;kls</p> <br>
                </div>
                <div class="flex">
                    <p><strong>Average Weight:&nbsp;</strong><p class="fattener-average">-</p>&nbsp;kls</p>
                </div>
                <br>
                <div class="mb-3">
                    <label for="input-remarks" class="form-label">Remarks</label>
                    {{weightForm.remarks}}
                </div>
                <p class="red">Please review the details of the form before submitting.</p>

            </div>
            </div>
        </div>
        </section>
        {% endif %}
        
        <div class="mobile-subheading"><button class="primary-btn" type="submit">Save</button></div>

    </form>
</div>
{% endblock section %}