<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Add Mortality Record</title>
{% endblock page_title %}

{% block section %}

{% include 'partials/messages.html' %}

<div class="main-div">
    <form action="" method="POST">

        {% csrf_token %}
        <h1 class="heading"><a href="/selected-health-symptoms/{{farmID}}">Hogs Health & Symptoms</a> >  Add Mortality Record</h1>
        <div class="flex subheading">
            <p class="flex-item"> <strong>Series: </strong> {{series|stringformat:"03d"}} </p>
            <div><button class="primary-btn" type="submit">Send for Approval</button></div>
        </div>
        <div class="mobile-subheading">
            <p> <strong>Series: </strong> {{series|stringformat:"03d"}} </p>
        </div>
        <hr>

        <div class="box-style">
            <div class="flex subheading">
                <p class="flex-item">Add all mortality records here. </p>
                <div>
                    <button class="secondary-btn" type="button" onclick="addMortalityRow()" style="justify-content: flex-end;">+ Add Mortality Record</button> <!-- Adds another row -->
                </div>
            </div>
            <div class="mobile-subheading">
                <button class="secondary-btn" type="button" onclick="addMortalityRow()" style="justify-content: flex-end;">+ Add Mortality Record</button> <!-- Adds another row -->
           </div>

            <div class="input-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mortality Date</th>
                            <th width="10%">Beg. Inv.</th>
                            <th width="10%">Today</th>
                            <th width="10%">To Date</th>
                            <th>Source</th>
                            <th>Remarks</th>
                            <th style="text-align: right;">Mortality %</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="mortality-table">
                        <tr>
                            <td data-label="Mortality Date" id="mortality_date"> {{mortalityForm.mortality_date}} </td>                            
                            <td data-label="Beg. Inv." id="num_begInv" value="{{num_begInv}}"> {{num_begInv}} </td>
                            <td data-label="Today" id="num_today" onkeyup="computeMortality(this)"> {{mortalityForm.num_today}} </td>
                            <td data-label="To Date" id="num_toDate"> </td>
                            <td data-label="Source" id="source"> {{mortalityForm.source}} </td>
                            <td data-label="Remarks" id="remarks"> {{mortalityForm.remarks}} </td>
                            <td data-label="Mortality Rate" style="text-align: right;" id="mortality_rate">
                                99%
                            </td>
                            <td></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <p class="red">Please review the details of the form before submitting.</p>
        <div class="mobile-subheading"><button class="primary-btn" type="submit">Save</button></div>
    </form>
</div>
{% endblock section %}