<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Add Case</title>
{% endblock page_title %}

{% block section %}

{% include 'partials/messages.html' %}

<div class="main-div">
    <form action="" method="POST">

        {% csrf_token %}
        <h1 class="heading"><a href="/selected-health-symptoms">Hogs Health & Symptoms</a> >  Add Mortality Record</h1>
        <div class="flex subheading">
            <p class="flex-item"> <strong>Series: </strong> {{series}} </p>
            <div><button class="primary-btn" type="submit">Send for Approval</button></div>
        </div>
        <div class="mobile-subheading">
            <p> <strong>Series: </strong> {{series}} </p>
        </div>
        <hr>

        <div class="box-style">
            <div class="flex subheading">
                <p class="flex-item">Add all mortality records here. </p>
                <div>
                    <button class="secondary-btn" type="button" onclick="addMortalityRow()" style="justify-content: flex-end;">+ Add Mortality Record</button> <!-- Adds another row -->
                </div>
            </div>
            <div class="mobile-subheading">
                <button class="secondary-btn" type="button" onclick="addMortalityRow()" style="justify-content: flex-end;">+ Add Mortality Record</button> <!-- Adds another row -->
           </div>

            <div class="input-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Farm Code</th>
                            <th>Mortality Date</th>
                            <th width="10%">Beg. Inv.</th>
                            <th width="10%">Today</th>
                            <th width="10%">To Date</th>
                            <th>Source</th>
                            <th>Remarks</th>
                            <th style="text-align: right;">Mortality %</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="mortality-table">

                        <tr>
                            <td data-label="Farm Code" id="farms"> 
                                <div class="mb-3">
                                    <select id="farm-code-list" name="farm-code-list" class="form-select">
                                        {% for farm in farms %}
                                            {% if farm.id < 10 %}
                                                <option value="{{ farm.id }}" class="status">00{{farm.id}}</option>
                                            {% elif farm.id < 100 %}
                                                <option value="{{ farm.id }}" class="status">0{{farm.id}}</option>
                                            {% else %}
                                                <option value="{{ farm.id }}" class="status">{{farm.id}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </td>
                            <td data-label="Mortality Date" id="mortality_date"> {{mortalityForm.mortality_date}} </td>                            
                            <td data-label="Beg. Inv." id="num_begInv"> {{mortalityForm.num_begInv}} </td>
                            <td data-label="Today" id="num_today"> {{mortalityForm.num_today}} </td>
                            <td data-label="To Date" id="num_toDate"> {{mortalityForm.num_toDate}} </td>
                            <td data-label="Source" id="source"> {{mortalityForm.source}} </td>
                            <td data-label="Remarks" id="remarks"> {{mortalityForm.remarks}} </td>
                            <td data-label="Mortality Rate" style="text-align: right;" id="mortality_rate">
                                99%
                            </td>
                            <td></td>
                        </tr>
                        
                    </tbody>
                </table>

            </div>
            <br>

            <!-- Hidden depending on user -->

            <div id="activity-approvals">
                <h3> Checked by: </h3>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-pms">
                    <label class="form-check-label" for="cb-pms">Paiwi Management Staff</label>
                </div>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-ext-vet">
                    <label class="form-check-label" for="cb-ext-vet">Extension Veterinarian</label>
                </div>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-am">
                    <label class="form-check-label" for="cb-am">Assistant Manager</label>
                </div>
            </div>
        </div>
        <div class="mobile-subheading"><button class="primary-btn" type="submit">Save</button></div>
    </form>
</div>
{% endblock section %}