<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Add Mortality Record</title>
{% endblock page_title %}

{% block section %}

{% include 'partials/messages.html' %}

<div class="main-div">
    <form action="" method="POST">

        {% csrf_token %}
        <h1 class="heading"><a href="/health-symptoms">Hogs Health & Symptoms</a> > <a href="/selected-health-symptoms/{{farmID}}"> {{farmID}} </a> >  Add Mortality Record</h1>
        <div class="flex subheading">
            <p class="flex-item"> <strong>Series: </strong> {{series|stringformat:"03d"}} </p>
            <div><button class="primary-btn" type="submit">Save</button></div>
        </div>
        <div class="mobile-subheading">
            <p> <strong>Series: </strong> {{series|stringformat:"03d"}} </p>
        </div>
        <div hidden class="flex subheading"><strong>Mortality To Date:&nbsp; </strong> <p id="latest_toDate"> {{latest_toDate}} </p></div>
        <hr>

        <div class="box-style">
            <div class="flex subheading">
                <p class="flex-item">Add all mortality records here. </p>
                <div>
                    <button class="secondary-btn" type="button" onclick="addMortalityRow()" style="justify-content: flex-end;">+ Add Mortality Record</button> <!-- Adds another row -->
                </div>
            </div>
            <div class="mobile-subheading">
                <button class="secondary-btn" type="button" onclick="addMortalityRow()" style="justify-content: flex-end;">+ Add Mortality Record</button> <!-- Adds another row -->
           </div>

            <div class="input-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mortality Date</th>
                            <th width="10%">Beg. Inv.</th>
                            <th width="10%">Today</th>
                            <th width="10%">To Date</th>
                            <th>Mortality %</th>
                            <th width="20%">Source</th>
                            <th width="10%">Case No.</th>
                            <th width="15%">Remarks</th>
                        </tr>
                    </thead>
                    <tbody id="mortality-table">
                        <tr>
                            <td data-label="Mortality Date" id="mortality_date"> {{mortalityForm.mortality_date}} </td>                            
                            <td data-label="Beg. Inv." id="begInv" class="num_begInv" value="{{num_begInv}}"> {{num_begInv}} </td>
                            <td data-label="Today" id="today" onchange="computeMortality(this)"> {{mortalityForm.num_today}} </td>
                            <td data-label="To Date"> <p class="num_toDate">-</p> </td>
                            <td data-label="Mortality Rate"> <p class="mortality_rate">-</p> </td>
                            <td data-label="Source" id="source"> 
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sourceOptions" id="src-incident" value="Incident Case">
                                    <label class="form-check-label" for="src-incident">Incident Case</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sourceOptions" id="src-disease" value="Disease Case">
                                    <label class="form-check-label" for="src-disease">Disease Case</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sourceOptions" id="src-unknown" value="Unknown">
                                    <label class="form-check-label" for="src-unknown">Unknown</label>
                                </div>
                            </td>
                            <td data-label="Case No." id="case_no"> 
                                <!-- Dropdown content will depend on which source is selected -->
                                <select class="form-select" id="input-case" name="input-case">
                                    <option></option>
                                    {% for case in incid_cases %}
                                    <option>{{case.id}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td data-label="Remarks" id="remarks"> {{mortalityForm.remarks}} </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <p class="red">Please review the details of the form before submitting.</p>
        <div class="mobile-subheading"><button class="primary-btn" type="submit">Save</button></div>
    </form>
</div>
{% endblock section %}