<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Hogs Health</title>
{% endblock page_title %}

{% block section %}
<div class="table-container main-div">
    <h1 class="heading">Hogs Health & Symptoms</h1>
    <div class="legend legend-no-bg">
        <i style="background: #ED1E40"></i><span>Has Active Incidents</span><br>
    </div>
    <div class="box-style">
        {% if farmList|length > 0 %}
        <table class="table" id="mainTableid">
            <thead>
                <tr>
                    <th>Farm Code</th>
                    <th>Raiser</th>
                    <th>No. of Pigs</th>
                    <th>Ave. Starter Weight</th>
                    <th>Ave. Current Weight</th>
                    <th>Mortality Rate</th>
                    <th>Incidents Reported</th>
                    <th>Active Incidents</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Data -->
            
                {% for farm in farmList %}
                <tr class="health-row">
                    <td data-label="Farm Code">{{ farm.code }}</td>
                    <td data-label="Raiser">{{ farm.raiser }}</td>
                    <td data-label="No. of Pigs">{{ farm.pigs }}</td>
                    <td data-label="Ave. Starter Weight"> - </td>
                    <td data-label="Ave. Current Weight">{{ farm.ave_currWeight }}</td>
                    <td data-label="Mortality Rate">{{ farm.mortality_rate }}</td>
                    <td data-label="Incidents Reported">{{ farm.total_incidents }}</td>
                    <td data-label="Active Incidents" class="active-incid">{{ farm.total_active }}</td>
                    <td data-label="" class="td-btn">
                        <button class="secondary-btn" id="view-HealthSymptoms" onclick="viewHealthSymptoms(this)"><span class="material-icons md-18">visibility</span>View</button>
                    </td>
                </tr>    
                {% endfor %}          
            </tbody>            
        </table>
        {% else %}
        <div>
            <p> No farms to display. </p>
        </div>
        {% endif %}  
    </div>
</div>
{% endblock section %}
