<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Hogs Health</title>
{% endblock page_title %}

{% block section %}
<div class="table-container main-div">
    <div class="flex">
        <h1 class="heading flex-item">Hogs Health</h1>
        <div class="btn-group" style="justify-content: flex-end; padding: 0;">
            <div class="input-group mb-3  flex-item" style="margin-right: 4px;">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" id="hog_searchTextBoxid" onkeyup="filterHogsHealth()">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2"><i class='bx bx-search'></i></span>
                </div>
            </div>              
            <div class="dropdown">
                <button class="btn primary-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Filters
                </button>
                <ul class="dropdown-menu" style="padding: 8px;">
                    <label style="font-weight: 600;">Area</label>
                    {% for area in areaList %}
                    <li><a class="dropdown-item" href="#"><input type="checkbox" class="ch_hog_area" id="{{area.area_name}}"  onclick="filterHogsHealth()"/>&nbsp;{{area.area_name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="legend legend-no-bg">
        <i style="background: #ED1E40"></i><span>Has Active Incidents</span><br>
    </div>
    <div class="box-style">
        {% if farmList|length > 0 %}
        <table class="table" id="hog_mainTableid">
            <thead>
                <tr>
                    <th>Farm Code</th>
                    <th>Raiser</th>
                    <th>Area</th>
                    <th>No. of Pigs</th>
                    <th>Ave. Starter Weight</th>
                    <th>Ave. Fattener Weight</th>
                    <th>Mortality Rate</th>
                    <th>Incidents Reported</th>
                    <th>Active Incidents</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Data -->
                {% for farm in farmList %}
                <tr class="health-row">
                    <td data-label="Farm Code">{{ farm.code|stringformat:"03d" }}</td>
                    <td data-label="Raiser">{{ farm.raiser }}</td>
                    <td data-label="Area">{{ farm.area }}</td>
                    <td data-label="No. of Pigs">{{ farm.pigs }}</td>
                    <td data-label="Ave. Starter Weight"> {{ farm.ave_startWeight }} </td>
                    <td data-label="Ave. Current Weight">{{ farm.ave_endWeight }}</td>
                    <td data-label="Mortality Rate">{{ farm.mortality_rate }}</td>
                    <td data-label="Incidents Reported">{{ farm.total_incidents }}</td>
                    <td data-label="Active Incidents" class="active-incid">{{ farm.total_active }}</td>
                    <td data-label="" class="td-btn">
                        <button class="secondary-btn" id="view-HogsHealth" onclick="viewHogsHealth(this)"><span class="material-icons md-18">visibility</span>View</button>
                    </td>
                </tr>
                {% endfor %}                 
            </tbody>            
        </table>
        {% else %}
            <div>
                <p> No farms to display. </p>
            </div>
        {% endif %}   
    </div>
</div>
{% endblock section %}