<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Hogs Health {{ farm.code }} </title>
{% endblock page_title %}

{% block section %}

{% for mssg in messages %}
    {% if "selected-hogsHealth" in mssg.tags %}
        <div class="alert {{ mssg.tags }} alert-dismissible fade show overlay" role="alert">
            <div class="msg flex-item">{{ mssg }}</div>
            <button type="button" class="no-shadow close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endfor %}

<div class="main-div">
    <div class="flex">
        
        {% if farm.code < 10 %}
            <h1 class="heading flex-item"><a href="/hogs-health">Hogs Health </a> >  00{{ farm.code }}</h1>
        {% elif farm.code < 100 %}
            <h1 class="heading flex-item"><a href="/hogs-health">Hogs Health </a> >  0{{ farm.code }}</h1>
        {% else %}
            <h1 class="heading flex-item"><a href="/hogs-health">Hogs Health </a> >  {{ farm.code }}</h1>
        {% endif %}

        <div><a class="button primary-btn" href="/selected-farm/{{ farm.code }}">View Farm Details</a></div> <!--Redirect to assigned farm's page-->
    </div>
    <hr>
    <div class="flex">
        <section style="width: 30%; margin-right: 16px;">
            <h2>Farm Details</h2>
            <div class="box-style">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Raiser</td>
                            <td>{{ farm.raiser }}</td>
                        </tr>
                        <tr>
                            <th>Area</td>
                            <td>{{ farm.area }}</td>
                        </tr>
                        <tr>
                            <th>No. of Pigs</td>
                            <td>{{ farm.pigs }}</td>
                        </tr>
                        <tr>
                            <th>Ave. Starter Weight</td>
                            <td> - </td>
                        </tr>
                        <tr>
                            <th>Ave. Current Weight</td>
                            <td>{{ farm.ave_currWeight }}</td>
                        </tr>
                        <tr>
                            <th>Mortality Rate</td>
                            <td>{{ farm.mortality_rate }}</td>
                        </tr>
                        <tr>
                            <th>Incidents Reported</td>
                            <td>{{ farm.total_incidents }}</td>
                        </tr>
                        <tr>
                            <th>Active Incidents</td>
                            <td>{{ farm.total_active }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        
        <div style="width: 70%">
            <section>
                <h2>Incidents Reported</h2>
                <div class="box-style">
                    <table class="table" id="symptoms-reported">
                        <thead>
                            <tr>
                                <th>Incident Code</th>
                                <th>Date Reported</th>
                                <th>No. of Pigs Affected</th>
                                <th>Symptoms Observed</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for incident,symptoms in incident_symptomsList %}
                            <tr>
                                <td data-label="Incident Code">{{ incident.id }}</td>
                                <td data-label="Date Reported">{{ incident.date_filed }}</td>
                                <td data-label="No. of Pigs Affected">{{ incident.num_pigs_affected }}</td>
                                <td data-label="Symptoms Observed">  
                                    {% load healthapp_extras %}
                                    {% for sKey, sVal in symptoms.items %}
                                    <ul>
                                        {% if sVal %}
                                            <li>{{ sKey|formatField }}</li>
                                        {% endif %}
                                    </ul>
                                    {% endfor %}
                                </td>
                                <td data-label="Status" class="status"> {{ incident.report_status }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>

            <section>
                <h2>Mortality Records</h2>
                <div class="box-style">
                    <table class="table" id="mortality-records">
                        <thead>
                            <tr>
                                <th>Series</th>
                                <th>Mortality Date</th>
                                <th style="text-align: right;">Beg. Inv.</th>
                                <th style="text-align: right;">Today</th>
                                <th style="text-align: right;">To Date</th>
                                <th style="text-align: right;">Mortality %</th>
                                <th>Source</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mort, mRate in mortalityList %}
                            <tr>
                                <td data-label="Series">{{ mort.series }}</td>
                                <td data-label="Mortality Date">{{ mort.mortality_date }}</td>
                                <td data-label="Beg. Inv."  style="text-align: right;">{{ mort.num_begInv }}</td>
                                <td data-label="Today"  style="text-align: right;">{{ mort.num_today }}</td>
                                <td data-label="To Date"  style="text-align: right;">{{ mort.num_toDate }}</td>
                                <td data-label="Mortality %"  style="text-align: right;">{{ mRate }}</td>
                                <td data-label="Source">{{ mort.source }}</td>
                                <td data-label="Remarks">{{ mort.remarks }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

</div>
{% endblock section %}