<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Hogs Health 001 </title>
{% endblock page_title %}

{% block section %}
<div class="main-div">
    <div class="flex subheading">
        <h1 class="heading flex-item">Hogs Health</h1>
        <div class="dropdown">
            <a class="button primary-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              + Add New
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="/add-case">Incident Case</a></li>
              <li><a class="dropdown-item" href="#">Mortality Record</a></li>
            </ul>
        </div>
    </div>
    <section>
        <h2>Symptoms Reported</h2>
        <div class="box-style">
            <table class="table" id="symptoms-reported">
                <thead>
                    <tr>
                        <th>Incident Code</th>
                        <th>Date Reported</th>
                        <th>No. of Pigs Affected</th>
                        <th>Symptoms Observed</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for incident,symptoms in incident_symptomsList %}
                    <tr>
                        <td data-label="Incident Code">{{ incident.id }}</td>
                        <td data-label="Date Reported">{{ incident.date_filed }}</td>
                        <td data-label="No. of Pigs Affected">{{ incident.num_pigs_affected }}</td>
                        <td data-label="Symptoms Observed">  
                            {% load healthapp_extras %}
                            {% for sKey, sVal in symptoms.items %}
                            <ul>
                                {% if sVal %}
                                    <li>{{ sKey|formatField }}</li>
                                {% endif %}
                            </ul>
                            {% endfor %}
                        </td>
                        <td data-label="Status" class="status"> {{ incident.report_status }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h2>Mortality Records</h2>
        <div class="box-style">
      
        </div>
    </section>
</div>
{% endblock section %}