<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Hogs Health 001 </title>
{% endblock page_title %}

{% block section %}

{% for mssg in messages %}
    {% if "selected-healthSymp" in mssg.tags %}
        <div class="alert {{ mssg.tags }} alert-dismissible fade show overlay" role="alert">
            <div class="msg flex-item">{{ mssg }}</div>
            <button type="button" class="no-shadow close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endfor %}


<div class="main-div">
    <div class="flex subheading">
        <h1 class="heading flex-item">Hogs Health</h1>
        <div class="dropdown">
            <a class="button primary-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              + Add New
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="/add-case">Incident Case</a></li>
              <li><a class="dropdown-item" href="/add-mortality">Mortality Record</a></li>
            </ul>
        </div>
    </div>
    <section>
        <div class="flex">
            <h2 class="subheading flex-item">Incidents Reported</h2>
            <div class="dropdown">
                <button class="btn primary-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Filters
                </button>
                <ul class="dropdown-menu" style="padding: 8px;">
                    <label style="font-weight: 600;">Status</label>
                    <li><a class="dropdown-item" href="#"><input type="checkbox" class="ch_stat" id="Active" onclick="filterRepStatus()"/>&nbsp;Active</a></li>
                    <li><a class="dropdown-item" href="#"><input type="checkbox" class="ch_stat" id="Pending" onclick="filterRepStatus()"/>&nbsp;Pending</a></li>
                    <li><a class="dropdown-item" href="#"><input type="checkbox" class="ch_stat" id="Resolved" onclick="filterRepStatus()"/>&nbsp;Resolved</a></li>
                </ul>
            </div>
        </div>
        
        <div class="box-style">
            <table class="table" id="symptoms-reported">
                <thead>
                    <tr>
                        <th>Incident Code</th>
                        <th>Date Reported</th>
                        <th style="width: 10%">No. of Pigs Affected</th>
                        <th style="width: 35%">Symptoms Observed</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for incident,symptoms,editStat in incident_symptomsList %}
                    <tr>
                        <td data-label="Incident Code">{{ incident.id }}</td>
                        <td data-label="Date Reported">{{ incident.date_filed }}</td>
                        <td data-label="No. of Pigs Affected">{{ incident.num_pigs_affected }}</td>
                        <td data-label="Symptoms Observed">  
                            {% load healthapp_extras %}
                            {% for sKey, sVal in symptoms.items %}
                            <ul>
                                {% if sVal %}
                                    <li>{{ sKey|formatField }}</li>
                                {% endif %}
                            </ul>
                            {% endfor %}
                        </td>

                        <td data-label="Status">
                            <input type="hidden" id="hidden-status" value="{{incident.report_status}}">

                            <div class="mb-3">
                                <select id="dropdown-repstatus" aria-label="Status" class="form-select status" disabled>
                                    {% if incident.report_status == 'Active' %}
                                        <option value="Active" class="status" selected>Active</option>
                                    {% else %}
                                        <option value="Active" class="status">Active</option>
                                    {% endif %}

                                    {% if incident.report_status == 'Pending' %}
                                        <option value="Pending"  class="status" selected>Pending</option>
                                    {% else %}
                                        <option value="Pending"  class="status">Pending</option>
                                    {% endif %} 

                                    {% if incident.report_status == 'Resolved' %}
                                        <option value="Resolved"  class="status" selected>Resolved</option>
                                    {% else %}
                                        <option value="Resolved"  class="status">Resolved</option>
                                    {% endif %} 
                                </select>
                            </div>
                        </td>
                        {% if editStat %}
                        <td class="symptoms-btn-grp">
                            <div class="btn-group" style="justify-content: end; padding: 0;">
                                <button class="secondary-btn symptomsEdit" id="editStatus-{{incident.id}}"><span class="material-icons md-18">edit</span>Edit</button>
                                <button class="secondary-btn symptomsSave" id="saveStatus-{{incident.id}}" onclick="editRepStatus('{{incident.id}}')"><span class="material-icons md-18">save</span>Save</button>
                            </div>
                        </td>
                        {% endif%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h2>Mortality Records</h2>
        <div class="box-style">
            <table class="table" id="mortality-records">
                <thead>
                    <tr>
                        <th>Series</th>
                        <th>Farm Code</th>
                        <th>Mortality Date</th>
                        <th style="text-align: right;">Beg. Inv.</th>
                        <th style="text-align: right;">Today</th>
                        <th style="text-align: right;">To Date</th>
                        <th style="text-align: right;">Mortality %</th>
                        <th>Source</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mort, mRate in mortalityList %}
                    <tr>
                        <td data-label="Series">{{ mort.series }}</td>
                        <td data-label="Farm Code">{{ farm_code }}</td>
                        <td data-label="Mortality Date">{{ mort.mortality_date }}</td>
                        <td data-label="Beg. Inv."  style="text-align: right;">{{ mort.num_begInv }}</td>
                        <td data-label="Today"  style="text-align: right;">{{ mort.num_today }}</td>
                        <td data-label="To Date"  style="text-align: right;">{{ mort.num_toDate }}</td>
                        <td data-label="Mortality %"  style="text-align: right;">{{ mRate }}</td>
                        <td data-label="Source">{{ mort.source }}</td>
                        <td data-label="Remarks">{{ mort.remarks }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock section %}