<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
<title>SIDC-HDSS | Hogs Health {{ farm.code|stringformat:'03d' }} </title>
{% endblock page_title %}

{% block section %}

<div class="main-div">
    <div class="flex">
        <h1 class="heading flex-item"><a href="/hogs-health">Hogs Health </a> >  {{ farm.code|stringformat:"03d" }}</h1>
        <div><a class="button primary-btn" href="/selected-farm/{{ farm.code|stringformat:'03d' }}">View Farm Details</a></div> <!--Redirect to assigned farm's page-->
    </div>
    <div class="flex">
        <div class="input-group mb-3">
            <label class="form-label" style="font-weight: 600;">Batch </label>
            <select class="form-select" name="hogs-health-version" id="hogs-health-version" style="margin-bottom: 0; width: 100px">
                {% if latest.id == selectedPigpen.id %}
                <option hidden value="{{farm.code|stringformat:'03d'}}-{{selectedPigpen.id}}">{{selectedPigpen.date_added}} (Current)</option>
                {% else %}
                <option hidden value="{{farm.code|stringformat:'03d'}}-{{selectedPigpen.id}}">{{selectedPigpen.date_added}} - {{prev}}</option>
                {% endif %}

                {% for ver in version %}
                    {% if latest.id == ver.id %}
                    <option value="{{farm.code|stringformat:'03d'}}-{{ver.id}}">{{ver.date_added}} (Current)</option>
                    {% else %}
                    <option value="{{farm.code|stringformat:'03d'}}-{{ver.id}}">{{ver.date_added}} - {{ver.endDate}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <p class="flex-item"></p>
        <p class="flex-item"></p>
    </div>
    <hr>
    <div class="flex hogs-health-flex">
        <div class="section-health-left">
            <section>
                <h2>Farm Details</h2>
                <div class="box-style">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Raiser</td>
                                <td data-label="Raiser">{{ farm.raiser }} ({{ farm.r_mem_code }})</td>
                            </tr>
                            <tr>
                                <th>Area</td>
                                <td data-label="Area">{{ farm.area }}</td>
                            </tr>
                            <tr>
                                <th>No. of Pigs</td>
                                <td data-label="No. of Pigs">{{ farm.pigs }} pigs</td>
                            </tr>
                            <tr>
                                <th>Mortality Rate</td>
                                <td data-label="Mortality Rate">{{ farm.mortality_rate }}%</td>
                            </tr>
                            <tr>
                                <th>Incidents Reported</td>
                                <td data-label="Incidents Reported">{{ farm.total_incidents }}</td>
                            </tr>
                            <tr>
                                <th>Active Incidents</td>
                                <td data-label="Active Incidents">{{ farm.total_active }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h2>Weight Slip Details (Starter)</h2>
                <div class="box-style">
                    {% if farm.start_weight %}
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Date Filed</td>
                                <td>{{ farm.start_weight.date_filed }}</td>
                            </tr>
                            <tr>
                                <th>Ave. Starter Weight</td>
                                <td>{{ farm.start_weight.ave_weight }} kg</td>
                            </tr>
                            <tr>
                                <th>Total No. of Heads</td>
                                <td>{{ farm.start_weight.total_numHeads }} heads</td>
                            </tr>
                            <tr>
                                <th>Total Weight</td>
                                <td>{{ farm.start_weight.total_kls }} kg</td>
                            </tr>
                            
                            <tr>
                                <th>Remarks</td>
                                {% if farm.start_weight.remarks %}
                                <td>{{ farm.start_weight.remarks }}</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            
                        </tbody>
                    </table>
                    {% else %}
                    <p>No Starter Weight Slip yet.</p>
                    {% endif %}
                </div>
                <h2>Weight Slip Details (Fattener)</h2>
                <div class="box-style">
                    {% if farm.end_weight %}
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Date Filed</td>
                                <td>{{ farm.end_weight.date_filed }}</td>
                            </tr>
                            <tr>
                                <th>Ave. Fattener Weight</td>
                                <td>{{ farm.end_weight.ave_weight }} kg</td>
                            </tr>
                            <tr>
                                <th>Total No. of Heads</td>
                                <td>{{ farm.end_weight.total_numHeads }} heads</td>
                            </tr>
                            <tr>
                                <th>Total Weight</td>
                                <td>{{ farm.end_weight.total_kls }} kg</td>
                            </tr>

                            <tr>
                                <th>Remarks</td>
                                {% if farm.end_weight.remarks %}
                                <td>{{ farm.end_weight.remarks }}</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Total Pigs Reached Market Weight</th>
                                <td>{{ weightList.5 }}</td>
                            </tr>

                        </tbody>
                    </table>
                    {% else %}
                    <p>No Fattener Weight Slip yet.</p>
                    {% endif %}
                </div>

                {% if farm.end_weight %}
                <h2>Fattener Weight Range</h2>
                <div class="box-style">
                    <!-- <div class="box-style-chart" id="wr-hogs-weight" style="width: 100%; height: 250px; ">
                    </div> -->
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>59 kg and below</td>
                                <td>{{ weightList.0 }}</td>
                            </tr>
                            <tr>
                                <th>60-79 kg</td>
                                <td>{{ weightList.1 }}</td>
                            </tr>
                            <tr>
                                <th>80-99 kg</td>
                                <td>{{ weightList.2 }}</td>
                            </tr>
                            <tr>
                                <th>100-119 kg</td>
                                <td>{{ weightList.3 }}</td>
                            </tr>
                            <tr>
                                <th>120 kg and above</td>
                                <td>{{ weightList.4 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endif %}

            </section>
        </div>
        
        
        <div class="section-health-right">
            <section>
                <h2>Incidents Reported</h2>
                <div class="box-style">
                    {% if total_incidents > 0 %}
                    <table class="table" id="symptoms-reported">
                        <thead>
                            <tr>
                                <th>Incident Code</th>
                                <th>Date Reported</th>
                                <th>No. of Pigs Affected</th>
                                <th>Symptoms Observed</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for incident,symptoms in incident_symptomsList %}
                            <tr>
                                <td data-label="Incident Code">{{ incident.id }}</td>
                                <td data-label="Date Reported">{{ incident.date_filed }}</td>
                                <td data-label="No. of Pigs Affected">{{ incident.num_pigs_affected }} pigs</td>
                                <td data-label="Symptoms Observed">  
                                    {% load healthapp_extras %}
                                    {% for sKey, sVal in symptoms.items %}
                                    <ul>
                                        {% if sVal %}
                                            <li>{{ sKey|formatField }}</li>
                                        {% endif %}
                                    </ul>
                                    {% endfor %}
                                </td>
                                <td data-label="Status" class="status"> {{ incident.report_status }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <div>
                            <p> This farms has no incidents yet. </p>
                        </div>
                    {% endif %}   
                </div>
            </section>

            <section>
                <h2>Mortality Records</h2>
                <div class="box-style">
                    {% if total_mortalities > 0 %}
                    <table class="table" id="mortality-records">
                        <thead>
                            <tr>
                                <th>Series</th>
                                <th>Mortality Date</th>
                                <th style="text-align: right;">Beg. Inv.</th>
                                <th style="text-align: right;">Today</th>
                                <th style="text-align: right;">To Date</th>
                                <th style="text-align: right;">Mortality %</th>
                                <th>Case Reference</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mort, mRate, mCase in mortalityList %}
                            <tr>
                                <td data-label="Series">{{ mort.series|stringformat:"03d" }}</td>
                                <td data-label="Mortality Date">{{ mort.mortality_date }}</td>
                                <td data-label="Beg. Inv." style="text-align: right;">{{ mort.num_begInv }} pigs</td>
                                <td data-label="Today" style="text-align: right;">{{ mort.num_today }} pigs</td>
                                <td data-label="To Date" style="text-align: right;">{{ mort.num_toDate }} pigs</td>
                                <td data-label="Mortality %" style="text-align: right;">{{ mRate }}%</td>
                                {% if mort.source == 'Incident Case' %}
                                <td data-label="Incident Case">Incident Case {{ mCase }}</td>
                                {% elif mort.source == 'Disease Case' %}
                                <td data-label="Incident Case">Disease Case {{ mCase }}</td>
                                {% else %}
                                <td data-label="Incident Case">Unknown</td>
                                {% endif %}
                                <td data-label="Remarks">{{ mort.remarks }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <div>
                            <p> This farms has no mortality records yet. </p>
                        </div>
                    {% endif %}   
                </div>
            </section>
        </div>

</div>
{% endblock section %}