
/* Overwriting Bootsrap alert styles */
.alert {
    margin: 24px;
    display: flex;
    justify-self: center;
}

.overlay {
    height: auto;
    position: absolute;
    top: 60px;
    left: 15%;
    right: 15%;
    opacity: 1;
    z-index: 100;
}

.overlay-death {
    height: auto;
    position: absolute;
    top: 60px;
    left: 5%;
    right: 5%;
    opacity: 1;
    z-index: 100;
}

.msg { margin: auto; }

/* Highlighted rows */
.highlight-red { 
    color: #FFF;
    background-color: #ED1E40;
}

.highlight-red button {
    color: #FFF;
}

.highlight-red button:hover {
    color: #333;
    background-color: #FFF;
}