.input-group-fix {
    height: 34px;
    margin-top: 16px;
}

.option-other {
    display: none;
}

#biosec-details {
    margin-bottom: 24px;
    /* display: none; */
}

/* Displaying disabled forms */
.form-check-input, .form-check-label {
    opacity: 1!important;
}

/* Overwriting Bootstrap CCS */
.form-select, .form-datalist, .form-control, .form-check-input {
    margin-bottom: 16px;
    font-size: 14px;
    font-family: 'Roboto';
}

#new-area .form-control {
    margin-bottom: 0;
}

input[type="checkbox"]:checked {
    background-color: #006633;
    border-color: #006633;
}

.mb-3 {
    margin-bottom: 0!important;
}

.form-check-label {
    padding-left: 8px;
}

.table tbody tr td .form-control {
    margin-bottom: 0;
}

.input-group {
    vertical-align: middle;
}

.input-group-text i {
    font-size: 1.5rem;
}

textarea {
    height: 280px;
}

.date-range .form-control {
    margin-bottom: 0!important;
}

.filters .form-label {
    margin: 0!important;
}

.symptoms-checklist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
/* Responsive Styles */
@media (max-width: 848px) {
    .table .flex, .flex-item {
        display: inline-block;
        min-width: 100%;
        vertical-align: middle;
    }
}

.activity-input, .mortality-input, .pigpen-input, .weight-input, .incident-case, .disease-case, .showDisInput {
    display: none;
}