/* All Responsive Styles */

/* General, Typography, etc */
@media screen and (max-width: 848px) {
    body {
        font-family: 'Roboto'; 
        font-size: 0.875rem;
        line-height: 1rem;
        box-sizing: border-box;
    }

    h1, h1 a { font-size: 1.5rem; font-family: 'Public Sans'; font-weight: 600; }
    h2 { font-size: 1rem; font-family: 'Public Sans'; font-weight: 600; }
    h3 { font-size: 0.875rem; font-family: 'Public Sans'; font-weight: 600; }
    p, label { font-size: 0.875rem; font-family: 'Roboto'; }
    ul .li-symptoms { list-style: none!important;}
    .ul-symptoms { padding-left: 0;}

    .flex-item { padding: 0; }
    .main-div { margin: 16px!important; }

    .subheading { display: none; }
    .mobile-subheading { opacity: 1; margin-bottom: 8px; min-height: 40px;}
    .button i, button i { text-align: center; align-items: center;}

    .flex-form {
        flex-direction: column;
        padding: 0;
    }
}

@media screen and (max-width: 420px) {
    /* Sidebar */
    .sidebar {
        position: fixed;
        height: 100%;
        max-height: 848px;
        width: 100%;
        background: #FFF;
        z-index: 101;
    }

    .sidebar #sidebar-close {
        font-size: 1.25rem!important;
        display: block;
        position: absolute;
        right: 16px; 
    }

    /* Topbar */
    .content-section .topbar { width: 100%; padding: 0 16px;}
    .rp-text { display: block; }
    .text { display: none; }

    /* Notifications */
    .notif-box {
        max-width: none;
        max-height: 632px;
        height: 100%;
        left: 16px;
        right: 16px;
    }

}

/* Tables */
@media screen and (max-width: 848px) {
    .table thead, .table th {
        display: none;
        border-bottom: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 16px;
    }

    .table tbody tr td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    #biosec-checklists .table tbody tr td,
    #checklist-form .table tbody tr td {
        text-align: left;
        padding-left: 0;
        position: relative;
    }

    .table tbody tr .td-btn {
        display: flex;
        justify-content: end;
    }

    .table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 16px;
        text-align: left;
        font-weight: 600;
    }

    /* Buttons, icons */
    button, .button {
        font-size: 0.75rem;
    }

    .bx {
        padding-right: 4px;
    }

    .bx-printer {
        font-size: 0.75rem!important;
        padding-right: 4px;
    }
}