@import url('https://fonts.googleapis.com/css?family=Public+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:table;
    background: #E9E9E9;
}

body {
    display: table-cell;
    vertical-align: middle;
    color: #333;
}

* {
    font-family: 'Roboto'; 
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
}

/* Typography Styles */
h1, h1 a { font-size: 32px; font-family: 'Public Sans'; font-weight: 600; }
h1 a .bx-chevron-left { font-size: 42px!important; vertical-align: text-bottom; margin-bottom: -4px; }
h2 { font-size: 24px; font-family: 'Public Sans'; font-weight: 600; }
h3 { font-size: 16px; font-family: 'Public Sans'; font-weight: 600; }
p { font-size: 14px; font-family: 'Roboto'; margin-bottom: 0 !important;}
label { font-weight: 400; padding-right: 8px;}
.bold-lbl { font-weight: 600;}
a { text-decoration: none; color: #333;}
a:hover { color: #006633}
ul, li { list-style: none;}


/* General Styles */
.main-div {
    margin: 24px;
}

.box-style {
    background: #FFF;
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.04);
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 24px;
    position: relative;
}

.fit-content {
    display: table; /* shrinks to fit content */
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    max-width: 100%;
    vertical-align: middle;
}

.flex-item {
    flex-grow: 1;
    width: 50%;
    padding-right: 16px;
}

.dd-flex-item-left {
    flex-grow: 1;
    width: 30%;
    padding-right: 16px;
}

.dd-flex-item-right {
    flex-grow: 2;
    width: 70%;
}

.subheading {
    vertical-align: middle;
    padding-bottom: 8px;
}

.mobile-subheading { opacity: 0; height: 8px; }
.heading .box-style .input-group { width: 40%!important; }

.content-section {
    position: relative;
    left: 264px;
    width: calc(100% - 264px);
    height: 100vh;
}

section {
    margin-bottom: 24px;
}

#notfound {
    text-align: center;
    align-items: center;
}

/* Button Styles */
button, .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: 0.5px;
    box-shadow: 0px 4px 8px rgba(51, 51, 51, 0.08);
}

.button {
    display: table;
    max-width: 208px;
    text-decoration: none;
}

.primary-btn {
    background: #006633;
    color: #FFF;
}

.primary-btn-red {
    background: #ED1E40;
    color: #FFF;
}

.primary-btn:disabled, .primary-btn-red:disabled {
    background: #D3D3D3; 
    color:#AAAAAA;
}

.secondary-btn {
    box-shadow: 0;
    border: solid 0.5px;
    background: none;
    box-shadow: none;
    color:#006633;
}

.secondary-btn-red {
    box-shadow: 0;
    border: solid 0.5px;
    background: none;
    box-shadow: none;
    color:#ED1E40;
}

.text-btn {
    box-shadow: 0;
    border: none;
    background: none;
    box-shadow: none;
    color:#006633;
}

.text-btn-red {
    box-shadow: 0;
    border: none;
    background: none;
    box-shadow: none;
    color:#ED1E40;
}

button span, .button span, button i, .button i {
    padding-right: 4px;
    vertical-align: text-bottom;
}

button:hover, .button:hover, .primary-btn:hover{
    background: #1F5019;
    color:#FFF;
}

.primary-btn-red:hover {
    background: #BB0A1E;
    color: #FFF;
}

.text-btn:hover {
    box-shadow: 0;
    border: none;
    background: none;
    box-shadow: none;
    color:#006633;
}

.secondary-btn:hover {
    background: #006633;
    color:#FFF;
}

.bx {
    font-size: 1.5rem !important; 
    padding: 0;
}

.bx-printer {
    font-size: 14px!important;
    padding-right: 4px;
}

/* Save button for technician assignment */
.assignSave, .assignEdit {
    margin-right: 4px;
}

.assignSave {
    display: none;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }


/* Overriding Bootstrap Styles */
.btn-outline-primary {
    border-color: #333;
    color: #333;
}

.btn-outline-primary:hover {
    color: #FFF;
    background:#006633;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active, input[type="checkbox"]:checked {
    color: #FFF;
    background-color: #006633!important;
    border-color: #006633!important;
}

.dropdown-item:active {
    background: #006633!important;
}