@import url('https://fonts.googleapis.com/css?family=Public+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:table;
    background: #E9E9E9;
}

body {
    display:table-cell;
    vertical-align:middle;
}

* {
    font-family: 'Roboto'; 
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
}

/* Typography Styles */
h1 { font-size: 56px; font-family: 'Public Sans'; font-weight: 600; }
h2 { font-size: 48px; font-family: 'Public Sans'; font-weight: 600; }
h3 { font-size: 40px; font-family: 'Public Sans'; font-weight: 600; }
h4 { font-size: 36px; font-family: 'Public Sans'; font-weight: 600; }
h5 { font-size: 24px; font-family: 'Public Sans'; font-weight: 600; }
h6 { font-size: 16px; font-family: 'Public Sans'; font-weight: 400; }
p { font-size: 14px; font-family: 'Roboto'; }

/* General Styles */
.box-style {
    background: #FFF;
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.04);
    border-radius: 4px;
    padding: 24px;
    margin: 8px;
    position: relative;
}

.fit-content {
    display: table; /* shrinks to fit content */
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-section {
    position: relative;
    left: 264px;
    width: calc(100% - 264px);
    height: 100vh;
}

/* Button Styles */
button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(51, 51, 51, 0.02);
}

.primary-btn {
    background: #006633;
    color: #FFF;
}

/* Overwriting Bootstrap CCS */
.form-control {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    font-family: 'Roboto';
}