/* Tables */
table, thead {
    border-spacing: 16px;
    padding: 0;
}

tr {
    vertical-align: text-top;
    border-bottom-width: 0.5px;
    border-color: #AAAAAA;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tbody tr hd button {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.table .table-total {
    border-top: solid 2px; 
    border-color: #333 !important;
}

.table .second-header {
    border-bottom: solid 2px; 
    border-color: #333 !important;
    color: #006633;
}

.small-table {
    max-width: 920px;
}