.content-section { height: 100% }

.content-section .topbar {
    height: 60px;
    display: flex;
    align-items: center;
    background: #FAFAFA;
    justify-content: space-between;
    padding: 0px 24px;
    margin-bottom: 24px;
    z-index: 100;
}

.content-section .topbar .menu-text {
    height: 60px;
    display: flex;
    align-items: center;
}

.content-section .topbar .bx-menu,
.content-section .topbar .text,
.content-section .topbar .notification {
    color: #333;
    font-size: 24px;
}

.content-section .topbar .text {
    font-size: 14px;
    padding-top: 2px;
    font-weight: 500px;
}

.content-section .topbar .bx-menu {
    margin-right: 24px;
}

.content-section .topbar .bx-menu:hover {
    color: #006633;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.rp-text {
    display: none;
}

/* Notification Styles */
.notif-icon {
    cursor: pointer;
}

.notif-icon span {
    background: #ED1E40;
    padding: 3px 4px;
    border-radius: 50%;
    color: #FFF;
    vertical-align: top;
    margin-left: -24px;
    font-size: 10px;
    /* opacity: 0;  */
}

.notif-icon i {
    width: 40px;

    margin-top: 8px !important; 
    display: inline-block;
}

.notif-icon:hover {
    opacity: .88;
}

.notif-box {
    opacity: 0;
    height: 0;
    max-height: 480px;
    max-width: 300px;
    position: absolute !important;
    top: 72px;
    right: 24px;
    padding-bottom: 24px;

    /* Enable scrolling */
    overflow: hidden;
    overflow-y: scroll; 
    -ms-overflow-style: none;  /* Hide scrollbar for  IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for  Firefox */

/* From .box-style */
    background: #FFF;
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.04);
    border-radius: 4px;
}

.notif-box::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.notif-box::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
}

.notif-box .notif-header {
    background: #FFF;
    margin: 0;
    padding: 16px 24px;
    z-index: 1;
    border-bottom: solid 1px;
    border-color: #333;
}

.notif-box .notif-item {
    padding: 24px;
    border-bottom: solid 0.5px;
    border-color: #F2F2F2;
}

.notif-box .notif-item:hover {
    background: #FAFAFA;
}

.notif-box .notif-label {
    font-weight: 600;
}

.notif-urgent{
    color: #ED1E40;
}



