<!DOCTYPE html>
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Dashboard</title>
{% endblock page_title %}

{% block section %}

<div class="table-container main-div">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="overviewmap-tab" data-bs-toggle="tab" data-bs-target="#overviewmap" type="button" role="tab" aria-controls="overviewmap" aria-selected="true">
              Farms Overview
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="symptomsmonitor-tab" data-bs-toggle="tab" data-bs-target="#symptomsmonitor" type="button" role="tab" aria-controls="symptomsmonitor" aria-selected="false">
              Symptoms Monitoring
          </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="diseasemonitor-tab" data-bs-toggle="tab" data-bs-target="#diseasemonitor" type="button" role="tab" aria-controls="diseasemonitor" aria-selected="false" onclick="diseaseChart('ASF');">
                Disease Monitoring
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <!-- Overview and Map Tab -->
        <div class="tab-pane fade show active" id="overviewmap" role="tabpanel" aria-labelledby="overviewmap-tab">
            
            <!-- Overview, Alerts -->
            <section>
            <div class="block-grid" style="height: 80vh">
                <div>
                     <!-- Overview -->
                     <h3 class="heading">Overview</h3>
                     <div class="overview">
                         <div class="overview-item">
                             <div class="ov-icon">
                                 <i class='bx bx-home'></i>
                             </div>
                             <div class="ov-info">
                                 <h2 id="total-farms">{{ fStats.total_farms }}</h2>
                                 <label for="total-farms">Total Farms</label>
                             </div>
                         </div>
                         <div class="overview-item">
                             <div class="ov-icon">
                                 <i class='bx bx-home-circle' ></i>
                             </div>
                             <div class="ov-info">
                                 <h2 id="total-hogs">{{ fStats.total_pigs }}</h2>
                                 <label for="total-hogs">Total Hogs</label>
                             </div>
                         </div>
                         <div class="overview-item">
                             <div class="ov-icon">
                                 <i class='bx bx-intersect' ></i>
                             </div>
                             <div class="ov-info">
                                 <h2 id="ave-int">{{ fStats.ave_intbio }}% </h2>
                                 <label for="ave-int">Ave. Int. Biosecurity Score</label>
                             </div>
                         </div>
                         <div class="overview-item">
                             <div class="ov-icon">
                                 <i class='bx bx-exclude' ></i>
                             </div>
                             <div class="ov-info">
                                 <h2 id="ave-ext">{{ fStats.ave_extbio }}% </h2>
                                 <label for="ave-ext">Ave. Ext. Biosecurity Score</label>
                             </div>
                         </div>
                         <div class="overview-item">
                             <div class="ov-icon">
                                 <i class='bx bxs-x-circle'></i>
                             </div>
                             <div class="ov-info">
                                 <h2 id="ave-mortality">{{ fStats.ave_mortRate }}% </h2>
                                 <label for="ave-mortality">Ave. Mortality Rate</label>
                             </div>
                         </div>
                     </div>

                    <div class="alerts">
                            <h3 class="heading">Alerts</h3>
                            <div class="alerts-content">
                                <!-- Disease possibility -->
                                <div class="alerts-item" id="disease-alert">
                                    <div class="al-icon">
                                        <i class='bx bx-network-chart' ></i>
                                    </div>
                                    <div class="al-info">
                                        <h2 id="total-farms">0.1%</h2>
                                        <label for="total-farms">Disease Spread Possibility</label>
                                    </div>
                                </div>
                                <!-- others -->
                                <a href="/farms">
                                    <div class="alerts-item">
                                        <div class="al-icon">
                                            <i class='bx bx-search-alt' ></i>
                                        </div>
                                        <div class="al-info">
                                            <h2 id="total-farms">{{ fStats.total_needInspect }}</h2>
                                            <label for="total-farms">Farms Need Inspection</label>
                                        </div>
                                    </div>
                                </a>
                                <a href="/hogs-health">
                                    <div class="alerts-item">
                                        <div class="al-icon">
                                            <i class='bx bx-first-aid'></i>
                                        </div>
                                        <div class="al-info">
                                            <h2 id="total-farms">{{ fStats.total_active }}</h2>
                                            <label for="total-farms">New Incidents Reported</label>
                                        </div>
                                    </div>
                                </a>
                            </div>
                    </div>
                </div>
                
                <!-- Charts, Map -->
                <div>
                    <div class="flex">
                        <!-- Activities -->
                        <div class="flex-item">
                            <h3>Activities</h3>
                            <div class="box-style-chart" id="dm-activities" style="width: 100%; height: 278px;">
                                <!-- Data handled in disease-monitoring.js -->
                            </div>
                        </div>
                    
                        <!-- Weight Range -->
                        <div class="flex-item" style="margin-right: 0px!important;">
                            <h3>Fattener Weight Range</h3>
                            <div class="box-style-chart" id="wr-weight" style="width: 100%; height: 278px; ">
                                <!-- Data handled in weight-range.js -->
                            </div>
                        </div>
                        
                    </div>
                    
                    <!-- Map -->
                    <div class="map">
                        <h3 class="heading">Map</h3>
                        <div class="map-box">
                                <div id="map-container">
                                    <!-- Data handled in map.js -->
                                </div>
                        </div>
                    </div>
                </div>
                
            </div>
            </section>
        </div>
        <!-- Symptoms Monitoring Tab -->
        <div class="tab-pane fade" id="symptomsmonitor" role="tabpanel" aria-labelledby="symptomsmonitor-tab">
            {% include 'dsstemp/symptoms-monitoring.html' %}
        </div>
        <!-- Disease Monitoring Tab -->
        <div class="tab-pane fade" id="diseasemonitor" role="tabpanel" aria-labelledby="diseasemonitor-tab">
            {% include 'dsstemp/disease-monitoring.html' %}
        </div>
    </div>
    
    
</div>
{% endblock section %}