<!DOCTYPE html>
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Dashboard</title>
{% endblock page_title %}

{% block section %}

<div class="table-container main-div">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="overviewmap-tab" data-bs-toggle="tab" data-bs-target="#overviewmap" type="button" role="tab" aria-controls="overviewmap" aria-selected="true">
              Overview and Map
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="diseasemonitor-tab" data-bs-toggle="tab" data-bs-target="#diseasemonitor" type="button" role="tab" aria-controls="diseasemonitor" aria-selected="false">
              Disease Monitoring
          </button>
        </li>
    </ul>
    <br>
    <div class="tab-content">
        <!-- Overview and Map Tab -->
        <div class="tab-pane fade show active" id="overviewmap" role="tabpanel" aria-labelledby="overviewmap-tab">
            <!-- Overview -->
            <section id="overview">
                <h3 class="heading">Overview</h3>
                <div class="overview">
                    <div class="overview-item">
                        <div class="ov-icon">
                            <i class='bx bx-home'></i>
                        </div>
                        <div class="ov-info">
                            <h2 id="total-farms">{{ fStats.total_farms }}</h2>
                            <label for="total-farms">Total Farms</label>
                        </div>
                    </div>
                    <div class="overview-item">
                        <div class="ov-icon">
                            <i class='bx bx-home-circle' ></i>
                        </div>
                        <div class="ov-info">
                            <h2 id="total-hogs">{{ fStats.total_pigs }}</h2>
                            <label for="total-hogs">Total Hogs</label>
                        </div>
                    </div>
                    <div class="overview-item">
                        <div class="ov-icon">
                            <i class='bx bx-intersect' ></i>
                        </div>
                        <div class="ov-info">
                            <h2 id="ave-int">{{ fStats.ave_intbio }}% </h2>
                            <label for="ave-int">Ave. Int. Biosecurity Score</label>
                        </div>
                    </div>
                    <div class="overview-item">
                        <div class="ov-icon">
                            <i class='bx bx-exclude' ></i>
                        </div>
                        <div class="ov-info">
                            <h2 id="ave-ext">{{ fStats.ave_extbio }}% </h2>
                            <label for="ave-ext">Ave. Ext. Biosecurity Score</label>
                        </div>
                    </div>
                    <div class="overview-item">
                        <div class="ov-icon">
                            <i class='bx bx-exclude' ></i>
                        </div>
                        <div class="ov-info">
                            <h2 id="ave-mortality">{{ fStats.ave_mortRate }}% </h2>
                            <label for="ave-mortality">Ave. Mortality Rate</label>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Alerts, Map -->
            <section>
            <div class="block-grid">
                <div>
                    <!-- Activities -->
                    <h3>Activities</h3>
                    <div class="box-style-chart" id="dm-activities" style="width: 100%; height: 300px;">
                        <!-- Data handled in disease-monitoring.js -->
                    </div>
                    <div class="alerts">
                            <h3 class="heading">Alerts</h3>
                            <div class="alerts-content">
                                <!-- Disease possibility -->
                                <div class="alerts-item" id="disease-alert">
                                    <div class="al-icon">
                                        <i class='bx bx-network-chart' ></i>
                                    </div>
                                    <div class="al-info">
                                        <h2 id="total-farms">0.1%</h2>
                                        <label for="total-farms">Disease Spread Possibility</label>
                                    </div>
                                </div>
                                <!-- others -->
                                <a href="/farms">
                                    <div class="alerts-item">
                                        <div class="al-icon">
                                            <i class='bx bx-search-alt' ></i>
                                        </div>
                                        <div class="al-info">
                                            <h2 id="total-farms">{{ fStats.total_needInspect }}</h2>
                                            <label for="total-farms">Farms Need Inspection</label>
                                        </div>
                                    </div>
                                </a>
                                <a href="/hogs-health">
                                    <div class="alerts-item">
                                        <div class="al-icon">
                                            <i class='bx bx-first-aid'></i>
                                        </div>
                                        <div class="al-info">
                                            <h2 id="total-farms">{{ fStats.total_active }}</h2>
                                            <label for="total-farms">New Incidents Reported</label>
                                        </div>
                                    </div>
                                </a>
                            </div>
                    </div>
                </div>
                
                <!-- Map -->
                <div class="map">
                    <h3 class="heading">Map</h3>
                    <div class="box-style" style="padding: 8px!important;">
                            <div id="map-containter">
                                <!-- Data handled in map.js -->
                            </div>
                    </div>
                </div>
            </div>
            </section>
        </div>
        <!-- Disease Monitoring Tab -->
        <div class="tab-pane fade" id="diseasemonitor" role="tabpanel" aria-labelledby="diseasemonitor-tab">
            <!-- Active Incidents, Mortality, Symptoms Observed -->
            <section>
                <div class="flex">
                    <div class="flex-item" style="width: 40%!important">
                        <div>
                            <h3>Active Incidents</h3>
                            <div class="box-style-chart" id="dm-active-incid" style="width: 100%; height: 276px;">
                                <!-- Data handled in disease-monitoring.js -->
                            </div>
                        </div>
                        <div>
                            <h3>Mortality</h3>
                            <div class="box-style-chart" id="dm-mortality" style="width: 100%; height: 276px;">
                                <!-- Data handled in disease-monitoring.js -->
                            </div>
                        </div>
                    </div>
                    <div class="flex-item">
                        <h3>Symptoms Reported</h3>
                        <div class="box-style-chart" id="dm-symptoms-rep" style="width: 100%; height: 600px;">
                            <!-- Data handled in disease-monitoring.js -->
                        </div>
                    </div>
                </div>      
            </section>
            
            <!-- Suspected Disease Cases -->
            <section>
                <h3>Suspected Disease Cases</h3>
                <div>
                    <div class="d-flex align-items-start box-style">
                        <!-- Disease Tabs -->
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-asf-tab" data-bs-toggle="pill" data-bs-target="#v-pills-asf" type="button" role="tab" aria-controls="v-pills-asf" aria-selected="true">
                                <div class="disease-info">
                                    <p class="di-disease">African swine fever (ASF)</p>
                                    <h3 class="di-no-affected {% if susCases.ASF.hogs > 0 %} txt-negative {% endif %}">{{ susCases.ASF.hogs }}</h3>
                                </div>
                            </button>
                            <button class="nav-link" id="v-pills-csf-tab" data-bs-toggle="pill" data-bs-target="#v-pills-csf" type="button" role="tab" aria-controls="v-pills-csf" aria-selected="false">
                                <div class="disease-info">
                                    <p class="di-disease">Clinical swine fever (CSF)</p>
                                    <h3 class="di-no-affected {% if susCases.CSF.hogs > 0 %} txt-negative {% endif %}">{{ susCases.CSF.hogs }}</h3>
                                </div>
                            </button>
                            <button class="nav-link" id="v-pills-iav-tab" data-bs-toggle="pill" data-bs-target="#v-pills-iav" type="button" role="tab" aria-controls="v-pills-iav" aria-selected="false">
                                <div class="disease-info">
                                    <p class="di-disease">Swine influenza (IAV-S)</p>
                                    <h3 class="di-no-affected {% if susCases.IAVS.hogs > 0 %} txt-negative {% endif %} ">{{ susCases.IAVS.hogs }}</h3>
                                </div>
                            </button>
                            <button class="nav-link" id="v-pills-adv-tab" data-bs-toggle="pill" data-bs-target="#v-pills-adv" type="button" role="tab" aria-controls="v-pills-adv" aria-selected="false">
                                <div class="disease-info">
                                    <p class="di-disease">Pseudorabies (ADV)</p>
                                    <h3 class="di-no-affected {% if susCases.ADV.hogs > 0 %} txt-negative {% endif %} ">{{ susCases.ADV.hogs }}</h3>
                                </div>
                            </button>
                            <button class="nav-link" id="v-pills-prrs-tab" data-bs-toggle="pill" data-bs-target="#v-pills-prrs" type="button" role="tab" aria-controls="v-pills-prrs" aria-selected="false">
                                <div class="disease-info">
                                    <p class="di-disease">Porcine reproductive and respiratory syndrome (PRRS)</p>
                                    <h3 class="di-no-affected {% if susCases.PRRS.hogs > 0 %} txt-negative {% endif %} ">{{ susCases.PRRS.hogs }}</h3>
                                </div>
                            </button>
                            <button class="nav-link" id="v-pills-ped-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ped" type="button" role="tab" aria-controls="v-pills-ped" aria-selected="false">
                                <div class="disease-info">
                                    <p class="di-disease">Porcine epidemic diarrhea (PED)</p>
                                    <h3 class="di-no-affected {% if susCases.PED.hogs > 0 %} txt-negative {% endif %} ">{{ susCases.PED.hogs }}</h3>
                                </div>
                            </button>
                        </div>
                        <!-- Tab Content -->
                        {% load healthapp_extras %}
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-asf" role="tabpanel" aria-labelledby="v-pills-asf-tab">
                                {% if  susCases.ASF.hogs == 0 %}
                                <div>
                                    No suspected cases.
                                </div>
                                {% else %}
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th> No. of Hogs Affected </td>
                                            <td> {{susCases.ASF.hogs}} hogs </td>
                                        </tr>
                                        <tr>
                                            <th>Farms Affected</td>
                                            <td>
                                                <ul class="farms-affected-list" data-column="4">
                                                    {% for id in susCases.ASF.farms %}
                                                    <li><a href="#">{{ id | stringformat:"03d" }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Symptoms Observed</td>
                                            <td>
                                                <ul class="symtptoms-master-list" data-column="4">
                                                    {% for symptom in susCases.ASF.symptoms %}
                                                    <li>{{ symptom | formatField }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="v-pills-csf" role="tabpanel" aria-labelledby="v-pills-csf-tab">
                                {% if  susCases.CSF.hogs == 0 %}
                                <div>
                                    No suspected cases.
                                </div>
                                {% else %}
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th> No. of Hogs Affected </td>
                                            <td> {{susCases.CSF.hogs}} hogs </td>
                                        </tr>
                                        <tr>
                                            <th>Farms Affected</td>
                                            <td>
                                                <ul class="farms-affected-list" data-column="4">
                                                    {% for id in susCases.CSF.farms %}
                                                    <li><a href="#">{{ id | stringformat:"03d" }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Symptoms Observed</td>
                                            <td>
                                                <ul class="symtptoms-master-list" data-column="4">
                                                    {% for symptom in susCases.CSF.symptoms %}
                                                    <li>{{ symptom | formatField }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="v-pills-iav" role="tabpanel" aria-labelledby="v-pills-iav-tab">
                                {% if  susCases.IAVS.hogs == 0 %}
                                <div>
                                    No suspected cases.
                                </div>
                                {% else %}
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th> No. of Hogs Affected </td>
                                            <td> {{susCases.IAVS.hogs}} hogs </td>
                                        </tr>
                                        <tr>
                                            <th>Farms Affected</td>
                                            <td>
                                                <ul class="farms-affected-list" data-column="4">
                                                    {% for id in susCases.IAVS.farms %}
                                                    <li><a href="#">{{ id | stringformat:"03d" }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Symptoms Observed</td>
                                            <td>
                                                <ul class="symtptoms-master-list" data-column="4">
                                                    {% for symptom in susCases.IAVS.symptoms %}
                                                    <li>{{ symptom | formatField }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="v-pills-adv" role="tabpanel" aria-labelledby="v-pills-adv-tab">
                                {% if  susCases.ADV.hogs == 0 %}
                                <div>
                                    No suspected cases.
                                </div>
                                {% else %}
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th> No. of Hogs Affected </td>
                                            <td> {{susCases.ADV.hogs}} hogs </td>
                                        </tr>
                                        <tr>
                                            <th>Farms Affected</td>
                                            <td>
                                                <ul class="farms-affected-list" data-column="4">
                                                    {% for id in susCases.ADV.farms %}
                                                    <li><a href="#">{{ id | stringformat:"03d" }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Symptoms Observed</td>
                                            <td>
                                                <ul class="symtptoms-master-list" data-column="4">
                                                    {% for symptom in susCases.ADV.symptoms %}
                                                    <li>{{ symptom | formatField }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="v-pills-prrs" role="tabpanel" aria-labelledby="v-pills-prrs-tab">
                                {% if  susCases.PRRS.hogs == 0 %}
                                <div>
                                    No suspected cases.
                                </div>
                                {% else %}
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th> No. of Hogs Affected </td>
                                            <td> {{susCases.PRRS.hogs}} hogs </td>
                                        </tr>
                                        <tr>
                                            <th>Farms Affected</td>
                                            <td>
                                                <ul class="farms-affected-list" data-column="4">
                                                    {% for id in susCases.PRRS.farms %}
                                                    <li><a href="#">{{ id | stringformat:"03d" }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Symptoms Observed</td>
                                            <td>
                                                <ul class="symtptoms-master-list" data-column="4">
                                                    {% for symptom in susCases.PRRS.symptoms %}
                                                    <li>{{ symptom | formatField }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="v-pills-ped" role="tabpanel" aria-labelledby="v-pills-ped-tab">
                                {% if  susCases.PED.hogs == 0 %}
                                <div>
                                    No suspected cases.
                                </div>
                                {% else %}
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th> No. of Hogs Affected </td>
                                            <td> {{susCases.PED.hogs}} hogs </td>
                                        </tr>
                                        <tr>
                                            <th>Farms Affected</td>
                                            <td>
                                                <ul class="farms-affected-list" data-column="4">
                                                    {% for id in susCases.PED.farms %}
                                                    <li><a href="#">{{ id | stringformat:"03d" }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Symptoms Observed</td>
                                            <td>
                                                <ul class="symtptoms-master-list" data-column="4">
                                                    {% for symptom in susCases.PED.symptoms %}
                                                    <li>{{ symptom | formatField }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    
</div>
{% endblock section %}