<section >
    <div style="height: 80vh">
        <!-- Disease Tabs -->
        <ul class="nav nav-tabs no-print" id="dm-pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="dm-pills-asf-tab" onclick="getDiseaseInfo('ASF');" data-bs-toggle="pill" data-bs-target="#dm-pills-asf" type="button" role="tab" aria-controls="dm-pills-asf" aria-selected="true">
                    <div class="disease-info">
                        <p class="di-disease">African swine fever (ASF)</p>
                    </div>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="dm-pills-csf-tab" onclick="getDiseaseInfo('CSF');" data-bs-toggle="pill" data-bs-target="#dm-pills-csf" type="button" role="tab" aria-controls="dm-pills-csf" aria-selected="false">
                    <div class="disease-info">
                        <p class="di-disease">Clinical swine fever (CSF)</p>
                    </div>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="dm-pills-iav-tab" onclick="getDiseaseInfo('IAVS');" data-bs-toggle="pill" data-bs-target="#dm-pills-iav" type="button" role="tab" aria-controls="dm-pills-iav" aria-selected="false">
                    <div class="disease-info">
                        <p class="di-disease">Swine influenza (IAV-S)</p>
                    </div>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="dm-pills-adv-tab" onclick="getDiseaseInfo('ADV');" data-bs-toggle="pill" data-bs-target="#dm-pills-adv" type="button" role="tab" aria-controls="dm-pills-adv" aria-selected="false">
                    <div class="disease-info">
                        <p class="di-disease">Pseudorabies (ADV)</p>
                    </div>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="dm-pills-prrs-tab" onclick="getDiseaseInfo('PRRS');" data-bs-toggle="pill" data-bs-target="#dm-pills-prrs" type="button" role="tab" aria-controls="dm-pills-prrs" aria-selected="false">
                    <div class="disease-info">
                        <p class="di-disease">Porcine reproductive and respiratory syndrome (PRRS)</p>
                    </div>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="dm-pills-ped-tab" onclick="getDiseaseInfo('PED');" data-bs-toggle="pill" data-bs-target="#dm-pills-ped" type="button" role="tab" aria-controls="dm-pills-ped" aria-selected="false">
                    <div class="disease-info">
                        <p class="di-disease">Porcine epidemic diarrhea (PED)</p>
                    </div>
                </button>
            </li>
        </ul>
        <br>
        <!-- Tab Content -->
        <div class="tab-content" id="dm-pills-tabContent">
            <div class="tab-pane fade show active" id="dm-pills-asf" role="tabpanel" aria-labelledby="dm-pills-asf-tab">
                <!-- ASF Content -->
                {% include 'dsstemp/disease-content.html' %}
            </div>
            <div class="tab-pane fade" id="dm-pills-csf" role="tabpanel" aria-labelledby="dm-pills-csf-tab">
                <!-- CSF Content -->
                <div class="flex" id="dContentCSF" ></div>
            </div>
            <div class="tab-pane fade" id="dm-pills-iav" role="tabpanel" aria-labelledby="dm-pills-iav-tab">
                <!-- IAV Content -->
                <div class="flex" id="dContentIAVS" ></div>
            </div>
            <div class="tab-pane fade" id="dm-pills-adv" role="tabpanel" aria-labelledby="dm-pills-adv-tab">
                <!-- ADV Content -->
                <div class="flex" id="dContentADV" ></div>
            </div>
            <div class="tab-pane fade" id="dm-pills-prrs" role="tabpanel" aria-labelledby="dm-pills-prrs-tab">
                <!-- PRRS Content -->
                <div class="flex" id="dContentPRRS" ></div>
            </div>
            <div class="tab-pane fade" id="dm-pills-ped" role="tabpanel" aria-labelledby="dm-pills-ped-tab">
                <!-- PED Content -->
                <div class="flex" id="dContentPED" ></div>
            </div>
        </div>
    </div>
</section>