<section>
    <div class="flex">
        <!-- Other Charts -->
        <div class="container-scroll flex-item" style="margin-right: 16px; width: 30%!important">
            <section>
                <h3>Confirmed cases per Disease</h3>
                <div class="box-style-chart" id="dm-confirmed-per" style="width: 100%; height: 300px">
                    <!-- Data handled in disease-monitoring.js -->
                </div>
            </section>
            <section>
                <h3>Mortalities per Disease</h3>
                <div class="box-style-chart" id="dm-mortality-per" style="width: 100%; height: 300px;">
                    <!-- Data handled in disease-monitoring.js -->
                </div>
            </section>
        </div>
        <!-- SEIRD Output -->
        <div class="flex-item">
            <h3>SEIRD Output</h3>
            <div class="box-style">
                <!-- SERID Chart -->
                <div class="d-flex align-items-start">
                    <!-- Disease Tabs -->
                    <div class="nav flex-column nav-pills me-3" id="dm-pills-tab" role="tablist" aria-orientation="vertical" style="width: 25%">
                        <button class="nav-link active" id="dm-pills-asf-tab" data-bs-toggle="pill" data-bs-target="#dm-pills-asf" type="button" role="tab" aria-controls="dm-pills-asf" aria-selected="true">
                            <div class="disease-info">
                                <p class="di-disease">African swine fever (ASF)</p>
                            </div>
                        </button>
                        <button class="nav-link" id="dm-pills-csf-tab" data-bs-toggle="pill" data-bs-target="#dm-pills-csf" type="button" role="tab" aria-controls="dm-pills-csf" aria-selected="false">
                            <div class="disease-info">
                                <p class="di-disease">Clinical swine fever (CSF)</p>
                            </div>
                        </button>
                        <button class="nav-link" id="dm-pills-iav-tab" data-bs-toggle="pill" data-bs-target="#dm-pills-iav" type="button" role="tab" aria-controls="dm-pills-iav" aria-selected="false">
                            <div class="disease-info">
                                <p class="di-disease">Swine influenza (IAV-S)</p>
                            </div>
                        </button>
                        <button class="nav-link" id="dm-pills-adv-tab" data-bs-toggle="pill" data-bs-target="#dm-pills-adv" type="button" role="tab" aria-controls="dm-pills-adv" aria-selected="false">
                            <div class="disease-info">
                                <p class="di-disease">Pseudorabies (ADV)</p>
                            </div>
                        </button>
                        <button class="nav-link" id="dm-pills-prrs-tab" data-bs-toggle="pill" data-bs-target="#dm-pills-prrs" type="button" role="tab" aria-controls="dm-pills-prrs" aria-selected="false">
                            <div class="disease-info">
                                <p class="di-disease">Porcine reproductive and respiratory syndrome (PRRS)</p>
                            </div>
                        </button>
                        <button class="nav-link" id="dm-pills-ped-tab" data-bs-toggle="pill" data-bs-target="#dm-pills-ped" type="button" role="tab" aria-controls="dm-pills-ped" aria-selected="false">
                            <div class="disease-info">
                                <p class="di-disease">Porcine epidemic diarrhea (PED)</p>
                            </div>
                        </button>
                    </div>
                    <!-- Tab Content -->
                    <div class="tab-content" id="dm-pills-tabContent" style="width: 70%">
                        <div class="tab-pane fade show active" id="dm-pills-asf" role="tabpanel" aria-labelledby="dm-pills-asf-tab">
                            <h3>Set Parameters</h3>
                            <div>
                                <!-- Inputs --> 
                                    <!-- NOTE for backend ppl: set min, max, and default value -->
                                <div class="flex">
                                    <label for="rangeIncubDays" class="flex-item form-label" style="width: 30%">Disease Incubation Period (days)</label>                             
                                    <input type="range" class="flex-item form-range" id="rangeIncubDays" value="24" min="1" max="100" oninput="outputIncubDays.value = rangeIncubDays.value">
                                    <output id="outputIncubDays">24</output>
                                </div>
                                <div class="flex">
                                    <label for="rangeReproNo" class="flex-item form-label" style="width: 30%">Basic Reproduction No.</label>                             
                                    <input type="range" class="flex-item form-range" id="rangeReproNo" value="24" min="1" max="100" oninput="outputReproNo.value = rangeReproNo.value">
                                    <output id="outputReproNo">24</output>
                                </div>
                                <div class="flex">
                                    <label for="rangeDiseaseSpread" class="flex-item form-label" style="width: 30%">No. of Days Disease can Spread</label>                             
                                    <input type="range" class="flex-item form-range" id="rangeDiseaseSpread" value="24" min="1" max="100" oninput="outputDiseaseSpread.value = rangeDiseaseSpread.value">
                                    <output id="outputDiseaseSpread">24</output>
                                </div>
                                <div class="flex">
                                    <label for="rangeFatality" class="flex-item form-label" style="width: 30%">Fatality Rate</label>                             
                                    <input type="range" class="flex-item form-range" id="rangeFatality" value="24" min="1" max="100" oninput="outputFatality.value = rangeFatality.value">
                                    <output id="outputFatality">24</output>
                                </div>
                                <div class="flex">
                                    <label for="rangeDeathDays" class="flex-item form-label" style="width: 30%">No. of Days until Death</label>                             
                                    <input type="range" class="flex-item form-range" id="rangeDeathDays" value="24" min="1" max="100" oninput="outputDeathDays.value = rangeDeathDays.value">
                                    <output id="outputDeathDays">24</output>
                                </div>
                            </div>
                            <hr>
                            <!-- SEIRD Chart -->
                            <div class="box-style-chart" id="dm-seird-asf" style="width: 100%; height: 400px;">
                                
                            </div>
                        </div>
                        <div class="tab-pane fade" id="dm-pills-csf" role="tabpanel" aria-labelledby="dm-pills-csf-tab">
                            //
                        </div>
                        <div class="tab-pane fade" id="dm-pills-iav" role="tabpanel" aria-labelledby="dm-pills-iav-tab">
                            //
                        </div>
                        <div class="tab-pane fade" id="dm-pills-adv" role="tabpanel" aria-labelledby="dm-pills-adv-tab">
                            //
                        </div>
                        <div class="tab-pane fade" id="dm-pills-prrs" role="tabpanel" aria-labelledby="dm-pills-prrs-tab">
                            //
                        </div>
                        <div class="tab-pane fade" id="dm-pills-ped" role="tabpanel" aria-labelledby="dm-pills-ped-tab">
                            //
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>