<div class="flex" id="dContent" >
    <div class="flex-item">
        <h3>No. of Cases</h3>
        <div class="flex">
            <!-- Disease Cases Line Chart -->
            <div class="flex-item" style="width: 40%; margin-right: 16px">
                <div class="box-style-chart" id="dm-confirmed-per" style="width: 100%; height: 40vh;">
                    <!-- Data handled in disease-monitoring.js -->
                </div>
            </div>
         
            <!-- Disease Cases Map -->
            <div class="flex-item" style="margin-right: 0!important">
                <div class="map-box" id="dm-map-container">
                    <!-- Data handled in map.js -->
                </div>
            </div>  
        </div>
        <!-- Confirmed Cases Table -->
        <div class="no-print" style="margin-right: 0!important">
            <div>
                <h3>Confirmed Cases</h3>
                <div class="box-style scroll" style="height: 32vh;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Lab Reference</th>
                                <th>Last Updated</th>
                                <th>Incident Involved</th>
                                <th>No. of Pigs Affected</th>
                                <th>Recovered</th>
                                <th>Died</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for case in disData.0.1 %}
                            <tr>
                                <td>{{ case.lab_ref_no }}</td>
                                <td>{{ case.date_updated }}</td>
                                <td>{{ case.incid_no }}</td>
                                <td>{{ case.num_pigs_affect }}</td>
                                <td>{{ case.total_recovered }}</td>
                                <td>{{ case.total_died }}</td>
                            </tr>
                            {% endfor %}

                        </tbody>                               
                    </table>
                </div>
            </div>
        </div> 
    </div>
    <!-- SERID Chart -->
    <div class="flex-item white-container" style="width: 30%;">
        <h2>Predicted cases</h2>                            
        <div class="no-print">
            <hr>
            <h3>Set Parameters</h3>
            <!-- Inputs --> 
                <!-- NOTE for backend ppl: set min, max, and default value -->
            <div>
                <form class="flex">
                    <label for="rangeIncubDays" class="flex-item form-label" style="width: 30%">Disease Incubation Period (days)</label>                             
                    <input type="range" class="flex-item form-range" id="rangeIncubDays" onchange="getSEIRDInput(this)" min="1" max="100" oninput="outputIncubDays.value=parseInt(rangeIncubDays.value)">
                    <output id="outputIncubDays" name="SEIRDOutput"> 1 </output>
                </form>
                <form class="flex">
                    <label for="rangeReproNo" class="flex-item form-label" style="width: 30%">Basic Reproduction No.</label>                             
                    <input type="range" class="flex-item form-range" id="rangeReproNo" onchange="getSEIRDInput(this)" min="1" max="100" oninput="outputReproNo.value=parseInt(rangeReproNo.value)">
                    <output id="outputReproNo" name="SEIRDOutput"> 1 </output>
                </form>
                <form class="flex">
                    <label for="rangeDiseaseSpread" class="flex-item form-label" style="width: 30%">No. of Days Disease can Spread</label>                             
                    <input type="range" class="flex-item form-range" id="rangeDiseaseSpread" onchange="getSEIRDInput(this)" min="1" max="100" oninput="outputDiseaseSpread.value=parseInt(rangeDiseaseSpread.value)">
                    <output id="outputDiseaseSpread" name="SEIRDOutput"> 1 </output>
                </form>
                <form class="flex">
                    <label for="rangeFatality" class="flex-item form-label" style="width: 30%">Fatality Rate</label>                             
                    <input type="range" class="flex-item form-range" id="rangeFatality" onchange="getSEIRDInput(this)" min="1" max="100" step="0.1" oninput="outputFatality.value=parseInt(rangeFatality.value)">
                    <output id="outputFatality" name="SEIRDOutput"> 1 </output>
                </form>
                <form class="flex">
                    <label for="rangeDeathDays" class="flex-item form-label" style="width: 30%">No. of Days until Death</label>                             
                    <input type="range" class="flex-item form-range" id="rangeDeathDays" onchange="getSEIRDInput(this)" min="1" max="100" oninput="outputDeathDays.value=parseInt(rangeDeathDays.value)">
                    <output id="outputDeathDays" name="SEIRDOutput"> 1 </output>
                </form>
            </div>
        </div>
        <hr>
        <!-- SEIRD Chart -->
        <div class="box-style-chart" id="dm-seird" style="margin: 0!important">
            <!-- data handled in dm-seird.js -->
        </div>
        <br>
        <div id="seird-other-info">
            <div class="flex">
                <label for="seird-r"><strong>R</strong> =</label><p id="seird-r">sumn</p>
            </div> 
            <div class="flex">
                <label for="seird-t"><strong>T</strong> =</label><p id="seird-t">sumn</p>
            </div>
        </div>
    </div>
</div>