<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Disease Monitoring</title>
{% endblock page_title %}

{% block section %}
    <div class="main-div">
        <h1>Disease Monitoring</h1>
        <div class="flex subheading">
            <p class="flex-item">Disease monitoring report for viewing and printing.</p>
            <button class="primary-btn" id="print-dm"><i class='bx bx-printer' ></i>Export Charts to PDF</button>
        </div>
        <!-- <textarea id="dm-print-header" style="width:600px; height:50px">
            SIDC | Hogs Disease Surveillance System <br>
            Charts relevant for disease monitoring.
        </textarea> -->
        {% include 'dsstemp/disease-monitoring.html' %}
    </div>
    
{% endblock section %}