{% load static %}
<div class="notif-box" id="notification-box">
    <div class="notif-header sticky">
        <h2>Notifications</h2>
    </div>
    <!-- All notifs -->
    <div class="notif-list">
        <div class="notif-item">
            <label class="notif-label notif-urgent"> Lorem, ipsum. </label>
            <p class="notif-content"> Lorem ipsum dolor sit amet. </p>
        </div>
        <div class="notif-item">
            <label class="notif-label"> Lorem, ipsum dolor.</label>
            <p class="notif-content"> Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="notif-item">
            <label class="notif-label notif-urgent"> Lorem, ipsum. </label>
            <p class="notif-content"> Lorem ipsum dolor sit amet. </p>
        </div>
        <div class="notif-item">
            <label class="notif-label"> Lorem, ipsum dolor.</label>
            <p class="notif-content"> Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="notif-item">
            <label class="notif-label notif-urgent"> Lorem, ipsum. </label>
            <p class="notif-content"> Lorem ipsum dolor sit amet. </p>
        </div>
        <div class="notif-item">
            <label class="notif-label"> Lorem, ipsum dolor.</label>
            <p class="notif-content"> Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="notif-item">
            <label class="notif-label notif-urgent"> Lorem, ipsum. </label>
            <p class="notif-content"> Lorem ipsum dolor sit amet. </p>
        </div>
        <div class="notif-item">
            <label class="notif-label"> Lorem, ipsum dolor.</label>
            <p class="notif-content"> Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <!-- When there are 0 notifications-->
        <div class="notif-item" style="display:none">
            <p> You have no notifications. </p>
        </div>
    </div>  
</div>