{% load static %}
<div class="notif-box" id="notification-box" style="height: 0; opacity: 0">
    <div class="notif-header sticky">
        <h2>Notifications</h2>
    </div>
    <!-- All notifs -->
    <div class="notif-list">
        {% if notifList %}
            {% for item in notifList %}
            {% if item.href %}
            <a href="{{item.href}}">
            {% endif %}
                <div class="notif-item">
                    <label class="notif-label {{item.label_class}}"> {{item.label}} </label>
                    <p class="notif-content"> {{item.p | truncatewords:10}} </p>
                </div>
            </a>
            {% endfor %}
        {% else %}
        <!-- When there are 0 notifications-->
        <div class="notif-item">
            <p> You have no notifications. </p>
        </div>
        {% endif %}
    </div>  
</div>