<!-- Technician Sidebar -->
{% load static %}
<div class="sidebar">
    <div class="logo-details">
        <img src="{% static 'img/sidc-logo.png' %}">
        <span class="logo-name">
            SIDC-HDSS
        </span>
    </div>
    <ul class="nav-links">
        <li class="nav-item">
            <a href="/"> 
                <i class='bx bxs-home' ></i>
                <span class="link-name">Farms</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/biosecurity">
                <i class='bx bxs-home-circle'></i>
                <span class="link-name">Biosecurity</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#">
                <i class='bx bxs-clinic' ></i>
                <span class="link-name">Hogs Health & Symptoms</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#">
                <i class='bx bxs-megaphone' ></i>
                <span class="link-name">Member Announcements</span>
            </a>
        </li>
    </ul>
    <li>
        <div class="user-details">
            <div class="user-content">
                <i class='bx bxs-user-circle' id="user-default"></i>
            </div>
            
            <!-- renders User full name, position -->
            <div class="name-position">
                {% load login_extras %}
                <div class="user-name"> {{ user.first_name|addStr:user.last_name }} </div>
                <div class="user-position"> {{ user.groups.all.0.name }} </div>
            </div>

            <!-- LOGOUT btn -->
            <form action="logout" method="POST">
                {% csrf_token %}
                <button class="text-btn" type="submit">
                    <i class='bx bx-log-out' id="logout-btn"></i>
                </button>
            </form>

        </div>
    </li>
</div>