<div class="topbar sticky">
    <div class = "menu-text">
        <i class='bx bx-menu' id="toggleBtn" ></i>
        <span class="text">SIDC | Hogs Disease Surveillance System</span>
        <span class="rp-text">SIDC-HDSS</span>
    </div>
    <div class="notif-icon" onclick="toggleNotif()">
        <i class='bx bx-bell notification'></i>
        <!-- {% if notifCount %} -->
        <!-- <span>{{notifCount}}</span> -->
        <!-- {% endif %} -->

        </div>
        <!-- Notif box -->
        {% include 'partials/notifications.html' %}
</div>