<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Add New Activity</title>
{% endblock page_title %}

{% block section %}

{% include 'partials/messages.html' %}

<div class="main-div">
    <form action="" method="POST">

    {% csrf_token %}
    <h1 class="heading"><a href="/biosecurity/{{farmID}}">Biosecurity</a> > Add Activity</h1>
    <div class="flex subheading">
        {% if farmID < 10 %}
        <label style="font-weight: 600;">Farm Code:</label><p class="flex-item">00{{ farmID }}</p>
        {% elif farmID < 100 %}
        <label style="font-weight: 600;">Farm Code:</label><p class="flex-item">0{{ farmID }}</p>
        {% else %}
        <label style="font-weight: 600;">Farm Code:</label><p class="flex-item">{{ farmID }}</p>
        {% endif %}
        <div><button class="primary-btn" type="submit">Send for Approval</button></div>
    </div>
    
    <h2>Daily Activities</h2>

    <section id="daily-activities">
        <div class="box-style">
            <div class="flex subheading">
                <p class="flex-item">Add all activity details here. </p>
                <div>
                    <button class="secondary-btn" type="button" onclick="addActivityRow()" style="justify-content: flex-end;">+ Add Activity</button> <!-- Adds another row -->
                </div>
            </div>
            <div class="mobile-subheading">
                    <button class="secondary-btn" type="button" onclick="addActivityRow()" style="justify-content: flex-end;">+ Add Activity</button> <!-- Adds another row -->
            </div>
            <br>
            
            <div class="input-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Trip Type</th>
                            <th>Arrival Time</th>
                            <th>Departure Time</th>
                            <th>Description</th>
                            <th>Remarks</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="activity-table">
                        <tr>
                            <td data-label="Date" id="date"> {{activityForm.date}} </td>
                            <td data-label="Trip Type" id="trip_type"> {{activityForm.trip_type}} </td>                            
                            <td data-label="Arrival Time" id="time_arrival"> {{activityForm.time_arrival}} </td>
                            <td data-label="Departure Time" id="time_departure"> {{activityForm.time_departure}} </td>
                            <td data-label="Description" id="description"> {{activityForm.description}} </td>
                            <td data-label="Remarks" id="remarks"> {{activityForm.remarks}} </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </section>
    <div class="mobile-subheading"><button class="primary-btn" type="submit">Send for Approval</button></div>
    </form>
</div>
{% endblock section %}