<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Add New Activity</title>
{% endblock page_title %}

{% block section %}

{% include 'partials/messages.html' %}

<div class="main-div">
    <form action="" method="POST">

    {% csrf_token %}
    <h1 class="heading"><a href="/biosecurity">Biosecurity</a> > <a href="/biosecurity/{{farmID|stringformat:'03d'}}">{{farmID|stringformat:'03d'}}</a> > Add Activity</h1>
    <div class="flex subheading">
        <p class="flex-item"> <strong>Code: </strong> {{code|stringformat:"03d"}} </p>
        <div><button class="primary-btn" type="submit">Send for Approval</button></div>
    </div>
    
    <h2>Daily Activities</h2>

    <!-- <section id="daily-activities"> -->
        <div class="box-style">
            <div class="flex subheading">
                <p class="flex-item">Add all activity details here. </p>
                <div>
                    <button class="secondary-btn" type="button" onclick="addActivityRow()" style="justify-content: flex-end;">+ Add Activity</button> <!-- Adds another row -->
                </div>
            </div>
            <div class="mobile-subheading">
                    <button class="secondary-btn" type="button" onclick="addActivityRow()" style="justify-content: flex-end;">+ Add Activity</button> <!-- Adds another row -->
            </div>
            
            <div class="input-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="20%">Trip Type</th>
                            <th>Date</th>
                            <th>Arrival Time</th>
                            <th>Departure Time</th>
                            <th width="15%">No. of Pigs Involved</th>
                            <th width="20%">Remarks</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="activity-table">
                        <tr>
                            <td data-label="Trip Type" id="trip_type"> {{activityForm.trip_type}} </td>  
                            <td data-label="Date" id="date"> {{activityForm.date}} </td>                                                      
                            <td data-label="Arrival Time" id="time_arrival"> {{activityForm.time_arrival}} </td>
                            <td data-label="Departure Time" id="time_departure"> {{activityForm.time_departure}} </td>
                            <td data-label="Num Pigs Involved" id="num_pigs_inv"> {{activityForm.num_pigs_inv}} </td>
                            <td data-label="Remarks" id="remarks"> {{activityForm.remarks}} </td>
                            <td><button style="background:transparent; border:none; color:transparent;" class='secondary-btn-red'><i class='bx bx-minus'></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    <!-- </section> -->
    <p class="red">Please review the details of the form before submitting.</p>
    <div class="mobile-subheading"><button class="primary-btn" type="submit">Send for Approval</button></div>
    </form>
</div>
{% endblock section %}