<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Add New Activity</title>
{% endblock page_title %}

{% block section %}
<div class="main-div">
    <form action="" method="POST">

    {% csrf_token %}
    <h1 class="heading"><a href="/biosecurity/{{farmID}}">Biosecurity</a> > Add Activity</h1>
    <div class="flex subheading">
        <label style="font-weight: 600;">Farm Code:</label><p class="flex-item">{{ farmID }}</p>
        <div><button class="primary-btn" type="submit">Send for Approval</button></div>
    </div>
    
    <h2>Daily Activities</h2>

    <section id="daily-activities">
        <div class="box-style">
            <div class="flex subheading">
                <p class="flex-item">Add all activity details here. </p>
                <div><button class="secondary-btn" type="button" onclick="addActivityRow()" style="justify-content: flex-end;">+ Add Activity</button> <!-- Adds another row --></div>
            </div>
            <br>
            <div class="input-group" id="input-activity">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Trip Type</th>
                            <th>Arrival Time</th>
                            <th>Departure Time</th>
                            <th>Description</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody id="input-act">

                        <tr>
                            <td data-label="Date" id="date"> {{activityForm.date}} </td>
                            <td data-label="Trip Type" id="trip_type"> {{activityForm.trip_type}} </td>                            
                            <td data-label="Arrival Time" id="time_arrival"> {{activityForm.time_arrival}} </td>
                            <td data-label="Departure Time" id="time_departure"> {{activityForm.time_departure}} </td>
                            <td data-label="Description" id="description"> {{activityForm.description}} </td>
                            <td data-label="Remarks" id="remarks"> {{activityForm.remarks}} </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <br>
            <!-- Hidden depending on user -->
            <div id="activity-approvals">
                <h3> Checked by: </h3>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-los">
                    <label class="form-check-label" for="cb-los">Livestock Operation Specialist</label>
                </div>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-ext-vet">
                    <label class="form-check-label" for="cb-ext-vet">Extension Veterinarian</label>
                </div>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-am">
                    <label class="form-check-label" for="cb-am">Assistant Manager</label>
                </div>
            </div>
        </div>
    </section>
    <div class="mobile-subheading"><button class="primary-btn" type="submit">Send for Approval</button></div>
    </form>
</div>
{% endblock section %}