<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Add Farm Record</title>
{% endblock page_title %}

{% block section %}
<div class="main-div">
    <form action="/add-farm" method="POST">

    {% csrf_token %}

    <h1 class="heading"><a href="/">Farms Assigned</a> >  Add Farm Record</h1>
    <div class="flex subheading">
        <p class="flex-item">Add a new farm record here. </p>
        <div><button class="primary-btn" type="submit">Send for Approval</button></div>
    </div>

    <hr>
    <div class="flex">
        <section class="flex-item" id="farm-details">
            <h2>Farm Details</h2>
            <div class="box-style">
                <div class="mb-3">
                    <label for="input-code" class="form-label">Code</label>
                    <input type="text" class="form-control" required id="input-code" minlength="1" maxlength="3" name="input-code" placeholder="ex. 001">
                </div>

                <h3>Raiser</h3>
                <div class="mb-3">
                    <label for="input-first-name" class="form-label"> First Name</label>
                    {{hogRaiserForm.fname}}

                    <label for="input-last-name" class="form-label"> Last Name</label>
                    {{hogRaiserForm.lname}}
                </div>
                <div class="mb-3">
                    <label for="input-exist-raiser" class="form-label bold-lbl">If raiser is existing, choose here:</label>
                    <select class="form-select" id="input-exist-raiser" name="input-exist-raiser">
                        <option>Raiserz</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="input-contact" class="form-label">Contact No.</label>
                    {{hogRaiserForm.contact_no}}
                </div>
                <div class="mb-3">
                    {{farmForm.directly_manage}}
                    <label class="form-check-label" for="cb-directly">Directly Managed</label>
                </div>
                <br>

                <h3>Farm</h3>
                <div class="mb-3">
                    <label for="input-address" class="form-label">Address</label>
                    {{farmForm.farm_address}}
                </div>
                
                <div class="mb-3">
                    <label for="input-area" class="form-label">Area</label>
                    <select class="form-select" id="input-area" name="input-area">
                        {% for area in area %}
                        <option>{{area.area_name}}</option>
                        {% endfor %}
                        <option>Others</option>
                    </select>
                </div>
                <div class="mb-3 option-other">
                    <label for="input-other" class="form-label">Indicate which area.</label>
                    <input type="text" id="input-other"class="form-control" placeholder="Other Area">
                </div>

                <div class="mb-3">
                    <label for="input-roof" class="form-label">Roof Height (in ft.)</label>
                    {{farmForm.roof_height}}
                </div>
                <div class="mb-3">
                    <label for="input-wharea" class="form-label">Warehouse Area</label>
                    <div class="input-group" id="input-wharea">
                        {{farmForm.wh_length}}
                        {{farmForm.wh_width}}
                    </div>
                </div>

                <div class="mb-3">
                    <label for="input-trough" class="form-label">Feeding Trough</label>
                    {{farmForm.feed_trough}}          
                </div>

                <div class="mb-3">
                    <label for="input-roof" class="form-label">Building Capacity</label>
                    {{farmForm.bldg_cap}}
                </div>

                <div class="mb-3">
                    <label for="input-medic-tank" class="form-label">Medic Tank</label>
                    {{farmForm.medic_tank}}
                </div>

                <div class="mb-3">
                    {{farmForm.bldg_curtain}}
                    <label class="form-check-label" for="cb-curtain">Building Curtain</label>
                </div>
                <div class="mb-3">
                    {{farmForm.road_access}}
                    <label class="form-check-label" for="cb-road">Road Access</label>
                </div>
            </div>
        </section>
    </div>

    <div class="flex flex-form">
        <section class="flex-item" id="pig-pens">
            
            <div class="flex subheading">
                <h2 class="flex-item">Pig Pens</h2>
                <div><button class="secondary-btn" type="button" id="addPigPenRow" onclick="addPigPenRow()" style="justify-content: flex-end;"><i class='bx bx-plus'></i> Add Pen</button> </div>
            </div>
            <div class="flex mobile-subheading">
                <h2 style="width: 90%">Pig Pens</h2>
                <div><button class="secondary-btn" type="button" id="addPigPenRow" onclick="addPigPenRow()" style="justify-content: flex-end;"><i class='bx bx-plus'></i><span class="text">Add Pen</span></button> </div>
            </div>
            <div class="box-style">
                <br>
                <div class="input-group" id="input-pen">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Length</th>
                                <th>Width</th>
                                <th>No. of Pigs</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody  id="input-pigpen">
                            <tr>
                                <td data-label="Length" id="pigpen-length">
                                    {{pigpenMeasuresForm.length}}
                                </td>
                                <td data-label="Width" id="pigpen-width">
                                    {{pigpenMeasuresForm.width}}
                                </td>
                                <td data-label="No. of Pigs" id="pigpen-num-heads">
                                    {{pigpenMeasuresForm.num_heads}}
                                </td>
                                <!-- Removes pigpen row -->  
                                <td data-label="">
                                    <button class="text-btn-red" style="padding-left: 80%;"><i class='bx bx-x'></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex subheading">
                    <label style="font-weight: 600;">Total No. of Pigs: </label>
                    <p> {{numTotalPigs}} pigs </p>
                </div>
            </div>
        </section>

        <section class="flex-item" id="biosec-measures">
            <h2>Biosecurity Measures</h2>
            <div class="box-style">
                <p>Select all that apply.</p>
                <div class="mb-3">
                    {{internalBiosecForm.isol_pen}}
                    <label class="form-check-label" for="cb-isolation">Isolation Pen</label>
                </div>
                <div class="mb-3">
                    {{externalBiosecForm.bird_proof}}
                    <label class="form-check-label" for="cb-birdproof">Bird Proof</label>
                </div>
                <div class="mb-3">
                    {{externalBiosecForm.perim_fence}}
                    <label class="form-check-label" for="cb-fence">Perimeter Fence</label>
                </div>
                <div class="mb-3">
                    {{internalBiosecForm.foot_dip}}
                    <label class="form-check-label" for="cb-footdip">Foot Dip</label>
                </div>
                <div class="mb-3">
                    {{externalBiosecForm.fiveh_m_dist}}
                    <label class="form-check-label" for="cb-distance">500-meter Distance</label>
                </div>
                <div class="mb-3">
                    <label for="input-waste-mgt" class="form-label">Waste Management</label>
                    {{internalBiosecForm.waste_mgt}}
                </div>
                <div class="mb-3 option-other">
                    <label for="input-other" class="form-label">Indicate waste management.</label>
                    <input type="text" id="input-other"class="form-control" placeholder="Other Waste Management">
                </div>
            </div>
        </section>
    </div>
    <div class="flex" >
        <section class="flex-item">
            <div class="box-style">
                <!-- Hidden depending on user -->
                <div id="farm-approvals">
                    <h3> Checked by: </h3>
                    <div class="mb-3">
                        <input type="checkbox" class="form-check-input" id="cb-ext-vet">
                        <label class="form-check-label" for="cb-ext-vet">Extension Veterinarian</label>
                    </div>
                    <div class="mb-3">
                        <input type="checkbox" class="form-check-input" id="cb-am">
                        <label class="form-check-label" for="cb-am">Assistant Manager</label>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="mobile-subheading"><button class="primary-btn" type="submit">Send for Approval</button></div>
    </form>
</div>
{% endblock section %}