<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Technician Assignment</title>
{% endblock page_title %}

{% block section %}
<div class="table-container main-div">
    <h1 class="heading">Technician Assignment</h1>
    <p>Reassign technicians here.</p>
    <div class="box-style small-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Area</th>
                    <th>No. of Farms</th>
                    <th>Technician Assigned</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Data (per area)-->
                <tr>
                    {% for area in areasData %}
                    <td>{{area.area_name}}</td>
                    <td>{{area.farm_count}}</td>
                    <td style="padding-bottom: 0; vertical-align: middle;">
                        <div class="mb-3">
                            <select aria-label="Technician Assigned" class="form-select" disabled>
                                <option value="{{area.tech_id}}">{{area.curr_tech}}</option>
                                {% for tech in technicians %}
                                <option value="{{tech.id}}">{{tech.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" style="justify-content: end; padding: 0;">
                            <button class="secondary-btn assignEdit"><span class="material-icons md-18">edit</span>Edit</button>
                            <button class="secondary-btn assignSave"><span class="material-icons md-18">save</span>Save</button>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock section %}