<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Technician Assignment</title>
{% endblock page_title %}

{% block section %}

{% include 'partials/messages.html' %}

<div class="table-container main-div">
    <h1 class="heading">Technician Assignment</h1>
    <div class="flex subheading">
        <p class="flex-item">Reassign technicians here.</p>
        <div></div>
    </div>
    <div style="width: 50%;">
        <div>
            <button class="primary-btn" id="add-area" style="justify-content: flex-end;" onclick="toggleAreaView();"><i class='bx bx-plus'></i> Add Area</button> 
            <button class="secondary-btn hide" id="cancel-area" style="justify-content: flex-end;" onclick="toggleAreaView();"></i> Cancel</button> 
        </div>
        <br>
        <div class="box-style add-new-area hide">
            <div class="input-group mb-3" id="new-area">
                <input type="text" class="form-control" placeholder="Area"><button class="btn btn-outline-secondary" type="button" id="save-area"> Save Area </button>
            </div>
        </div>
    </div>
    
    <div class="flex">
        <div class="box-style flex-item" style="margin-right: 16px;  height: fit-content">
            <table class="table" id="assign-table">
                <thead>
                    <tr>
                        <th>Area</th>
                        <th>No. of Farms</th>
                        <th>No. of Pigs</th>
                        <th>Technician Assigned</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data (per area)-->
                    {% for area in areasData %}
                    <tr> 
                        <div hidden id="hidden-areaID">{{area.id}}</div>                   
                        <td>{{area.area_name}}</td>
                        <td>{{area.farm_count}}</td>
                        <td>{{area.total_pigs}} pigs </td>
                        <td style="padding-bottom: 0; vertical-align: middle;" id="assign-technician">
                            <div class="mb-3">
                                <select aria-label="Technician Assigned" class="form-select tech-assign-drop" disabled>
                                    <option value={{area.curr_tech_id}}>{{area.curr_tech}}</option>
                                    {% for tech in technicians %}
                                        {% if tech.id != area.curr_tech_id %}
                                    <option value={{tech.id}}>{{tech.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td class="assign-btn-grp">
                            <div class="btn-group" style="justify-content: end; padding: 0;">
                                <button class="secondary-btn assignEdit"><span class="material-icons md-18">edit</span>Edit</button>
                                <button class="secondary-btn assignSave"><span class="material-icons md-18">save</span>Save</button>
                            </div>
                        </td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- References for technician's pending activities -->
        <div class="flex-item">
            <div class="hide" id="pending-activities">
                <h2 id="techHeader">{{techName}}'s Pending Activities</h2>
                <hr>
                <h3>Active and Pending Incident Cases</h3>
                <div class="box-style" id="table-techIncid">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Incident Code</th>
                                <th>Farm Code</th>
                                <th>Area</th>
                                <th>Date Reported</th>
                                <th style="width:30%">No. of Pigs Affected</th>
                                <th style="width: 35%">Symptoms Observed</th>
                                <th class="status">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in incidList %}
                                {% for incident,symptoms in i.incident_symptomsList %}
                                <tr class="incident-row">
                                
                                    <td data-label="Incident Code">{{ incident.id }}</td>
                                    <td data-label="Farm Code">{{ i.farm_code|stringformat:"03d" }}</td>
                                    <td data-label="Area">{{ i.area_name }}</td>
                                    <td data-label="Date Reported">{{ incident.date_filed }}</td>
                                    <td data-label="Pigs Affected">{{ incident.num_pigs_affected }}</td>
                                    <td data-label="Symptoms Observed">  
                                        {% load healthapp_extras %}
                                        {% for sKey, sVal in symptoms.items %}
                                        <ul class="ul-symptoms"></ul>
                                            {% if sVal %}
                                            <li class="li-symptoms">{{ sKey|formatField }}</li>
                                            {% endif %}
                                        </ul>
                                        {% endfor %}
                                    </td>
                                    
                                    <td data-label="Status">{{ incident.report_status }}</td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                       </tbody>
                   </table>
                </div>
                
                <h3>Farms' Biosecurity</h3>
                <div class="box-style" id="table-techFarmBio">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Farm Code</th>
                                <th>Area</th>
                                <th>Raiser</th>
                                <th>No. of Pigs</th>
                                <th>Last Inspected</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for f in farmBioList %}
                            <tr>
                                <td data-label="Farm Code">{{ f.code }}</td>
                                <td data-label="Area">{{ f.area_name }}</td>
                                <td data-label="Raiser">{{ f.raiser }}</td>
                                <td data-label="No. of Pigs">{{ f.num_pigs }}</td>
                                <td data-label="Last Inspected">{{ f.last_inspected }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <h3>Recent Announcements</h3>
                <div class="box-style">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Recipient</th>
                                <th style="width: 40%">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for announcement in approved %}
                            <tr>
                                <td data-label="Timestamp"> Dec. 22, 1289, 12:30 </td>
                                <td data-label="Title"> Title </td>
                                <td data-label="Category"> dd</td>
                                <td data-label="Recipient"> West, Tsisi </td>
                                <td data-label="Message"> HELLO </td>
                            </tr>
                            {% endfor %}
        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock section %}