<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Biosecurity</title>
{% endblock page_title %}

{% block section %}
<div class="table-container main-div">
    <h1 class="heading">Biosecurity</h1>
    <p>Select a farm to check its biosecurity records.</p>
    <div class="box-style">
        <div class="input-group mb-3">
            <label class="form-label" style="font-weight: 600;">Farm Code</label>
            <form action="select-biosec" method="POST">
                {% csrf_token %}
                <select class="form-select" name="farm-code" id="farm-code" style="margin-bottom: 0;">
                    {% for farm in farmList %}
                        <option value="{{ farm.id }}"> {{ farm.id }} </option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>

    <!-- Selected Farm's Biosecurity Details -->
        <!-- Will appear once a farm is selected -->
    <div id="biosec-details">
        <div class="flex subheading">
            <p class="flex-item">Biosecurity Records.</p>
            <div class="dropdown">
                <a class="button primary-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  + Add New
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="/add-checklist">Biosecurity Checklist</a></li>
                  <li><a class="dropdown-item" href="/add-activity">Activity Record</a></li>
                </ul>
            </div>
        </div>
        <div class="flex mobile-subheading">
            <p style="width: 90%;">Biosecurity Records.</p>
            <div class="dropdown">
                <a class="button primary-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  + Add New
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="/add-checklist">Biosecurity Checklist</a></li>
                  <li><a class="dropdown-item" href="/add-activity">Activity Record</a></li>
                </ul>
            </div>
        </div>
    
        <h2 class="heading">Biosecurity Measures</h2>
        <!-- Disabled form -- result from adding new farm record -->
        <section id="biosec-measures">
            <div class="box-style">
                <div style="padding-bottom: 8px;">
                    <p>All biosecurity measures in the farm. </p>
                </div>
                <div class="mb-3">
                    <!-- <input type="checkbox" class="form-check-input" id="cb-isolation" value="true" disabled> 
                    <label class="form-check-label" for="cb-isolation">Isolation Pen</label> -->

                    {% if currBio.intbio.isol_pen == 0 %}
                    <input type="checkbox" class="form-check-input" id="cb-isolation" value="true" checked="checked" disabled> 
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="cb-isolation" value="true" disabled> 
                    {% endif %}
                    <label class="form-check-label" for="cb-isolation">Isolation Pen</label>
                </div>

                <div class="mb-3">
                    {% if currBio.extbio.bird_proof == 0 %}
                    <input type="checkbox" class="form-check-input" id="cb-birdproof" checked="checked" disabled>
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="cb-birdproof" disabled>
                    {% endif %}
                    <label class="form-check-label" for="cb-birdproof">Bird Proof</label>
                </div>

                <div class="mb-3">
                    {% if currBio.extbio.perim_fence == 0 %}
                    <input type="checkbox" class="form-check-input" id="cb-fence" checked="checked" disabled>
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="cb-fence" disabled>
                    {% endif %}
                    <label class="form-check-label" for="cb-fence">Perimeter Fence</label>
                </div>

                <div class="mb-3">
                    {% if currBio.intbio.foot_dip == 0 %}
                    <input type="checkbox" class="form-check-input" id="cb-footdip" checked="checked" disabled>
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="cb-footdip" disabled>
                    {% endif %}
                    <label class="form-check-label" for="cb-footdip">Foot Dip</label>
                </div>

                <div class="mb-3">
                    {% if currBio.extbio.fiveh_m_dist == 0 %}
                    <input type="checkbox" class="form-check-input" id="cb-distance" checked="checked" disabled>
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="cb-distance" disabled>
                    {% endif %}
                    <label class="form-check-label" for="cb-distance">500-meter Distance</label>
                </div>

                <div class="flex">
                    <label for="input-trough" class="form-label">Waste Management:</label>
                    <p style="font-weight: 600;"> {{ currBio.intbio.waste_mgt }}</p>
                </div>
            </div>
        </section>

        <h2 class="heading">Checklists</h2>
        <section id="biosec-checklists">
            
            <div class="box-style">
                <div>
                    <div class="flex subheading">     
                        <div class="input-group mb-3" style="width:40%">
                            <label class="form-label" style="font-weight: 600;">Date</label>
                            <select class="form-select" id="checklist-date" style="margin-bottom: 0;">
                                {% for bio in bioList %}
                                    {% load tz %}
                                    <option value="{{ bio.id }}"> {{ bio.last_updated|localtime }}
                                    </option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="btn-group flex-item" style="justify-content: flex-end; padding: 0;">
                            <button id="saveCheck-btn" class="secondary-btn assignSave" style="margin-right: 4px;" onclick="saveBiocheck()"><i class='bx bxs-save'></i>Save</button>
                            <button id="editCheck-btn" class="secondary-btn assignEdit" style="margin-right: 4px;" onclick="enableBiocheck()"><i class='bx bxs-edit'></i>Edit</button>
                            <button id="delCheck-btn"class="secondary-btn-red"><i class='bx bxs-trash'></i>Delete</button>
                        </div>
                    </div>
                    <div class="flex mobile-subheading">     
                        <div class="input-group mb-3" style="width:90%; padding-right: 4px;">
                            <label class="form-label" style="font-weight: 600;">Date</label>
                            <select class="form-select" id="checklist-date" style="margin-bottom: 0;">
                                {% for bio in bioList %}
                                    {% load tz %}
                                    <option value="{{ bio.id }}"> {{ bio.last_updated|localtime }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="btn-group" style="justify-content: flex-end; padding: 0;">
                            <button id="saveCheck-btn" class="secondary-btn assignSave" style="margin-right: 4px;" onclick="saveBiocheck()"><i class='bx bxs-save'></i><span class="text">Save</span></button>
                            <button id="editCheck-btn" class="secondary-btn assignEdit" style="margin-right: 4px;" onclick="editBiocheck()"><i class='bx bxs-edit'></i><span class="text">Edit</span></button>
                            <button id="delCheck-btn"class="secondary-btn-red"><i class='bx bxs-trash'></i><span class="text">Delete</span></button>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Disabled form -- result from adding new checklist -->
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:80%">Did the farm:</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>  
                        <tr>
                            <td>Disinfected farm premises?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    {% if currBio.intbio.disinfect_prem == 0 %}
                                    <input type="radio" class="btn-check" name="disinfect_prem" id="disinfect_prem_radio1" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="disinfect_prem" id="disinfect_prem_radio1" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="disinfect_prem_radio1">Yes</label>

                                    {% if currBio.intbio.disinfect_prem == 1 %}
                                    <input type="radio" class="btn-check" name="disinfect_prem" id="disinfect_prem_radio2" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="disinfect_prem" id="disinfect_prem_radio2" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="disinfect_prem_radio2">No</label>

                                    {% if currBio.intbio.disinfect_prem == 2 %}
                                    <input type="radio" class="btn-check" name="disinfect_prem" id="disinfect_prem_radio3" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="disinfect_prem" id="disinfect_prem_radio3" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="disinfect_prem_radio3">N/A</label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Provided foot dip specifically for haulers/drivers/truck helpers?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    {% if currBio.extbio.prvdd_foot_dip == 0 %}
                                    <input type="radio" class="btn-check" name="prvdd_foot_dip" id="prvdd_foot_dip_radio1" checked="checked" disabled>                                    
                                    {% else %}
                                    <input type="radio" class="btn-check" name="prvdd_foot_dip" id="prvdd_foot_dip_radio1" disabled>                                    
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="prvdd_foot_dip_radio1">Yes</label>

                                    {% if currBio.extbio.prvdd_foot_dip == 1 %}
                                    <input type="radio" class="btn-check" name="prvdd_foot_dip" id="prvdd_foot_dip_radio2" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="prvdd_foot_dip" id="prvdd_foot_dip_radio2" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="prvdd_foot_dip_radio2">No</label>

                                    {% if currBio.extbio.prvdd_foot_dip == 2 %}
                                    <input type="radio" class="btn-check" name="prvdd_foot_dip" id="prvdd_foot_dip_radio3" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="prvdd_foot_dip" id="prvdd_foot_dip_radio3" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="prvdd_foot_dip_radio3">N/A</label>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Provided alcohol/soap for truck helper/driver for their hand sanitation?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    {% if currBio.extbio.prvdd_alco_soap == 0 %}
                                    <input type="radio" class="btn-check" name="prvdd_alco_soap" id="prvdd_alco_soap_radio1" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="prvdd_alco_soap" id="prvdd_alco_soap_radio1" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="prvdd_alco_soap_radio1">Yes</label>

                                    {% if currBio.extbio.prvdd_alco_soap == 1 %}
                                    <input type="radio" class="btn-check" name="prvdd_alco_soap" id="prvdd_alco_soap_radio2" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="prvdd_alco_soap" id="prvdd_alco_soap_radio2" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="prvdd_alco_soap_radio2">No</label>

                                    {% if currBio.extbio.prvdd_alco_soap == 2 %}
                                    <input type="radio" class="btn-check" name="prvdd_alco_soap" id="prvdd_alco_soap_radio3" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="prvdd_alco_soap" id="prvdd_alco_soap_radio3" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="prvdd_alco_soap_radio3">N/A</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Observed "no visitor/s" policy?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    {% if currBio.extbio.obs_no_visitors == 0 %}
                                    <input type="radio" class="btn-check" name="obs_no_visitors" id="obs_no_visitors_radio1" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="obs_no_visitors" id="obs_no_visitors_radio1" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="obs_no_visitors_radio1">Yes</label>

                                    {% if currBio.extbio.obs_no_visitors == 1 %}
                                    <input type="radio" class="btn-check" name="obs_no_visitors" id="obs_no_visitors_radio2" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="obs_no_visitors" id="obs_no_visitors_radio2" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="obs_no_visitors_radio2">No</label>

                                    {% if currBio.extbio.obs_no_visitors == 2 %}
                                    <input type="radio" class="btn-check" name="obs_no_visitors" id="obs_no_visitors_radio3" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="obs_no_visitors" id="obs_no_visitors_radio3" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="obs_no_visitors_radio3">N/A</label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Disinfected veterinary supplies like antibiotics by misting or blotting with clothes soaked with disinfectant before storing?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    {% if currBio.intbio.disinfect_vet_supp == 0 %}
                                    <input type="radio" class="btn-check" name="disinfect_vet_supp" id="disinfect_vet_supp_radio1" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="disinfect_vet_supp" id="disinfect_vet_supp_radio1" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="disinfect_vet_supp_radio1">Yes</label>

                                    {% if currBio.intbio.disinfect_vet_supp == 1 %}
                                    <input type="radio" class="btn-check" name="disinfect_vet_supp" id="disinfect_vet_supp_radio2" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="disinfect_vet_supp" id="disinfect_vet_supp_radio2" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="disinfect_vet_supp_radio2">No</label>

                                    {% if currBio.intbio.disinfect_vet_supp == 2 %}
                                    <input type="radio" class="btn-check" name="disinfect_vet_supp" id="disinfect_vet_supp_radio3" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="disinfect_vet_supp" id="disinfect_vet_supp_radio3" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="disinfect_vet_supp_radio3">N/A</label>

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Personnel dipped their footwear in the foot bath before entering each building?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    {% if currBio.extbio.prsnl_dip_footwear == 0 %}
                                    <input type="radio" class="btn-check" name="prsnl_dip_footwear" id="prsnl_dip_footwear_radio1" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="prsnl_dip_footwear" id="prsnl_dip_footwear_radio1" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="prsnl_dip_footwear_radio1">Yes</label>

                                    {% if currBio.extbio.prsnl_dip_footwear == 1 %}
                                    <input type="radio" class="btn-check" name="prsnl_dip_footwear" id="prsnl_dip_footwear_radio2" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="prsnl_dip_footwear" id="prsnl_dip_footwear_radio2" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="prsnl_dip_footwear_radio2">No</label>

                                    {% if currBio.extbio.prsnl_dip_footwear == 2 %}
                                    <input type="radio" class="btn-check" name="prsnl_dip_footwear" id="prsnl_dip_footwear_radio3" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="prsnl_dip_footwear" id="prsnl_dip_footwear_radio3" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="prsnl_dip_footwear_radio3">N/A</label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Personnel sanitized their hands using alcohol or soap before entering each building?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    {% if currBio.extbio.prsnl_sanit_hands == 0 %}
                                    <input type="radio" class="btn-check" name="prsnl_sanit_hands" id="prsnl_sanit_hands_radio1" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="prsnl_sanit_hands" id="prsnl_sanit_hands_radio1" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="prsnl_sanit_hands_radio1">Yes</label>

                                    {% if currBio.extbio.prsnl_sanit_hands == 1 %}
                                    <input type="radio" class="btn-check" name="prsnl_sanit_hands" id="prsnl_sanit_hands_radio2" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="prsnl_sanit_hands" id="prsnl_sanit_hands_radio2" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="prsnl_sanit_hands_radio2">No</label>

                                    {% if currBio.extbio.prsnl_sanit_hands == 2 %}
                                    <input type="radio" class="btn-check" name="prsnl_sanit_hands" id="prsnl_sanit_hands_radio3" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="prsnl_sanit_hands" id="prsnl_sanit_hands_radio3" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="prsnl_sanit_hands_radio3">N/A</label>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Changed disinfectant in the wheel bath/foot dip every day?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    {% if currBio.extbio.chg_disinfect_daily == 0 %}
                                    <input type="radio" class="btn-check" name="cng_disinfect_daily" id="cng_disinfect_daily_radio1" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="cng_disinfect_daily" id="cng_disinfect_daily_radio1" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="cng_disinfect_daily_radio1">Yes</label>

                                    {% if currBio.extbio.chg_disinfect_daily == 1 %}
                                    <input type="radio" class="btn-check" name="cng_disinfect_daily" id="cng_disinfect_daily_radio2" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="cng_disinfect_daily" id="cng_disinfect_daily_radio2" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="cng_disinfect_daily_radio2">No</label>

                                    {% if currBio.extbio.chg_disinfect_daily == 2 %}
                                    <input type="radio" class="btn-check" name="cng_disinfect_daily" id="cng_disinfect_daily_radio3" checked="checked" disabled>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="cng_disinfect_daily" id="cng_disinfect_daily_radio3" disabled>
                                    {% endif %}
                                    <label class="btn btn-outline-primary" for="cng_disinfect_daily_radio3">N/A</label>
                                </div>
                            </td>
                        </tr>

                        </tr>
                    </tbody>
                    
                </table>
            </div>

        </section>
        <h2 class="heading">Activities</h2>
        <section id="farm-activities">
            <div class="box-style">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th style="width: 20%">Trip Type</th>
                            <th>Time</th>
                            <th style="width: 30%">Description</th>
                            <th style="width: 15%">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for act in activity %}
                        <tr>
                            <td data-label="Date">{{act.date}}</td>
                            <td data-label="Trip Type">{{act.trip_type}}</td>
                            <td data-label="Time">{{act.time_departure}} - {{act.time_arrival}}</td>
                            <td data-label="Description">{{act.description}}</td>
                            <td data-label="Remarks">{{act.remarks}}</td>
                            <td>
                                <div class="btn-group" style="justify-content: end; padding: 0;">
                                    <button class="secondary-btn" style="margin-right: 4px;"><i class='bx bxs-edit'></i><span class="text">Edit</span></button>
                                    <button class="secondary-btn-red"><i class='bx bxs-trash'></i><span class="text">Delete</span></button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                   
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>

{% endblock section %}