<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Member Announcements</title>
{% endblock page_title %}

{% block section %}
{% include 'partials/messages.html' %}
<div class="main-div">
    <h1 class="heading flex-item"><a href="/member-announcements">Member Announcements</a> >  Create Announcement </h1>   
    <hr>
    <form action="/create-announcement" method="POST">
        {% csrf_token %}
        <div class="box-style small-table">
            <div class="mb-3">
                <label for="input-code" class="form-label">Title</label>
                {{announcementForm.title}}
            </div>
            <div class="mb-3">
                <label for="input-area" class="form-label">Category</label>
                {{announcementForm.category}}
            </div>
            <div class="mb-3">
                <label for="input-area" class="form-label">Recipient</label>
                {{announcementForm.recip_area}}
            </div>
            <div class="mb-3">
                <label for="input-code" class="form-label">Message</label>
                {{announcementForm.mssg}}
            </div>
            <div class="flex">
                <p class="subheading flex-item"></p>
                {% if user.groups.all.0.name == 'Assistant Manager' %}
                <div><button class="primary-btn" type="submit">Send Message</button></div>
    
                {% elif user.groups.all.0.name == 'Field Technician' %}
                <div><button class="primary-btn" type="submit">Send for Approval</button></div>
    
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock section %}