<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Farms</title>
{% endblock page_title %}

{% block section %}
<div class="table-container main-div">    
    <div class="flex">
        <h1 class="heading flex-item">Farms</h1>
        <div class="btn-group" style="justify-content: flex-end; padding: 0;">
            <div class="input-group mb-3  flex-item" style="margin-right: 4px;">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" id="searchTextBoxid" onkeyup="filterSearch()">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2"><i class='bx bx-search'></i></span>
                </div>
            </div>              
            <div class="dropdown">
                <button class="btn primary-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Filters
                </button>
                <ul class="dropdown-menu" style="padding: 8px;">
                    <label style="font-weight: 600;">Area</label>
                    {% for area in areaList %}
                    <li><a class="dropdown-item" href="#"><input type="checkbox" class="ch_area" id="{{area.area_name}}"  onclick="filterSearch()"/>&nbsp;{{area.area_name}}</a></li>
                    {% endfor %}
                    <!-- <li><a class="dropdown-item" href="#"><input type="checkbox" id="ch_TISS" onclick="filterSearch()"/>&nbsp;TSISI</a></li>
                    <li><a class="dropdown-item" href="#"><input type="checkbox" id="ch_EAST" onclick="filterSearch()"/>&nbsp;East</a></li>
                    <li><a class="dropdown-item" href="#"><input type="checkbox" id="ch_WEST" onclick="filterSearch()"/>&nbsp;West</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="box-style">
        <table class="table" id="mainTableid">
            <thead>
                <tr>
                    <th>Farm Code</th>
                    <th>Raiser</th>
                    <th>Contact No.</th>
                    <th>Address</th>
                    <th>Area</th>
                    <th>No. of Pigs</th>
                    <th>No. of Pens</th>
                    <th>Last Update</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <!-- Data -->
            {% for farm in farms %}
                <tr class="farm-row">
                    {% if farm.code < 10 %}
                        <td data-label="Farm Code">00{{farm.code}}</td>
                    {% elif farm.code < 100 %}
                        <td data-label="Farm Code">0{{farm.code}}</td>
                    {% else %}
                        <td data-label="Farm Code">{{farm.code}}</td>
                    {% endif %}
                    <td data-label="Raiser">{{farm.raiser}}</td>
                    <td data-label="Contact No.">{{farm.contact}}</td>
                    <td data-label="Address">{{farm.address}}</td>
                    <td data-label="Area">{{farm.area}}</td>
                    <td data-label="No. of Pigs">{{farm.pigs}}</td>
                    <td data-label="No. of Pens">{{farm.pens}}</td>
                    <td data-label="Last Update" class="farm-last-update">{{farm.updated|date:'N j, Y, P'}}</td>
                    <td data-label="" class="td-btn">
                        <button class="secondary-btn" id="viewFarm" onclick="viewFarm(this)"><span class="material-icons md-18">visibility</span>View</button>
                    </td>
                </tr>
            {% endfor %}                
            </tbody>            
        </table>
    </div>
</div>
{% endblock section %}