<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Forms Approval</title>
{% endblock page_title %}

{% block section %}

{% include 'partials/messages.html' %}

<div class="table-container main-div">
    <h1 class="heading">Forms Approval</h1>
    <p>Check all details of the forms below.</p>
    <br>

    {% if user.groups.all.0.name == 'Assistant Manager' or user.groups.all.0.name == 'Extension Veterinarian' or user.groups.all.0.name == 'Field Technician' %}
    <div class="box-style small-table">
        <h2>Forms</h2> <br>
        {% if actList|length == 0 and mortList|length == 0 %}
        <div>
            <p>No forms to display.</p>
        </div>
        {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Date Added</th>
                    <th>Form Type</th>
                    <th>Status</th>
                    <th>Prepared by</th>
                    <th>Farm Code</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for act in actList %}
                {% if act.status == 'Pending' %}
                <tr id="{{act.id}}" value="{{ act.id }}">
                    <td>{{act.date_added}}</td>
                    <td>Activity Form</td>
                    <td class="status">{{act.status}}</td>
                    <td>{{act.prepared_by}}</td>
                    <td>{{act.farmID|stringformat:"03d"}}</td>
                    <td>
                        <div class="btn-group" style="justify-content: end; padding: 0;">
                            <button class="secondary-btn" id="viewForm" onclick=viewActivityForm(this)><span class="material-icons md-18">visibility</span>View</button>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            {% for mort in mortList %}
                {% if mort.status == 'Pending' %}
                <tr id="{{mort.id}}" value="{{ mort.id }}">
                    <td>{{mort.date_added}}</td>
                    <td>Mortality Form</td>
                    <td class="status">{{mort.status}}</td>
                    <td>{{mort.prepared_by}}</td>
                    <td>{{mort.farmID|stringformat:"03d"}}</td>
                    <td>
                        <div class="btn-group" style="justify-content: end; padding: 0;">
                            <button class="secondary-btn" id="viewForm" onclick=viewMortalityForm(this)><span class="material-icons md-18">visibility</span>View</button>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            {% for act in actList %}
                {% if act.status == 'Approved' %}
                <tr id="{{act.id}}" value="{{ act.id }}">
                    <td>{{act.date_added}}</td>
                    <td>Activity Form</td>
                    <td class="status">{{act.status}}</td>
                    <td>{{act.prepared_by}}</td>
                    <td>{{act.farmID|stringformat:"03d"}}</td>
                    <td>
                        <div class="btn-group" style="justify-content: end; padding: 0;">
                            <button class="secondary-btn" id="viewForm" onclick=viewActivityForm(this)><span class="material-icons md-18">visibility</span>View</button>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            {% for mort in mortList %}
                {% if mort.status == 'Approved' %}
                <tr id="{{mort.id}}" value="{{ mort.id }}">
                    <td>{{mort.date_added}}</td>
                    <td>Mortality Form</td>
                    <td class="status">{{mort.status}}</td>
                    <td>{{mort.prepared_by}}</td>
                    <td>{{mort.farmID|stringformat:"03d"}}</td>
                    <td>
                        <div class="btn-group" style="justify-content: end; padding: 0;">
                            <button class="secondary-btn" id="viewForm" onclick=viewMortalityForm(this)><span class="material-icons md-18">visibility</span>View</button>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            {% for act in actList %}
                {% if act.status == 'Rejected' %}
                <tr id="{{act.id}}" value="{{ act.id }}">
                    <td>{{act.date_added}}</td>
                    <td>Activity Form</td>
                    <td class="status">{{act.status}}</td>
                    <td>{{act.prepared_by}}</td>
                    <td>{{act.farmID|stringformat:"03d"}}</td>
                    <td>
                        <div class="btn-group" style="justify-content: end; padding: 0;">
                            <button class="secondary-btn" id="viewForm" onclick=viewActivityForm(this)><span class="material-icons md-18">visibility</span>View</button>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            {% for mort in mortList %}
                {% if mort.status == 'Rejected' %}
                <tr id="{{mort.id}}" value="{{ mort.id }}">
                    <td>{{mort.date_added}}</td>
                    <td>Mortality Form</td>
                    <td class="status">{{mort.status}}</td>
                    <td>{{mort.prepared_by}}</td>
                    <td>{{mort.farmID|stringformat:"03d"}}</td>
                    <td>
                        <div class="btn-group" style="justify-content: end; padding: 0;">
                            <button class="secondary-btn" id="viewForm" onclick=viewMortalityForm(this)><span class="material-icons md-18">visibility</span>View</button>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    
    {% elif user.groups.all.0.name == 'Livestock Operation Specialist' %}
    <div class="box-style small-table">
        <h2>Activity Forms</h2> <br>
        {% if actList != 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Date Added</th>
                    <th>Form Type</th>
                    <th>Status</th>
                    <th>Prepared by</th>
                    <th>Farm Code</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for act in actList %}
                {% if act.status == 'Pending' %}
                <tr id="{{act.id}}" value="{{ act.id }}">
                    <td>{{act.date_added}}</td>
                    <td>Activity Form</td>
                    <td class="status">{{act.status}}</td>
                    <td>{{act.prepared_by}}</td>
                    <td>{{act.farmID|stringformat:"03d"}}</td>
                    <td>
                        <div class="btn-group" style="justify-content: end; padding: 0;">
                            <button class="secondary-btn" id="viewForm" onclick=viewActivityForm(this)><span class="material-icons md-18">visibility</span>View</button>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            {% for act in actList %}
                {% if act.status == 'Approved' %}
                <tr id="{{act.id}}" value="{{ act.id }}">
                    <td>{{act.date_added}}</td>
                    <td>Activity Form</td>
                    <td class="status">{{act.status}}</td>
                    <td>{{act.prepared_by}}</td>
                    <td>{{act.farmID|stringformat:"03d"}}</td>
                    <td>
                        <div class="btn-group" style="justify-content: end; padding: 0;">
                            <button class="secondary-btn" id="viewForm" onclick=viewActivityForm(this)><span class="material-icons md-18">visibility</span>View</button>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            {% for act in actList %}
                {% if act.status == 'Rejected' %}
                <tr id="{{act.id}}" value="{{ act.id }}">
                    <td>{{act.date_added}}</td>
                    <td>Activity Form</td>
                    <td class="status">{{act.status}}</td>
                    <td>{{act.prepared_by}}</td>
                    <td>{{act.farmID|stringformat:"03d"}}</td>
                    <td>
                        <div class="btn-group" style="justify-content: end; padding: 0;">
                            <button class="secondary-btn" id="viewForm" onclick=viewActivityForm(this)><span class="material-icons md-18">visibility</span>View</button>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div>
            <p>No Activity Forms to display.</p>
        </div>
        {% endif %}
    </div>

    {% elif user.groups.all.0.name == 'Paiwi Management Staff' %}
    <div class="box-style small-table">
        <h2>Mortality Forms</h2> <br>
        {% if mortList|length != 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Date Added</th>
                    <th>Form Type</th>
                    <th>Status</th>
                    <th>Prepared by</th>
                    <th>Farm Code</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for mort in mortList %}
                {% if mort.status == 'Pending' %}
                <tr id="{{mort.id}}" value="{{ mort.id }}">
                    <td>{{mort.date_added}}</td>
                    <td>Mortality Form</td>
                    <td class="status">{{mort.status}}</td>
                    <td>{{mort.prepared_by}}</td>
                    <td>{{mort.farmID|stringformat:"03d"}}</td>
                    <td>
                        <div class="btn-group" style="justify-content: end; padding: 0;">
                            <button class="secondary-btn" id="viewForm" onclick=viewMortalityForm(this)><span class="material-icons md-18">visibility</span>View</button>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            {% for mort in mortList %}
                {% if mort.status == 'Approved' %}
                <tr id="{{mort.id}}" value="{{ mort.id }}">
                    <td>{{mort.date_added}}</td>
                    <td>Mortality Form</td>
                    <td class="status">{{mort.status}}</td>
                    <td>{{mort.prepared_by}}</td>
                    <td>{{mort.farmID|stringformat:"03d"}}</td>
                    <td>
                        <div class="btn-group" style="justify-content: end; padding: 0;">
                            <button class="secondary-btn" id="viewForm" onclick=viewMortalityForm(this)><span class="material-icons md-18">visibility</span>View</button>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            {% for mort in mortList %}
                {% if mort.status == 'Rejected' %}
                <tr id="{{mort.id}}" value="{{ mort.id }}">
                    <td>{{mort.date_added}}</td>
                    <td>Mortality Form</td>
                    <td class="status">{{mort.status}}</td>
                    <td>{{mort.prepared_by}}</td>
                    <td>{{mort.farmID|stringformat:"03d"}}</td>
                    <td>
                        <div class="btn-group" style="justify-content: end; padding: 0;">
                            <button class="secondary-btn" id="viewForm" onclick=viewMortalityForm(this)><span class="material-icons md-18">visibility</span>View</button>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div>
            <p>No Mortality Forms to display.</p>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock section %}