<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Forms Approval</title>
{% endblock page_title %}

{% block section %}
<div class="table-container main-div">
    <h1 class="heading">Forms Approval</h1>
    <p>Check all details of the forms below.</p>
    <div class="box-style" style="width: 50%;">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Form</th>
                    <th>Prepared by</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Data -->
                <tr>
                    <td>01/01/21</td>
                    <td>Activities Record</td>
                    <td>Marites</td>
                    <td>
                        <div class="btn-group" style="justify-content: end; padding: 0;">
                            <button class="secondary-btn"><span class="material-icons md-18">visibility</span>View</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock section %}