<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Farms Assessment Report</title>
{% endblock page_title %}

{% block section %}
<div class="table-container main-div">   
    <div>
        <h1>Farms Assessment Reports</h1>
    </div>
    <br>
    <!-- Date range, etc -->
    <div style="max-width: 400px;">

        <!-- <button class="primary-btn" onclick="filterFarmRep()">Filter</button> -->

        <div class="flex subheading date-range">
            <div class="input-group mb-3" style="padding-right: 8px;">
                    <label class="form-label" style="font-weight: 600; width: 24%">Date Range</label>
                    <input type="date" id="farm-start-date" class="form-control">
                    <input type="date" id="farm-end-date" class="form-control">
            </div>
            <button class="primary-btn" onclick="filterFarmRep()"><i class='bx bx-refresh'></i></button>
        </div>

        <div class="flex subheading">
            <div class="input-group mb-3" style="padding-right: 8px;">
                <label class="form-label" style="font-weight: 600; width: 24%">Area</label>
                <select class="form-select" id="farm-area" style="margin-bottom: 0;">
                    <option value="All"> All </option>
                    {% for area in areaList %}
                    <option value="{{area.area_name}}">{{area.area_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- <button class="primary-btn"><i class='bx bx-refresh'></i></button> -->
        </div>
    </div>
    <hr>
    <!-- Report description, print button -->
    <div class="flex subheading">
        <p class="flex-item" id="farmrep-header">All Farms Assessment Report for {{dateStart.last_updated}} to {{dateEnd.last_updated}}</p>
        <div><button class="primary-btn"><i class='bx bx-printer' ></i>Print</button></div>
    </div>
    <!-- Report content -->
    <div class="box-style">
        <table class="table">
            <thead>
                <tr>
                    <th>Farm Code</th>
                    <th>Raiser</th>
                    <th>Address</th>
                    <th>Area</th>
                    <th>Technician</th>
                    <th>No. of Pigs</th>
                    <th>No. of Pens</th>
                    <th>Internal Biosecurity</th>
                    <th>External Biosecurity</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data -->
                {% for farm,tech in farmtechList %}
                <tr>
                    <td data-label="Farm Code"> {{farm.code}} </td>
                    <td data-label="Raiser"> {{farm.raiser}} </td>
                    <td data-label="Address"> {{farm.address}} </td>
                    <td data-label="Area"> {{farm.area}} </td>
                    <td data-label="Technician"> {{tech.name}} </td>
                    <td data-label="No. of Pigs">{{farm.pigs}}</td>
                    <td data-label="No. of Pens">{{farm.pens}}</td>
                    <td data-label="Internal Biosecurity"> {{farm.intbio_score}} </td>
                    <td data-label="External Biosecurity"> {{farm.extbio_score}} </td>
                    <td data-label="Last Update">{{farm.updated}}</td>
                </tr>
                {% endfor %}


                <!-- Totals, Averages -->
                <tr class="table-total bold-lbl">
                    <td colspan="5">Total</td>
                    <td class="bold-lbl"> {{farmTotalAve.total_pigs}} </td>
                    <td > {{farmTotalAve.total_pens}} </td>
                </tr>
                <tr class="bold-lbl">
                    <td colspan="5">Average</td>
                    <td>{{farmTotalAve.ave_pigs}}</td>
                    <td>{{farmTotalAve.ave_pens}}</td>
                    <td>{{farmTotalAve.ave_intbio}}</td>
                    <td>{{farmTotalAve.ave_extbio}}</td>
                </tr>
                

            </tbody>            
        </table>
    </div>
</div>
{% endblock section %}