<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | External Biosecurity Report</title>
{% endblock page_title %}

{% block section %}

{% include 'partials/messages.html' %}

<div class="table-container main-div" id="extbioRep-container">   
    <div>
        <h1>External Biosecurity Reports</h1>
    </div>
    <br>
    <!-- Date range, etc -->
    <div style="max-width: 400px; height: 100%;" class="filters">
        <div class="mb-3">
            <label class="form-label bold-lbl">Date Range</label>
            <div class="input-group">
                <input type="date" class="form-control input-startDate" id="extbio-start-date" value="{{dateStart.date|date:'Y-m-d'}}">
                <input type="date" class="form-control input-endDate" id="extbio-end-date" value="{{dateEnd.date|date:'Y-m-d'}}">
            </div>
        </div>

        <div class="mb-3" style="padding-bottom: 8px;">
            <label class="form-label bold-lbl">Area</label>
            <select class="form-select" id="extbio-area" style="margin-bottom: 0;">
                <option value="All"> All </option>
                {% for area in areaList %}
                <option value="{{area.area_name}}">{{area.area_name}}</option>
                {% endfor %}
            </select>
        </div>

        <button class="primary-btn" onclick="filterExtBioRep()"><i class='bx bx-refresh' style="padding-right: 4px;"></i>Apply Filters</button>
    </div>

    <hr>
    <!-- Report description, print button -->
    <div class="flex subheading extbioRep-subheading">
        {% if not isFiltered %}
            <p class="flex-item" id="extrep-header">All External Biosecurity Report.</p>
        {% else %}
            <p class="flex-item" id="extrep-header">{{areaName}} External Biosecurity Report for {{dateStart}} to {{dateEnd}}</p>
        {% endif %}
        <div><button class="primary-btn" onclick="printReport('rep-extbiosec')"><i class='bx bx-printer' ></i>Print</button></div>
    </div>
    <!-- Report content -->
    <div class="box-style" id="rep-extbiosec">
        <div class="print-header">
            <h1>SIDC | Hogs Disease Surveillance System</h1>
            {% if not isFiltered %}
                <p class="flex-item">All External Biosecurity Report.</p>
            {% else %}
                <p class="flex-item">{{areaName}} External Biosecurity Report for {{dateStart}} to {{dateEnd}}</p>
            {% endif %}        
        </div>
        <table class="table">
            <thead>
                <tr class="second-header">
                    <th colspan="4">Farm Details</th>
                    <th colspan="3">Biosecurity Measures</th>
                    <th colspan="7">Biosecurity Checklist</th>
                    <th style="text-align: right;">Total Score</th>
                </tr>
                <tr>
                    <th style="text-align: center;">Farm Code</th>
                    <th>Raiser</th>
                    <th>Area</th>
                    <th>Technician</th>
                    <th>Bird Proof</th>
                    <th>Perimeter Fence</th>
                    <th>500-meter Distance</th>
                    <th>Provided Foot Dip</th>
                    <th>Provided Alcohol/Soap</th>
                    <th>Personnel Dip Footwear</th>
                    <th>Personnel Sanitize Hands</th>
                    <th>Observed 'No Visitors'</th>
                    <th>Disinfected Daily</th>
                    <th>Last Updated</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                <!-- Data -->
                {% for farm,tech in farmtechList %}
                <tr>
                    {% if farm.code < 10 %}
                    <td data-label="Farm Code" style="text-align: center;">00{{farm.code}}</td>
                    {% elif farm.code < 100 %}
                        <td data-label="Farm Code" style="text-align: center;">0{{farm.code}}</td>
                    {% else %}
                        <td data-label="Farm Code" style="text-align: center;">{{farm.code}}</td>
                    {% endif %}
                    <td data-label="Raiser"> {{farm.raiser}} </td>
                    <td data-label="Area"> {{farm.area}} </td>
                    <td data-label="Technician"> {{tech.name}} </td>
                    <td data-label="Bird Proof"> {{farm.extbio_bird_proof}} </td>
                    <td data-label="Perimeter Fence"> {{farm.extbio_perim_fence}} </td>
                    <td data-label="500-meter Distance"> {{farm.extbio_fiveh_m_dist}} </td>
                    <td data-label="Provided Foot Dip"> {{farm.extbio_prvdd_foot_dip}} </td>
                    <td data-label="Provided Alcohol/Soap"> {{farm.extbio_prvdd_alco_soap}} </td>
                    <td data-label="Personnel Dip Footwear"> {{farm.extbio_prsnl_dip_footwear}} </td>
                    <td data-label="Personnel Sanitize Hands"> {{farm.extbio_prsnl_sanit_hands}} </td>
                    <td data-label="Observed 'No Visitors'"> {{farm.extbio_obs_no_visitors}} </td>
                    <td data-label="Disinfected Daily"> {{farm.extbio_chg_disinfect_daily}} </td>
                    <td data-label="Last Update">{{farm.updated}}</td>
                    <td data-label="Total Score" style="text-align: right;">{{farm.extbio_score}}</td>
                </tr>
                {% endfor %}

                <!-- Totals, Averages -->
                <tr class="table-total bold-lbl">
                    <td colspan="14">Average Score</td>
                    <td style="text-align: right;"> {{farmTotalAve.ave_extbio}} </td>
                </tr>
            </tbody>            
        </table>
    </div>
</div>
{% endblock section %}