<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Internal Biosecurity Report</title>
{% endblock page_title %}

{% block section %}


    <!-- TEST: for INTBIOSEC REPORT success-error message placeholder -->
    {% for mssg in messages %}
        {% if "intbio-report" in mssg.tags %}
            <div style="color: orange;" class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
                {{ mssg }}
            </div>
        {% endif %}
    {% endfor %}


<div class="table-container main-div">   
    <div>
        <h1>Internal Biosecurity Reports</h1>
    </div>
    <br>
    <!-- Date range, etc -->
    <div style="max-width: 400px;">

        <div class="flex subheading">
            <div class="input-group mb-3" style="padding-right: 8px;">
                <label class="form-label" style="font-weight: 600; width: 24%">Date Range</label>
                <input type="date" class="input-startDate" id="intbio-start-date" class="form-control">
                <input type="date" class="input-endDate" id="intbio-end-date" class="form-control">
            </div>
            <button class="primary-btn" onclick="filterIntBioRep()"><i class='bx bx-refresh'></i></button>
        </div>

        <div class="flex subheading">
            <div class="input-group mb-3" style="padding-right: 8px;">
                <label class="form-label" style="font-weight: 600; width: 24%">Area</label>
                <select class="form-select" id="intbio-area" style="margin-bottom: 0;">
                    <option value="All"> All </option>
                    {% for area in areaList %}
                    <option value="{{area.area_name}}">{{area.area_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- <button class="primary-btn"><i class='bx bx-refresh'></i></button> -->
        </div>
    </div>
    <hr>
    <!-- Report description, print button -->
    <div class="flex subheading">
        <p class="flex-item">All Internal Biosecurity Reports for {{dateStart}} to {{dateEnd}}</p>
        <div><button class="primary-btn"><i class='bx bx-printer' ></i>Print</button></div>
    </div>
    <!-- Report content -->
    <div class="box-style">
        <table class="table">
            <thead>
                <tr class="second-header">
                    <th colspan="4">Farm Details</th>
                    <th colspan="3">Biosecurity Measures</th>
                    <th colspan="3">Biosecurity Checklist</th>
                    <th>Total Score</th>
                </tr>
                <tr>
                    <th>Farm Code</th>
                    <th>Raiser</th>
                    <th>Area</th>
                    <th>Technician</th>
                    <th>Isolation Pen</th>
                    <th>Foot Dip</th>
                    <th>Waste Management</th>
                    <th>Disinfect Premises</th>
                    <th>Disinfect Veterinary Supplies</th>
                    <th>Last Updated</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Data -->
                {% for farm,tech in farmtechList %}
                <tr>
                    <td data-label="Farm Code"> {{farm.code}} </td>
                    <td data-label="Raiser"> {{farm.raiser}} </td>
                    <td data-label="Area"> {{farm.area}} </td>
                    <td data-label="Technician"> {{tech.name}} </td>
                    <td data-label="Isolation Pen"> {{farm.intbio_isol_pen}} </td>
                    <td data-label="Foot Dip"> {{farm.intbio_foot_dip}} </td>
                    <td data-label="Waste Management"> {{farm.intbio_waste_mgt}} </td>
                    <td data-label="Disinfect Premises"> {{farm.intbio_disinfect_prem}} </td>
                    <td data-label="Disinfect Veterinary Supplies"> {{farm.intbio_disinfect_vet_supp}} </td>
                    <td data-label="Last Update">{{farm.updated}}</td>
                    <td data-label="Total Score">{{farm.intbio_score}}</td>
                </tr>
                {% endfor %}

                <!-- Totals, Averages -->
                <tr class="table-total bold-lbl">
                    <td colspan="10">Average Score</td>
                    <td> {{farmTotalAve.ave_intbio}} </td>
                </tr>
            </tbody>            
        </table>
    </div>
</div>
{% endblock section %}