<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Farms Assessment Report</title>
{% endblock page_title %}

{% block section %}
<div class="table-container main-div">   
    <div>
        <h1>Farms Assessment Reports</h1>
    </div>
    <br>
    <!-- Date range, etc -->
    <div style="max-width: 400px;">
        <div class="flex subheading">
            <div class="input-group mb-3" style="padding-right: 8px;">
                <label class="form-label" style="font-weight: 600; width: 24%">Date Range</label>
                <select class="form-select" id="checklist-date" style="margin-bottom: 0;">
                    <option value="01/01/21">01/01/21</option>
                </select>
            </div>
            <button class="primary-btn"><i class='bx bx-refresh'></i></button>
        </div>
        <div class="flex subheading">
            <div class="input-group mb-3" style="padding-right: 8px;">
                <label class="form-label" style="font-weight: 600; width: 24%">Area</label>
                <select class="form-select" id="checklist-date" style="margin-bottom: 0;">
                    <option value="West">West</option>
                </select>
            </div>
            <button class="primary-btn"><i class='bx bx-refresh'></i></button>
        </div>
    </div>
    <hr>
    <!-- Report description, print button -->
    <div class="flex subheading">
        <p class="flex-item">All Farms Assessment Report for March 22, 2021 to April 23, 2021</p>
        <div><button class="primary-btn"><i class='bx bx-printer' ></i>Print</button></div>
    </div>
    <!-- Report content -->
    <div class="box-style">
        <table class="table">
            <thead>
                <tr>
                    <th>Farm Code</th>
                    <th>Raiser</th>
                    <th>Address</th>
                    <th>Area</th>
                    <th>Technician</th>
                    <th>No. of Pigs</th>
                    <th>No. of Pens</th>
                    <th>Internal Biosecurity</th>
                    <th>External Biosecurity</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data -->
                <tr>
                    <td data-label="Farm Code">001</td>
                    <td data-label="Raiser">JM Bartolome</td>
                    <td data-label="Address">Binictican Drive, Tanauan City 2200</td>
                    <td data-label="Area">West</td>
                    <td data-label="Technician">David Archuleta</td>
                    <td data-label="No. of Pigs">1000</td>
                    <td data-label="No. of Pens">10</td>
                    <td data-label="Internal Biosecurity">10</td>
                    <td data-label="External Biosecurity">10</td>
                    <td data-label="Last Update">06/06/2021</td>
                </tr>
                <tr>
                    <td data-label="Farm Code">001</td>
                    <td data-label="Raiser">JM Bartolome</td>
                    <td data-label="Address">Binictican Drive, Tanauan City 2200</td>
                    <td data-label="Area">West</td>
                    <td data-label="Technician">David Archuleta</td>
                    <td data-label="No. of Pigs">1000</td>
                    <td data-label="No. of Pens">10</td>
                    <td data-label="Internal Biosecurity">10</td>
                    <td data-label="External Biosecurity">10</td>
                    <td data-label="Last Update">06/06/2021</td>
                </tr>
                <tr>
                    <td data-label="Farm Code">001</td>
                    <td data-label="Raiser">JM Bartolome</td>
                    <td data-label="Address">Binictican Drive, Tanauan City 2200</td>
                    <td data-label="Area">West</td>
                    <td data-label="Technician">David Archuleta</td>
                    <td data-label="No. of Pigs">1000</td>
                    <td data-label="No. of Pens">10</td>
                    <td data-label="Internal Biosecurity">10</td>
                    <td data-label="External Biosecurity">10</td>
                    <td data-label="Last Update">06/06/2021</td>
                </tr>
                <!-- Totals, Averages -->
                <tr class="table-total bold-lbl">
                    <td colspan="4">Total</td>
                    <td class="bold-lbl">100</td>
                    <td >100</td>
                </tr>
                <tr class="bold-lbl">
                    <td colspan="5">Average</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
            </tbody>            
        </table>
    </div>
</div>
{% endblock section %}