<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Internal Biosecurity Report</title>
{% endblock page_title %}

{% block section %}
<div class="table-container main-div">   
    <div>
        <h1>Internal Biosecurity Reports</h1>
    </div>
    <br>
    <!-- Date range, etc -->
    <div style="max-width: 400px;">
        <div class="flex subheading">
            <div class="input-group mb-3" style="padding-right: 8px;">
                <label class="form-label" style="font-weight: 600; width: 24%">Date Range</label>
                <select class="form-select" id="checklist-date" style="margin-bottom: 0;">
                    <option value="01/01/21">01/01/21</option>
                </select>
            </div>
            <button class="primary-btn"><i class='bx bx-refresh'></i></button>
        </div>
        <div class="flex subheading">
            <div class="input-group mb-3" style="padding-right: 8px;">
                <label class="form-label" style="font-weight: 600; width: 24%">Area</label>
                <select class="form-select" id="checklist-date" style="margin-bottom: 0;">
                    <option value="West">West</option>
                </select>
            </div>
            <button class="primary-btn"><i class='bx bx-refresh'></i></button>
        </div>
    </div>
    <hr>
    <!-- Report description, print button -->
    <div class="flex subheading">
        <p class="flex-item">All Internal Biosecurity Report for March 22, 2021 to April 23, 2021</p>
        <div><button class="primary-btn"><i class='bx bx-printer' ></i>Print</button></div>
    </div>
    <!-- Report content -->
    <div class="box-style">
        <table class="table">
            <thead>
                <tr class="second-header">
                    <th colspan="4">Farm Details</th>
                    <th colspan="3">Biosecurity Measures</th>
                    <th colspan="3">Biosecurity Checklist</th>
                    <th>Total Score</th>
                </tr>
                <tr>
                    <th>Farm Code</th>
                    <th>Raiser</th>
                    <th>Area</th>
                    <th>Technician</th>
                    <th>Isolation Pen</th>
                    <th>Foot Dip</th>
                    <th>Waste Management</th>
                    <th>Disinfect Premises</th>
                    <th>Disinfect Veterinary Supplies</th>
                    <th>Last Updated</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Data -->
                <tr>
                    <td data-label="Farm Code">001</td>
                    <td data-label="Raiser">JM Bartolome</td>
                    <td data-label="Area">West</td>
                    <td data-label="Technician">David Archuleta</td>
                    <td data-label="Isolation Pen">Yes</td>
                    <td data-label="Foot Dip">Yes</td>
                    <td data-label="Waste Management">Septic Tank</td>
                    <td data-label="Disinfect Premises">Yes</td>
                    <td data-label="Disinfect Veterinary Supplies">Yes</td>
                    <td data-label="Last Update">06/06/2021</td>
                    <td data-label="Total Score">10</td>
                </tr>
                <tr>
                    <td data-label="Farm Code">001</td>
                    <td data-label="Raiser">JM Bartolome</td>
                    <td data-label="Area">West</td>
                    <td data-label="Technician">David Archuleta</td>
                    <td data-label="Isolation Pen">Yes</td>
                    <td data-label="Foot Dip">Yes</td>
                    <td data-label="Waste Management">Septic Tank</td>
                    <td data-label="Disinfect Premises">Yes</td>
                    <td data-label="Disinfect Veterinary Supplies">Yes</td>
                    <td data-label="Last Update">06/06/2021</td>
                    <td data-label="Total Score">10</td>
                </tr>
                <tr>
                    <td data-label="Farm Code">001</td>
                    <td data-label="Raiser">JM Bartolome</td>
                    <td data-label="Area">West</td>
                    <td data-label="Technician">David Archuleta</td>
                    <td data-label="Isolation Pen">Yes</td>
                    <td data-label="Foot Dip">Yes</td>
                    <td data-label="Waste Management">Septic Tank</td>
                    <td data-label="Disinfect Premises">Yes</td>
                    <td data-label="Disinfect Veterinary Supplies">Yes</td>
                    <td data-label="Last Update">06/06/2021</td>
                    <td data-label="Total Score">10</td>
                </tr>
                <!-- Totals, Averages -->
                <tr class="table-total bold-lbl">
                    <td colspan="10">Average Score</td>
                    <td>10</td>
                </tr>
            </tbody>            
        </table>
    </div>
</div>
{% endblock section %}