<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Farm 001 </title>
{% endblock page_title %}

{% block section %}
<div class="main-div">
    <div class="flex">
        <h1 class="heading flex-item"><a href="/farms">Farms </a> >  001</h1>
        <div><button class="primary-btn">View Hogs Health</button></div>
    </div>
    <hr>
    <div class="flex">
        <section class="flex-item" id="farm-details">
            <h2>Farm Details</h2>
            <div class="box-style">
                <p>boop bop</p>
            </div>
        </section>
    </div>
    <div class="flex">
        <section class="flex-item" id="pig-pens">
            <h2>Pig Pens</h2>
            <div class="box-style">
                <p>boop bop</p>
            </div>
        </section>
        <section class="flex-item" id="biosec-measures">
            <h2>Biosecurity Measures</h2>
            <div class="box-style">
                <p>boop bop</p>
            </div>
        </section>
    </div>
    <div class="flex">
        <section class="flex-item" id="pig-pens">
            <h2>Activities</h2>
            <div class="box-style">
                <p>boop bop</p>
            </div>
        </section>
        <section class="flex-item" id="biosec-measures">
            <h2>Biosecurity Checklists</h2>
            <div class="box-style">
                <p>boop bop</p>
            </div>
        </section>
    </div>
</div>
{% endblock section %}