<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Farm 001 </title>
{% endblock page_title %}

{% block section %}
<div class="main-div">
    <div class="flex">
        <h1 class="heading flex-item"><a href="/farms">Farms </a> >  001</h1>
        <div><a class="button primary-btn" href="#">View Hogs Health</a></div> <!-- Redirect to assigned farm's hogs health details -->
    </div>
    <hr>
    <div class="flex">
        <section class="flex-item" id="farm-details">
            <h2>Farm Details</h2>
            <div class="box-style flex">
                <div class="flex-item">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 40%"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="bold-lbl">Farm Code</td>
                                <td>001</td>
                            </tr>
                            <tr>
                                <td class="bold-lbl">Raiser</td>
                                <td>John Doe</td>
                            </tr>
                            <tr>
                                <td class="bold-lbl">Contact No.</td>
                                <td>091512345678</td>
                            </tr>
                            <tr>
                                <td class="bold-lbl">Directly Managed</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td class="bold-lbl">Address</td>
                                <td>Batangas, 4200 Batangas</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex-item">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 40%"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="bold-lbl">Area</td>
                                <td>West</td>
                            </tr>
                            <tr>
                                <td class="bold-lbl">Roof Height (in ft.)</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td class="bold-lbl">Warehouse Area</td>
                                <td>10 x 10</td>
                            </tr>
                            <tr>
                                <td class="bold-lbl">Feeding Trough</td>
                                <td>Semi-automatic</td>
                            </tr>
                            <tr>
                                <td class="bold-lbl">Building Capacity</td>
                                <td>100</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <div class="flex">
        <section class="flex-item" id="pig-pens">
            <h2>Pig Pens</h2>
            <div class="box-style">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Length</th>
                            <th>Width</th>
                            <th>No. of Pigs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td data-label="Length"> 50000 </td>
                            <td data-label="Width"> 50000 </td>
                            <td data-label="No. of Pigs"> 50000 </td>
                        </tr>
                    </tbody>
                </table>
                <div class="flex subheading">
                    <label style="font-weight: 600;">Total No. of Pigs: </label>
                    <p> 100 pigs </p>
                </div>
            </div>
        </section>
        <section class="flex-item" id="biosec-measures">
            <h2>Biosecurity Measures</h2>
            <div class="box-style">
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-isolation" value="true" disabled> 
                    <label class="form-check-label" for="cb-isolation">Isolation Pen</label>
                </div>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-birdproof" disabled>
                    <label class="form-check-label" for="cb-birdproof">Bird Proof</label>
                </div>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-fence" disabled>
                    <label class="form-check-label" for="cb-fence">Perimeter Fence</label>
                </div>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-footdip" disabled>
                    <label class="form-check-label" for="cb-footdip">Foot Dip</label>
                </div>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-distance" disabled>
                    <label class="form-check-label" for="cb-distance">500-meter Distance</label>
                </div>
                <div class="flex">
                    <label for="input-trough" class="form-label">Waste Management:</label>
                    <p style="font-weight: 600;">Septic Tank</p>
                </div>
            </div>
        </section>
    </div>
    <div class="flex">
        <section class="flex-item" id="farm-activities">
            <h2>Activities</h2>
            <div class="box-style">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th style="width: 20%">Trip Type</th>
                            <th>Time</th>
                            <th style="width: 30%">Description</th>
                            <th style="width: 15%">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data -->
                        <tr>
                            <td>01/01/21</td>
                            <td>Delivery of Medicine</td>
                            <td>16:00 - 18:00</td>
                            <td>Very good</td>
                            <td>N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="flex-item" id="biosec-measures">
            <h2>Biosecurity Checklists</h2>
            <div class="box-style">
                <div>
                    <div class="flex subheading">
                        <div class="input-group mb-3" style="width:40%">
                            <label class="form-label" style="font-weight: 600;">Date</label>
                            <select class="form-select" id="checklist-date" style="margin-bottom: 0;">
                                <option value="01/01/21">01/01/21</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Disabled form -- result from adding new checklist -->
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:80%">Did the farm:</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Disinfected farm premises?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="disinfect_prem" id="disinfect_prem_radio1" disabled>
                                    <label class="btn btn-outline-primary" for="disinfect_prem_radio1">Yes</label>
                                  
                                    <input type="radio" class="btn-check" name="disinfect_prem" id="disinfect_prem_radio2" disabled>
                                    <label class="btn btn-outline-primary" for="disinfect_prem_radio2">No</label>
                                  
                                    <input type="radio" class="btn-check" name="disinfect_prem" id="disinfect_prem_radio3" disabled>
                                    <label class="btn btn-outline-primary" for="disinfect_prem_radio3">N/A</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Provided foot dip specifically for haulers/drivers/truck helpers?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="prvdd_foot_dip" id="prvdd_foot_dip_radio1" disabled>
                                    <label class="btn btn-outline-primary" for="prvdd_foot_dip_radio1">Yes</label>
                                  
                                    <input type="radio" class="btn-check" name="prvdd_foot_dip" id="prvdd_foot_dip_radio2" disabled>
                                    <label class="btn btn-outline-primary" for="prvdd_foot_dip_radio2">No</label>
                                  
                                    <input type="radio" class="btn-check" name="prvdd_foot_dip" id="prvdd_foot_dip_radio3" disabled>
                                    <label class="btn btn-outline-primary" for="prvdd_foot_dip_radio3">N/A</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Provided alcohol/soap for truck helper/driver for their hand sanitation?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="prvdd_alco_soap" id="prvdd_alco_soap_radio1" disabled>
                                    <label class="btn btn-outline-primary" for="prvdd_alco_soap_radio1">Yes</label>
                                  
                                    <input type="radio" class="btn-check" name="prvdd_alco_soap" id="prvdd_alco_soap_radio2" disabled>
                                    <label class="btn btn-outline-primary" for="prvdd_alco_soap_radio2">No</label>
                                  
                                    <input type="radio" class="btn-check" name="prvdd_alco_soap" id="prvdd_alco_soap_radio3" disabled>
                                    <label class="btn btn-outline-primary" for="prvdd_alco_soap_radio3">N/A</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Observed "no visitor/s" policy?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="obs_no_visitors" id="obs_no_visitors_radio1" disabled>
                                    <label class="btn btn-outline-primary" for="obs_no_visitors_radio1">Yes</label>
                                  
                                    <input type="radio" class="btn-check" name="obs_no_visitors" id="obs_no_visitors_radio2" disabled>
                                    <label class="btn btn-outline-primary" for="obs_no_visitors_radio2">No</label>
                                  
                                    <input type="radio" class="btn-check" name="obs_no_visitors" id="obs_no_visitors_radio3" disabled>
                                    <label class="btn btn-outline-primary" for="obs_no_visitors_radio3">N/A</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Disinfected veterinary supplies like antibiotics by misting or blotting with clothes soaked with disinfectant before storing?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="disinfect_vet_supp" id="disinfect_vet_supp_radio1" disabled>
                                    <label class="btn btn-outline-primary" for="disinfect_vet_supp_radio1">Yes</label>
                                  
                                    <input type="radio" class="btn-check" name="disinfect_vet_supp" id="disinfect_vet_supp_radio2" disabled>
                                    <label class="btn btn-outline-primary" for="disinfect_vet_supp_radio2">No</label>
                                  
                                    <input type="radio" class="btn-check" name="disinfect_vet_supp" id="disinfect_vet_supp_radio3" disabled>
                                    <label class="btn btn-outline-primary" for="disinfect_vet_supp_radio3">N/A</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Personnel dipped their footwear in the foot bath before entering each building?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="prsnl_dip_footwear" id="prsnl_dip_footwear_radio1" disabled>
                                    <label class="btn btn-outline-primary" for="prsnl_dip_footwear_radio1">Yes</label>
                                  
                                    <input type="radio" class="btn-check" name="prsnl_dip_footwear" id="prsnl_dip_footwear_radio2" disabled>
                                    <label class="btn btn-outline-primary" for="prsnl_dip_footwear_radio2">No</label>
                                  
                                    <input type="radio" class="btn-check" name="prsnl_dip_footwear" id="prsnl_dip_footwear_radio3" disabled>
                                    <label class="btn btn-outline-primary" for="prsnl_dip_footwear_radio3">N/A</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Personnel sanitized their hands using alcohol or soap before entering each building?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="prsnl_sanit_hands" id="prsnl_sanit_hands_radio1" disabled>
                                    <label class="btn btn-outline-primary" for="prsnl_sanit_hands_radio1">Yes</label>
                                  
                                    <input type="radio" class="btn-check" name="prsnl_sanit_hands" id="prsnl_sanit_hands_radio2" disabled>
                                    <label class="btn btn-outline-primary" for="prsnl_sanit_hands_radio2">No</label>
                                  
                                    <input type="radio" class="btn-check" name="prsnl_sanit_hands" id="prsnl_sanit_hands_radio3" disabled>
                                    <label class="btn btn-outline-primary" for="prsnl_sanit_hands_radio3">N/A</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Changed disinfectant in the wheel bath/foot dip every day?</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="cng_disinfect_daily" id="cng_disinfect_daily_radio1" disabled>
                                    <label class="btn btn-outline-primary" for="cng_disinfect_daily_radio1">Yes</label>
                                  
                                    <input type="radio" class="btn-check" name="cng_disinfect_daily" id="cng_disinfect_daily_radio2" disabled>
                                    <label class="btn btn-outline-primary" for="cng_disinfect_daily_radio2">No</label>
                                  
                                    <input type="radio" class="btn-check" name="cng_disinfect_daily" id="cng_disinfect_daily_radio3" disabled>
                                    <label class="btn btn-outline-primary" for="cng_disinfect_daily_radio3">N/A</label>
                                </div>
                            </td>
                        </tr>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
{% endblock section %}