<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | For Approval </title>
{% endblock page_title %}

{% block section %}

{% include 'partials/messages.html' %}

<div class="table-container main-div">
    <h1 class="heading"><a href="/forms-approval">Forms Approval</a> > Activities made on {{actDate}} </h1>
    <div class="flex subheading">
        <button class="primary-btn" id="approve-activity" style="justify-content: flex-end;" onclick="approveActivity('{{ actDate }}')">Approve</button> 
        <button class="primary-btn-red" id="reject-activity" onclick="rejectActivity('{{ actDate }}')">Reject</button>
    </div>
    <div class="box-style small-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th style="width: 20%">Trip Type</th>
                    <th>Time</th>
                    <th style="width: 30%">Description</th>
                    <th style="width: 15%">Remarks</th>
                </tr>
            </thead>
            <tbody>
            {% for act in activities %}
                <tr id="{{ act.id }}" value="{{ act.id }}">
                    <td data-label="Date">
                        <p class="activity-data">{{act.date}}</p>
                    </td>
                    <td data-label="Trip Type">
                        <p class="activity-data">{{act.trip_type}}</p>
                    </td>
                    <td data-label="Time">
                        <p class="activity-data">{{act.time_arrival}} - {{act.time_departure}}</p>
                    </td>
                    <td data-label="Description">
                        <p class="activity-data">{{act.description}}</p>
                    </td>
                    <td data-label="Remarks">
                        <p class="activity-data">{{act.remarks}}</p>
                    </td>
                    <td> </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock section %}