<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | For Approval </title>
{% endblock page_title %}

{% block section %}

{% include 'partials/messages.html' %}

<div class="table-container main-div">
    <h1 class="heading"><a href="/forms-approval">Forms Approval</a> > Activity Form Code {{actForm.code|stringformat:'03d'}} (Filed {{actForm.date_added}}) </h1>
        {% if user.groups.all.0.name != 'Field Technician' %}
        {% if formStatus == 'Pending' %}
        <div class="flex">
            <p class="flex-item">Approve form?</p>
            <div class="subheading btn-group" id="actForm-btn-group">
                <button class="primary-btn act-forms-btn" id="approveBtn" style="margin-right: 4px;" onclick="approveActivity('{{ actForm.id }}')">Approve</button> 
                <button class="primary-btn-red act-forms-btn" id="rejectBtn" type="button" onclick="toggleRejectReason()"> Reject</button>
                <button class="secondary-btn hide" id="cancelBtn" style="justify-content: flex-end;" onclick="toggleRejectReason()">Cancel</button> 
            </div>
        </div>
        <div class="box-style reject-reason hide">
        <form>
            <div class="input-group mb-3" id="new-area">
                <input name="input-code" type="text" required class="form-control" id="reject-reason" placeholder="Reason for rejection">
                <button class="secondary-btn-red" type="submit" id="reject-activity" onclick="rejectActivity('{{ actForm.id }}')">Submit</button>
            </div>
        </form>
        </div>

        {% endif %}
    {% elif user.groups.all.0.name == 'Field Technician' %}
        {% if formStatus == 'Rejected' and latest.id == actForm.id %}
        <div class="flex">
            <p class="flex-item">Resubmit form?</p>
            <div class="subheading btn-group" id="actForm-btn-group">
                <button class="primary-btn act-forms-btn" id="resubmit-activity" style="margin-right: 4px;" type="submit" onclick="resubmitActivity('{{ actForm.date_added }}', '{{ actForm.id }}', '{{ actForm.ref_farm_id }}')">Resubmit</button> 
            </div>
        </div>
        {% endif %}
    {% endif %}

    <div class="flex subheading">
        <div class="input-group mb-3">
            <label class="form-label" style="font-weight: 600;">Version </label>
            <select class="form-select" name="actform-version" id="actform-version" style="margin-bottom: 0; width: 100px">
                {% if latest.id == actForm.id and formStatus == 'Rejected' %}
                    <option hidden>{{actForm.date_added}} (For Resubmission)</option>
                {% elif latest.id == actForm.id and formStatus != 'Rejected' %}
                    <option hidden>{{actForm.date_added}} (Latest Version)</option>
                {% else %}
                    <option hidden>{{actForm.date_added}}</option>
                {% endif %}
                {% for version in actFormList %}
                    {% if latest.id == version.id and formStatus == 'Rejected' %}
                    <option value="{{version.id}}-{{version.date_added}}">{{version.date_added}} (For resubmission)</option>
                    {% elif latest.id == actForm.id and formStatus != 'Rejected' %}
                    <option value="{{version.id}}-{{version.date_added}}">{{version.date_added}} (Latest Version)</option>
                    {% else %}
                    <option value="{{version.id}}-{{version.date_added}}">{{version.date_added}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <p class="flex-item"></p>
        <p class="flex-item"></p>
    </div>
    

    {% if user.groups.all.0.name != 'Field Technician' %}
    <div class="box-style">
        <table class="table">
            <thead>
                <tr>
                    <th width="15%">Date</th>
                    <th width="20%">Trip Type</th>
                    <th width="10%">Time</th>
                    <th style="text-align: right;">Number of Pigs Involved</th>
                    <th width="35%">Remarks</th>
                </tr>
            </thead>
            <tbody>
            {% for act in activities %}
                <tr id="{{ act.id }}" value="{{ act.id }}">
                    <td data-label="Date">
                        <p class="activity-data">{{act.date}}</p>
                    </td>
                    <td data-label="Trip Type">
                        <p class="activity-data">{{act.trip_type}}</p>
                    </td>
                    <td data-label="Time">
                        <p class="activity-data ">{{act.time_arrival}} - {{act.time_departure}}</p>
                    </td>
                    <td data-label="Num Pigs Involved" style="text-align: right;">
                        <p class="activity-data">{{act.num_pigs_inv}}</p>
                    </td>
                    <td data-label="Remarks">
                        <p class="activity-data">{{act.remarks}}</p>
                    </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if formStatus == 'Rejected' and latest.id != actForm.id%}
            <div style="margin-top: 50px;">
                <p style="font-weight: 600;">Remarks:</p>
                <p>{{actForm.reject_reason}}</p>
            </div>
        {% endif %}
        
    </div>


    {% else %}
    <div class="box-style">
        <table class="table">
            <thead>
                <tr>
                    <th width="10%">Date</th>
                    <th width="12%">Trip Type</th>
                    <th width="20%">Time</th>
                    <th>Description</th>
                    <th>Remarks</th>
                    <th width="10%"></th>
                </tr>
            </thead>
            <tbody id="activity-form-table">
            {% for act in activities %}
                {% if formStatus == 'Rejected' and latest.id == actForm.id %}
                <tr id="{{ act.id }}" value="{{ act.id }}">
                    <td data-label="Date">
                        <p class="activity-data act-date">{{act.date}}</p>
                        <input type="date" aria-label="Date" class="input-date form-control activity-input" value="{{act.format_date}}">
                    </td>
                    <td data-label="Trip Type">
                        <p class="activity-data act-trip-type">{{act.trip_type}}</p>
                        <select class="input-type form-select activity-input" style="margin-bottom: 0;" placeholder="{{act.trip_type}}">
                        
                        {% if act.trip_type == 'Delivery of Feeds' %}
                            <option selected value>Delivery of Feeds</option>
                            <option>Delivery of Medicine</option>
                            <option>Delivery of Pigs</option>
                            <option>Vaccinations</option>
                            <option>Inspection</option>
                            <option>Trucking</option>
                            <option>Other</option>

                        {% elif act.trip_type == 'Delivery of Medicine' %}
                            <option>Delivery of Feeds</option>
                            <option selected value>Delivery of Medicine</option>
                            <option>Delivery of Pigs</option>
                            <option>Vaccinations</option>
                            <option>Inspection</option>
                            <option>Trucking</option>
                            <option>Other</option>
                        
                        {% elif act.trip_type == 'Delivery of Pigs' %}
                            <option>Delivery of Feeds</option>
                            <option>Delivery of Medicine</option>
                            <option selected value>Delivery of Pigs</option>
                            <option>Vaccinations</option>
                            <option>Inspection</option>
                            <option>Trucking</option>
                            <option>Other</option>
                        
                        {% elif act.trip_type == 'Vaccinations' %}
                            <option>Delivery of Feeds</option>
                            <option>Delivery of Medicine</option>
                            <option>Delivery of Pigs</option>
                            <option selected value>Vaccinations</option>
                            <option>Inspection</option>
                            <option>Trucking</option>
                            <option>Other</option>
                        
                        {% elif act.trip_type == 'Inspection' %}
                            <option>Delivery of Feeds</option>
                            <option>Delivery of Medicine</option>
                            <option>Delivery of Pigs</option>
                            <option>Vaccinations</option>
                            <option selected value>Inspection</option>
                            <option>Trucking</option>
                            <option>Other</option>
                        
                        {% elif act.trip_type == 'Trucking' %}
                            <option>Delivery of Feeds</option>
                            <option>Delivery of Medicine</option>
                            <option>Delivery of Pigs</option>
                            <option>Vaccinations</option>
                            <option>Inspection</option>
                            <option selected value>Trucking</option>
                            <option>Other</option>
                        
                        {% else %}
                            <option>Delivery of Feeds</option>
                            <option>Delivery of Medicine</option>
                            <option>Delivery of Pigs</option>
                            <option>Vaccinations</option>
                            <option>Inspection</option>
                            <option>Trucking</option>
                            <option selected value>Other</option>

                        {% endif %}

                        </select>
                    </td>
                    <td data-label="Time">
                        <div class="flex">
                            <p class="activity-data act-arrival">{{act.time_arrival}}</p>
                            <p class="activity-data flex-item act-departure">{{act.time_departure}}</p></div>
                        <div class="input-group">
                        <input type="time" aria-label="Arrival Time" value="{{act.format_arrival}}" class="input-arrival form-control activity-input">
                        <input type="time" aria-label="Arrival Time" value="{{act.format_departure}}" class="input-departure form-control activity-input"></div>
                    </td>
                    <td data-label="Description">
                        <p class="activity-data act-description">{{act.description}}</p>
                        <input type="text" aria-label="Description" class="input-description form-control activity-input" value="{{act.description}}">
                    </td>
                    <td data-label="Remarks">
                        <p class="activity-data act-remarks">{{act.remarks}}</p>
                        <input type="text" aria-label="Remarks" class="input-remarks form-control activity-input" value="{{act.remarks}}">
                    </td>
                    <td>
                        <div class="btn-group" style="justify-content: end; padding: 0;">
                            <button name="editActBtn" class="secondary-btn activity-data" type="button" style="margin-right: 4px;" value="{{ act.id }}" onclick="editActivity(this)">Edit</button>
                            <button id="remove-activity-row" value="{{ act.id }}" onclick="deleteActivity(this)" type="button" name="deleteActBtn" class="secondary-btn-red activity-data">Delete</button>

                            <button name="saveActBtn" class="secondary-btn activity-input" type="button" style="margin-right: 4px;" value="{{ act.id }}" onclick="saveActivity(this, '{{ actForm.ref_farm_id }}')">Save</button>
                            <button name="cancelActBtn" class="secondary-btn-red activity-input" type="button" value="{{ act.id }}" onclick="cancelActivity(this)">Cancel</button>
                        </div>
                    </td>
                </tr>

                {% else %}
                <tr id="{{ act.id }}" value="{{ act.id }}">
                    <td data-label="Date">
                        <p class="activity-data">{{act.date}}</p>
                    </td>
                    <td data-label="Trip Type">
                        <p class="activity-data">{{act.trip_type}}</p>
                    </td>
                    <td data-label="Time">
                        <p class="activity-data">{{act.time_arrival}} - {{act.time_departure}}</p>
                    </td>
                    <td data-label="Description">
                        <p class="activity-data">{{act.description}}</p>
                    </td>
                    <td data-label="Remarks">
                        <p class="activity-data">{{act.remarks}}</p>
                    </td>
                    <td> </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        {% if formStatus == 'Rejected' and latest.id != actForm.id%}
            <div style="margin-top: 50px;">
                <p style="font-weight: 600;">Remarks:</p>
                <p>{{actForm.reject_reason}}</p>
            </div>
        {% endif %}
        
        {% if formStatus == 'Rejected' and latest.id == actForm.id %}
        <div class="flex subheading">
            <p class="flex-item"> Add new activities here. </p>
            <div>
                <button class="secondary-btn" type="button" onclick="addActivityRow()" style="justify-content: flex-end;">+ Add Activity</button> <!-- Adds another row -->
            </div>
        </div> 
        <table class="table">
            <thead>
                <tr>
                    <th width="10%">Date</th>
                    <th width="15%">Trip Type</th>
                    <th width="10%">Arrival Time</th>
                    <th width="10%">Departure Time</th>
                    <th>Description</th>
                    <th>Remarks</th>
                    <th width="10%"></th>
                </tr>
            </thead>
            <tbody id="activity-table">
                <tr style="display: none">
                    <td data-label="Date" id="date"><input type="date" aria-label="Date" class="form-control act-date-input"></td>
                    <td data-label="Trip Type" id="trip_type"><select class="form-select act-trip-type-input" style="margin-bottom:0;">
                        <option>Delivery of Feeds</option>
                        <option>Delivery of Medicine</option>
                        <option>Delivery of Pigs</option>
                        <option>Vaccinations</option>
                        <option>Inspection</option>
                        <option>Trucking</option>
                        <option>Other</option></select></td>                            
                    <td data-label="Arrival Time" id="time_arrival"><input type="time" aria-label="Arrival Time" class="form-control act-arrival-input"></td>
                    <td data-label="Departure Time" id="time_departure"><input type="time" aria-label="Departure Time" class="form-control act-departure-input"></td>
                    <td data-label="Description" id="description"><input type="text" aria-label="Description" placeholder="Description" class="form-control act-description-input"></td>
                    <td data-label="Remarks" id="remarks"><input type="text" aria-label="Remarks" placeholder="Remarks" class="form-control act-remarks-input"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        {% endif %}
        
    </div>
    {% endif %}


    <!-- Selected Farm References -->
    <h2>Farm {{actForm.ref_farm_id|stringformat:'03d'}} References</h2>
    <hr>
    <div class="flex">
        <div class="flex-item">
           
            <h3>Farm Details</h3>
            <div class="box-style">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Raiser</td>
                            <td>{{farmRef.raiser}}</td>
                        </tr>
                        <tr>
                            <th>Contact No.</td>
                            <td>{{farmRef.contact}}</td>
                        </tr>
                        <tr>
                            <th>Directly Managed</td>
                            <td>{{farmRef.directly_manage|yesno:'Yes,No'}}</td>
                        </tr>
                        <tr>
                            <th>Address</td>
                            <td>{{farmRef.farm_address}}</td>
                        </tr>
                        <tr>
                            <th>Area</td>
                            <td>{{farmRef.farm_area}}</td>
                        </tr>
                        <tr>
                            <th>Road Access</td>
                            <td>{{farmRef.road_access|yesno:"Yes,No"}}</td>
                        </tr>
                        <tr>
                            <th>Roof Height (in ft.)</td>
                            <td>{{farmRef.roof_height|floatformat:"-2"}} ft</td>
                        </tr>
                        <tr>
                            <th>Warehouse Area</td>
                            <td>{{farmRef.wh_length|floatformat:"-2"}} x {{farmRef.wh_width|floatformat:"-2"}} ft</td>
                        </tr>
                        <tr>
                            <th>Feeding Trough</td>
                            <td>{{farmRef.feed_trough}}</td>
                        </tr>
                        <tr>
                            <th>Building Capacity</td>
                            <td>{{farmRef.bldg_cap}} pigs</td>
                        </tr>
                        <tr>
                            <th>Building Curtain</td>
                            <td>{{farmRef.bldg_curtain|yesno:"Yes,No"}}</td>
                        </tr>
                        <tr>
                            <th>Medic Tank</td>
                            <td>{{farmRef.medic_tank}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            
        </div>
        
        <div class="flex-item">
            <h3>Health Details</h3>
            <div class="box-style">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>No. of Pigs</th>
                            <td>{{farmRef.total_pigs}} pigs</td>
                        </tr>
                        <tr>
                            <th>Ave. Starter Weight</th>
                            {% if healthRef.ave_startWeight != 0.0 %}
                                <td>{{healthRef.ave_startWeight}}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Ave. Fattener Weight</th>
                            {% if healthRef.ave_endWeight != 0.0 %}
                                <td>{{healthRef.ave_endWeight}}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Mortality Rate</th>
                            <td>{{healthRef.mortality_rate}}</td>
                        </tr>
                       <tr>
                            <th>Incidents Reported</th>
                            <td>{{healthRef.total_incidents}}</td>
                       </tr>
                       <tr>
                            <th>Active Incidents</th>
                            <td>{{healthRef.total_active}}</td>
                       </tr> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

</div>
{% endblock section %}