<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Farm {{ farm.id }} </title>
{% endblock page_title %}

{% block section %}
<div class="main-div">
    <div class="flex">
        <h1 class="heading flex-item"><a href="/tech-farms">Farms Assigned</a> >  {{ farm.id }}</h1>
        <div class="dropdown">
            <a class="button primary-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              View
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><button class="dropdown-item viewBiosec" value="{{ farm.id }}" onclick="viewBiosec(this)">Biosecurity Details</button></li> <!-- Redirect to assigned farm's biosec details -->
              <li><button class="dropdown-item" value="{{ farm.id }}" onclick="viewHogsHealth(this)">Hogs Health & Symptoms</button></li> <!-- Redirect to assigned farm's hogs health details -->
            </ul>
        </div>
    </div>
    <hr>
    <div class="flex flex-form">
        <section class="flex-item" id="farm-details">
            <h2>Farm Details</h2>
            <div class="box-style flex flex-form">
                <div class="flex-item">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Raiser</td>
                                <td data-label="Raiser">{{farm.raiser}}</td>
                            </tr>
                            <tr>
                                <th>Contact No.</td>
                                <td data-label="Contact No.">{{farm.contact}}</td>
                            </tr>
                            <tr>
                                <th>Directly Managed</td>
                                <td data-label="Directly Managed>{{farm.directly_manage|yesno:"Yes,No"}}</td>
                            </tr>
                            <tr>
                                <th>Address</td>
                                <td data-label="Address">{{farm.farm_address}}</td>
                            </tr>
                            <tr>
                                <th>Area</td>
                                <td data-label="Area">{{farm.farm_area}}</td>
                            </tr>
                            <tr>
                            <tr>
                                <th>Road Access</td>
                                <td data-label="Road Access">{{farm.road_access|yesno:"Yes,No"}}</td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex-item">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Roof Height (in ft.)</td>
                                <td data-label="Roof Height">{{farm.roof_height|floatformat:"-2"}}</td>
                            </tr>
                            <tr>
                                <th>Warehouse Area</td>
                                <td data-label="Warehouse Area">{{farm.wh_length|floatformat:"-2"}} x {{farm.wh_width|floatformat:"-2"}}</td>
                            </tr>
                            <tr>
                                <th>Feeding Trough</td>
                                <td data-label="Feeding Trough">{{farm.feed_trough}}</td>
                            </tr>
                            <tr>
                                <th>Building Capacity</td>
                                <td data-label="Building Capacity">{{farm.bldg_cap}}</td>
                            </tr>
                            <tr>
                                <th>Building Curtain</td>
                                <td data-label="Building Curtain">{{farm.bldg_curtain|yesno:"Yes,No"}}</td>
                            </tr>
                            <tr>
                                <th>Medic Tank</td>
                                <td data-label="Medic Tank">{{farm.medic_tank}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <div class="flex flex-form">
        <section class="flex-item" id="pig-pens">
            <h2>Pig Pens</h2>
            <div class="box-style">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Length</th>
                            <th>Width</th>
                            <th>No. of Pigs</th>
                        </tr>
                    </thead>                   
                    <tbody>
                    {% for pen in pigpens %}
                    
                        <tr>
                            <td> {{pen.pen_no}} </td>
                            <td data-label="Length"> {{pen.length|floatformat:"-2"}} </td>
                            <td data-label="Width"> {{pen.width|floatformat:"-2"}} </td>
                            <td data-label="No. of Pigs"> {{pen.num_heads}} </td>
                        </tr>
        
                    {% endfor %}
                    </tbody>
                </table>
                <div class="flex subheading">
                    <label style="font-weight: 600;">Total No. of Pigs: </label>
                    
                    {% if farm.total_pigs == 0 %}
                        <p> No pigs </p>
                    {% elif farm.total_pigs == Null %}
                        <p> No pigs </p>
                    {% else %}
                        <p> {{farm.total_pigs}} pigs </p>
                    {% endif %}

                </div>
            </div>
        </section>
        <section class="flex-item" id="biosec-measures">
            <h2>Biosecurity Measures</h2>
            <div class="box-style">
                <div class="mb-3">
                    {% if farm.isol_pen == 0 %}
                    <input type="checkbox" class="form-check-input" id="cb-isolation" value="true" checked disabled> 
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="cb-isolation" value="true" disabled> 
                    {% endif %}

                    <label class="form-check-label" for="cb-isolation">Isolation Pen</label>
                </div>
                <div class="mb-3">
                    {% if farm.bird_proof == 0 %}
                    <input type="checkbox" class="form-check-input" id="cb-birdproof" value="true" checked disabled> 
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="cb-birdproof" value="true" disabled> 
                    {% endif %}

                    <label class="form-check-label" for="cb-birdproof">Bird Proof</label>
                </div>
                <div class="mb-3">
                    {% if farm.perim_fence == 0 %}
                    <input type="checkbox" class="form-check-input" id="cb-fence" value="true" checked disabled> 
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="cb-fence" value="true" disabled> 
                    {% endif %}

                    <label class="form-check-label" for="cb-fence">Perimeter Fence</label>
                </div>
                <div class="mb-3">
                    {% if farm.foot_dip == 0 %}
                    <input type="checkbox" class="form-check-input" id="cb-footdip" value="true" checked disabled> 
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="cb-footdip" value="true" disabled> 
                    {% endif %}

                    <label class="form-check-label" for="cb-footdip">Foot Dip</label>
                </div>
                <div class="mb-3">
                    {% if farm.fiveh_m_dist == 0 %}
                    <input type="checkbox" class="form-check-input" id="cb-distance" value="true" checked disabled> 
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="cb-distance" value="true" disabled> 
                    {% endif %}
                    
                    <label class="form-check-label" for="cb-distance">500-meter Distance</label>
                </div>
                <div class="flex">
                    <label for="input-trough" class="form-label">Waste Management:</label>
                    <p style="font-weight: 600;">{{farm.waste_mgt}}</p>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock section %}