<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
<title>SIDC-HDSS | Farm {{farm.id|stringformat:"03d"}} </title>
{% endblock page_title %}

{% block section %}

{% include 'partials/messages.html' %}

<div class="main-div">
    <form action="" method="POST">
    {% csrf_token %}    

    <div class="flex subheading">
        <h1 class="heading flex-item"><a href="/">Farms Assigned</a> > {{ farm.id|stringformat:"03d" }}</h1>
        <div class="dropdown">
            <a class="button primary-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              View
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item no-shadow viewBiosec" href="/biosecurity/{{ farm.id|stringformat:'03d' }}">Biosecurity Details</a></li> <!-- Redirect to assigned farm's biosec details -->
              <li><a class="dropdown-item no-shadow" href="/selected-health-symptoms/{{ farm.id|stringformat:'03d' }}">Hogs Health & Symptoms</a></li> <!-- Redirect to assigned farm's hogs health details -->
            </ul>
        </div>
    </div>
    <div class="flex mobile-subheading">
        <div class="flex" style="width: 80%">
            <h1 class="heading flex-item"><a href="/">Farms Assigned</a> > {{farm.id|stringformat:"03d"}} </h1>
            <div class="dropdown flex-item">
                <a class="button primary-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                View
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item no-shadow viewBiosec" href="/biosecurity/{{ farm.id|stringformat:'03d' }}">Biosecurity Details</a></li> <!-- Redirect to assigned farm's biosec details -->
                <li><a class="dropdown-item no-shadow" href="/selected-health-symptoms/{{ farm.id|stringformat:'03d' }}">Hogs Health & Symptoms</a></li> <!-- Redirect to assigned farm's hogs health details -->
                </ul>
            </div>
        </div>
    </div>
    <div class="flex subheading">
        <div class="input-group mb-3">
            <label class="form-label" style="font-weight: 600;">Batch </label>
            <select class="form-select" name="tech-farm-version" id="tech-farm-version" style="margin-bottom: 0; width: 100px">
                {% if latest.id == selectedPigpen.id %}
                <option hidden value="{{farm.id|stringformat:'03d'}}-{{selectedPigpen.id}}">{{selectedPigpen.date_added}} (Current)</option>
                {% else %}
                <option hidden value="{{selectedPigpen.id}}">{{selectedPigpen.date_added}} - {{prev}}</option>
                {% endif %}

                {% for ver in version %}
                    {% if latest.id == ver.id %}
                    <option value="{{farm.id|stringformat:'03d'}}-{{ver.id}}">{{ver.date_added}} (Current)</option>
                    {% else %}
                    <option value="{{farm.id|stringformat:'03d'}}-{{ver.id}}">{{ver.date_added}} - {{ver.endDate}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <p class="flex-item"></p>
        <p class="flex-item"></p>
    </div>
    <div class="flex mobile-subheading">
        <div class="input-group mb-3">
            <label class="form-label" style="font-weight: 600;">Batch </label>
            <select class="form-select" name="tech-farm-version" id="tech-farm-version-mobile" style="margin-bottom: 0; width: 100px">
                {% if latest.id == selectedPigpen.id %}
                <option hidden value="{{farm.id|stringformat:'03d'}}-{{selectedPigpen.id}}">{{selectedPigpen.date_added}} (Current)</option>
                {% else %}
                <option hidden value="{{farm.id|stringformat:'03d'}}-{{selectedPigpen.id}}">{{selectedPigpen.date_added}} - {{prev}}</option>
                {% endif %}

                {% for ver in version %}
                    {% if latest.id == ver.id %}
                    <option value="{{farm.id|stringformat:'03d'}}-{{ver.id}}">{{ver.date_added}} (Current)</option>
                    {% else %}
                    <option value="{{farm.id|stringformat:'03d'}}-{{ver.id}}">{{ver.date_added}} - {{ver.endDate}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <hr>
    <div class="flex flex-form">
        <section class="flex-item" id="farm-details">
            <h2>Farm Details</h2>
            <div class="box-style flex flex-form">
                <div class="flex-item">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Raiser</td>
                                <td data-label="Raiser">{{farm.raiser}} ({{farm.raiser_mem_code}})</td>
                            </tr>
                            <tr>
                                <th>Contact No.</td>
                                <td data-label="Contact No.">{{farm.contact}}</td>
                            </tr>
                            <tr>
                                <th>Directly Managed</td>
                                <td data-label="Directly Managed">{{farm.directly_manage|yesno:'Yes,No'}}</td>
                            </tr>
                            <tr>
                                <th>Address</td>
                                <td data-label="Address">{{farm.farm_address}}</td>
                            </tr>
                            <tr>
                                <th>Area</td>
                                <td data-label="Area">{{farm.farm_area}}</td>
                            </tr>
                            <tr>
                                <th>Road Access</td>
                                <td data-label="Road Access">{{farm.road_access|yesno:"Yes,No"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex-item">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Roof Height (in ft.)</td>
                                <td data-label="Roof Height">{{farm.roof_height|floatformat:"-2"}} ft</td>
                            </tr>
                            <tr>
                                <th>Warehouse Area</td>
                                <td data-label="Warehouse Area">{{farm.wh_length|floatformat:"-2"}} x {{farm.wh_width|floatformat:"-2"}} ft</td>
                            </tr>
                            <tr>
                                <th>Feeding Trough</td>
                                <td data-label="Feeding Trough">{{farm.feed_trough}}</td>
                            </tr>
                            <tr>
                                <th>Building Capacity</td>
                                <td data-label="Building Capacity">{{farm.bldg_cap}} pigs</td>
                            </tr>
                            <tr>
                                <th>Building Curtain</td>
                                <td data-label="Building Curtain">{{farm.bldg_curtain|yesno:"Yes,No"}}</td>
                            </tr>
                            <tr>
                                <th>Medic Tank</td>
                                <td data-label="Medic Tank">{{farm.medic_tank}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <div class="flex flex-form p">
        <section class="flex-item" id="pig-pens">
            <div class="flex subheading">
                <h2 class="flex-item">Pig Pens</h2>
                {% if latest.date_added == selectedPigpen.date_added %}
                    {% if farm.total_pigs == 0  %}
                    <div><button class="primary-btn pigpen-data" type="button" onclick="showPigpenInput()" style="justify-content: flex-end;">New Pens</button></div>
                    
                    <div><button class="secondary-btn pigpen-input" type="submit" style="justify-content: flex-end; margin-right: 4px;">Save</button></div>
                    <div><button class="secondary-btn-red pigpen-input" type="button" onclick="cancelAddPigpen()" style="justify-content: flex-end;">Cancel</button></div>
                    {% else %}
                    <div><button class="primary-btn pigpen-data" type="button" disabled style="justify-content: flex-end;">New Pens</button></div>
                    {% endif %}
                {% else %}
                    <div></div>
                {% endif %}
            </div>
            <div class="flex mobile-subheading">
                <div class="flex" style="width: 75%">
                    <h2 class="flex-item">Pig Pens</h2>
                    {% if latest.date_added == selectedPigpen.date_added %}
                        {% if fattener is not None  %}
                        <div class="flex-item">
                            <button class="primary-btn pigpen-data" type="button" onclick="showPigpenInput()" style="justify-content: flex-end;">New Pens</button>

                            <div class="flex" style="margin-left: -35px;">
                                <button class="secondary-btn pigpen-input" type="submit" style="justify-content: flex-end; margin-right: 4px;">Save</button>
                                <button class="secondary-btn-red pigpen-input" type="button" onclick="cancelAddPigpen()" style="justify-content: flex-end;">Cancel</button>
                            </div>

                        </div>
                        {% else %}
                        <div class="flex-item"><button class="primary-btn pigpen-data" type="button" disabled style="justify-content: flex-end;">New Pens</button></div>
                        {% endif %}
                    {% else %}
                    <div></div>
                    {% endif %}
                </div>
                
            </div>
            <div class="box-style pigpen-data">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Length</th>
                            <th>Width</th>
                            <th>No. of Pigs</th>
                        </tr>
                    </thead>                   
                    <tbody>
                    {% for pen in pigpens %}
                        <tr>
                            <td> {{pen.pen_no}} </td>
                            <td data-label="Length"> {{pen.length|floatformat:"-2"}} ft</td>
                            <td data-label="Width"> {{pen.width|floatformat:"-2"}} ft</td>
                            <td data-label="No. of Pigs"> {{pen.num_heads}} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="flex subheading">
                    <label style="font-weight: 600;">Total No. of Pigs: </label>
                    {% if total_pigs == 0 or total_pigs == Null %}
                        <p> No pigs </p>
                    {% else %}
                        <p> {{total_pigs}} pigs </p>
                    {% endif %}
                </div>
            </div>
            <!-- hidden until technician needs to add new pigpens -->
            <div class="box-style pigpen-input">
                <div class="flex subheading">
                    <p class="flex-item"></p>
                    <div><button class="primary-btn" type="button" onclick="addPigPenRow()" style="justify-content: flex-end;"><i class='bx bx-plus'></i><span class="text">Add Pen</span></button> </div>
                </div>
                <div class="flex mobile-subheading">
                    <div class="flex" style="width: 75%">
                        <p class="flex-item"></p>
                        <div class="flex-item"><button class="primary-btn" type="button" onclick="addPigPenRow()" style="justify-content: flex-end;"><i class='bx bx-plus'></i><span class="text">Add Pen</span></button> </div>
                    </div>
                </div>
                <div class="input-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Length (in ft.)</th>
                                <th>Width (in ft.)</th>
                                <th>No. of Pigs</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody  id="pigpen-table">

                            <tr id="pigpen-row">
                                <td data-label="Length" id="pigpen-length"> {{pigpenRowForm.length}} </td>
                                <td data-label="Width" id="pigpen-width"> {{pigpenRowForm.width}} </td>
                                <td data-label="No. of Pigs" id="pigpen-num-heads"> {{pigpenRowForm.num_heads}} </td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- <div class="flex subheading">
                    <label style="font-weight: 600;">Total No. of Pigs: </label>
                    <p id="total_pigs"> </p>
                </div> -->
            </div>
        </section>
        <section class="flex-item" id="biosec-measures">
            <h2>Biosecurity Measures</h2>
            <div class="box-style">
                <div class="mb-3">
                    {% if farm.bird_proof == 0 %}
                    <input type="checkbox" class="form-check-input" id="cb-birdproof" value="true" checked disabled> 
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="cb-birdproof" value="true" disabled> 
                    {% endif %}

                    <label class="form-check-label" for="cb-birdproof">Bird Proof</label>
                </div>
                <div class="mb-3">
                    {% if farm.perim_fence == 0 %}
                    <input type="checkbox" class="form-check-input" id="cb-fence" value="true" checked disabled> 
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="cb-fence" value="true" disabled> 
                    {% endif %}

                    <label class="form-check-label" for="cb-fence">Perimeter Fence</label>
                </div>
                <div class="mb-3">
                    {% if farm.fiveh_m_dist == 0 %}
                    <input type="checkbox" class="form-check-input" id="cb-distance" value="true" checked disabled> 
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="cb-distance" value="true" disabled> 
                    {% endif %}
                    
                    <label class="form-check-label" for="cb-distance">500-meter Distance</label>
                </div>
                <div class="mb-3">
                    {% if farm.isol_pen == 0 %}
                    <input type="checkbox" class="form-check-input" id="cb-isolation" value="true" checked disabled> 
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="cb-isolation" value="true" disabled> 
                    {% endif %}

                    <label class="form-check-label" for="cb-isolation">Isolation Pen</label>
                </div>
                <div class="mb-3">
                    {% if farm.foot_dip == 0 %}
                    <input type="checkbox" class="form-check-input" id="cb-footdip" value="true" checked disabled> 
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="cb-footdip" value="true" disabled> 
                    {% endif %}

                    <label class="form-check-label" for="cb-footdip">Foot Dip</label>
                </div>
                <div class="flex">
                    <label for="input-trough" class="form-label">Waste Management:</label>
                    <p style="font-weight: 600;">{{farm.waste_mgt}}</p>
                </div>
            </div>
        </section>
    </div>
    </form>
</div>
{% endblock section %}