<!DOCTYPE html>
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Farms Assigned</title>
{% endblock page_title %}

{% block section %}

{% include 'partials/messages.html' %}

<div class="table-container main-div">
    <h1 class="heading">Farms Assigned</h1>
    <div class="flex subheading">

        {% if tFarms.areaCount == 0 %}
                <label style="font-weight: 600;">No Areas Assigned.</label>
                <p class="flex-item"> </p>
            {% elif tFarms.areaCount == 1 %}
                <label style="font-weight: 600;">Area Assigned:</label>
                <p class="flex-item">{{tFarms.areaString}}</p>
            {% else %}
                <label style="font-weight: 600;">Areas Assigned:</label>
                <p class="flex-item">{{tFarms.areaString}}</p>
            {% endif %}

        <div>
            
            {% if tFarms.areaCount == 0 %}
            <button class="button primary-btn" disabled><i class='bx bx-plus'></i>Add Farm</button>
            {% else %}
            <a href="/add-farm" class="button primary-btn"><i class='bx bx-plus'></i>Add Farm</a>
            {% endif %}

        </div>

    </div>
    <div class="flex mobile-subheading">
        <div class="flex" style="width: 90%">
        
            {% if tFarms.areaCount == 0 %}
                <label style="font-weight: 600;">No Areas Assigned.</label>
                <p> </p>
            {% elif tFarms.areaCount == 1 %}
                <label style="font-weight: 600;">Area Assigned:</label>
                <p>{{tFarms.areaString}}</p>
            {% else %}
                <label style="font-weight: 600;">Areas Assigned:</label>
                <p>{{tFarms.areaString}}</p>
            {% endif %}
        
        </div>
        <div>

            {% if tFarms.areaCount == 0 %}
            <a href="" class="button primary-btn"><i class='bx bx-plus'></i></a>
            {% else %}
            <a href="/add-farm" class="button primary-btn"><i class='bx bx-plus'></i></a>
            {% endif %}
        
        </div>
    </div>
    
    <div class="box-style">
        <div class="legend legend-no-bg">
            <i style="background: #ED1E40"></i><span>Need Inspection</span><br>
        </div>
        {% if tFarms.techFarms|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Farm Code</th>
                    <th>Raiser</th>
                    <th>Contact No.</th>
                    <th>Address</th>
                    <th>Area</th>
                    <th>Last Inspected</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for techFarm in tFarms.techFarms %}
            
                <tr class="farm-row">
                    <td data-label="Farm Code">{{techFarm.code|stringformat:"03d"}}</td>
                    <td data-label="Raiser">{{techFarm.raiser}}</td>
                    <td data-label="Contact No.">{{techFarm.contact}}</td>
                    <td data-label="Address">{{techFarm.address}}</td>
                    <td data-label="Area">{{techFarm.area}}</td>
                    <td data-label="Last Inspected" class="farm-last-update">{{techFarm.updated|date:'N j, Y'}}</td>
                    <td data-label="No. of Pigs" hidden class="farm-total-pigs">{{techFarm.pigs}}</td>
                    <td data-label="" class="td-btn">
                        <button class="secondary-btn" id="viewTechFarm" onclick="viewTechFarm(this)"><span class="material-icons md-18">visibility</span><span class="text">View</span></button>
                    </td>
                </tr> 
                   
            {% endfor %}
            </tbody>            
        </table>
        {% else %}
        <div>
            <p>No farms to display.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock section %}