<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Farm 001 </title>
{% endblock page_title %}

{% block section %}
<div class="main-div">
    <div class="flex">
        <h1 class="heading flex-item"><a href="/tech-farms">Farms Assigned</a> >  001</h1>
        <div class="dropdown">
            <a class="button primary-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              View
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="/biosecurity">Biosecurity Details</a></li> <!-- Redirect to assigned farm's biosec details -->
              <li><a class="dropdown-item" href="#">Hogs Health & Symptoms</a></li> <!-- Redirect to assigned farm's hogs health details -->
            </ul>
        </div>
    </div>
    <hr>
    <div class="flex">
        <section class="flex-item" id="farm-details">
            <h2>Farm Details</h2>
            <div class="box-style flex">
                <div class="flex-item">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Farm Code</td>
                                <td>{{id}}</td>
                            </tr>
                            <tr>
                                <th>Raiser</td>
                                <td>{{raiser}}</td>
                            </tr>
                            <tr>
                                <th>Contact No.</td>
                                <td>{{contact}}</td>
                            </tr>
                            <tr>
                                <th>Directly Managed</td>
                                <td>{{directly_manage|yesno:"Yes,No"}}</td>
                            </tr>
                            <tr>
                                <th>Address</td>
                                <td>{{farm_address}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex-item">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Area</td>
                                <td>{{farm_area}}</td>
                            </tr>
                            <tr>
                                <th>Roof Height (in ft.)</td>
                                <td>{{roof_height|floatformat:"-2"}}</td>
                            </tr>
                            <tr>
                                <th>Warehouse Area</td>
                                <td>{{length|floatformat:"-2"}} x {{width|floatformat:"-2"}}</td>
                            </tr>
                            <tr>
                                <th>Feeding Trough</td>
                                <td>{{feed_trough}}</td>
                            </tr>
                            <tr>
                                <th>Building Capacity</td>
                                <td>{{bldg_cap}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <div class="flex">
        <section class="flex-item" id="pig-pens">
            <h2>Pig Pens</h2>
            <div class="box-style">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Length</th>
                            <th>Width</th>
                            <th>No. of Pigs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td data-label="Length"> 50000 </td>
                            <td data-label="Width"> 50000 </td>
                            <td data-label="No. of Pigs"> 50000 </td>
                        </tr>
                    </tbody>
                </table>
                <div class="flex subheading">
                    <label style="font-weight: 600;">Total No. of Pigs: </label>
                    <p> 100 pigs </p>
                </div>
            </div>
        </section>
        <section class="flex-item" id="biosec-measures">
            <h2>Biosecurity Measures</h2>
            <div class="box-style">
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-isolation" value="true" disabled> 
                    <label class="form-check-label" for="cb-isolation">Isolation Pen</label>
                </div>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-birdproof" disabled>
                    <label class="form-check-label" for="cb-birdproof">Bird Proof</label>
                </div>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-fence" disabled>
                    <label class="form-check-label" for="cb-fence">Perimeter Fence</label>
                </div>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-footdip" disabled>
                    <label class="form-check-label" for="cb-footdip">Foot Dip</label>
                </div>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="cb-distance" disabled>
                    <label class="form-check-label" for="cb-distance">500-meter Distance</label>
                </div>
                <div class="flex">
                    <label for="input-trough" class="form-label">Waste Management:</label>
                    <p style="font-weight: 600;">Septic Tank</p>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock section %}