<!DOCTYPE html>
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Farms Assigned</title>
{% endblock page_title %}

{% block section %}

{% include 'partials/messages.html' %}

<div class="table-container main-div">
    <h1 class="heading">Farms Assigned</h1>
    <div class="flex subheading">

        {% if tFarms.areaCount == 0 %}
                <label style="font-weight: 600;">No Areas Assigned.</label>
                <p class="flex-item"> </p>
            {% elif tFarms.areaCount == 1 %}
                <label style="font-weight: 600;">Area Assigned:</label>
                <p class="flex-item">{{tFarms.areaString}}</p>
            {% else %}
                <label style="font-weight: 600;">Areas Assigned:</label>
                <p class="flex-item">{{tFarms.areaString}}</p>
            {% endif %}

        <div>
            
            {% if tFarms.areaCount == 0 %}
            <button class="button primary-btn" disabled><i class='bx bx-plus'></i>Add Farm</button>
            {% else %}
            <a href="/add-farm" class="button primary-btn"><i class='bx bx-plus'></i>Add Farm</a>
            {% endif %}

        </div>
    </div>
    <div class="flex mobile-subheading">
        <div class="flex" style="width: 90%">
        
            {% if tFarms.areaCount == 0 %}
                <label style="font-weight: 600;">No Areas Assigned.</label>
                <p class="flex-item"> </p>
            {% elif tFarms.areaCount == 1 %}
                <label style="font-weight: 600;">Area Assigned:</label>
                <p class="flex-item">{{tFarms.areaString}}</p>
            {% else %}
                <label style="font-weight: 600;">Areas Assigned:</label>
                <p class="flex-item">{{tFarms.areaString}}</p>
            {% endif %}
        
        </div>
        <div>

            {% if tFarms.areaCount == 0 %}
            <a href="" class="button primary-btn"><i class='bx bx-plus'></i><span class="text">Add Farm</span></a>
            {% else %}
            <a href="/add-farm" class="button primary-btn"><i class='bx bx-plus'></i><span class="text">Add Farm</span></a>
            {% endif %}
        
        </div>
    </div>
    <div class="box-style">
        {% if tFarms.techFarms|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Farm Code</th>
                    <th>Raiser</th>
                    <th>Contact No.</th>
                    <th>Address</th>
                    <th>Last Update</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for techFarm in tFarms.techFarms %}
            
                <tr class="farm-row">
                    {% if techFarm.code < 10 %}
                        <td data-label="Farm Code">00{{techFarm.code}}</td>
                    {% elif techFarm.code < 100 %}
                        <td data-label="Farm Code">0{{techFarm.code}}</td>
                    {% else %}
                        <td data-label="Farm Code">{{techFarm.code}}</td>
                    {% endif %}
                    <td data-label="Raiser">{{techFarm.raiser}}</td>
                    <td data-label="Contact No.">{{techFarm.contact}}</td>
                    <td data-label="Address">{{techFarm.address}}</td>
                    <td data-label="Last Update" class="farm-last-update" value="{{techFarm.updated}}">{{techFarm.updated|date:'N j, Y, P'}}</td>
                    <td data-label="" class="td-btn">
                        <button class="secondary-btn" id="viewTechFarm" onclick="viewTechFarm(this)"><span class="material-icons md-18">visibility</span><span class="text">View</span></button>
                    </td>
                </tr> 
                   
            {% endfor %}
            </tbody>            
        </table>
        {% else %}
        <div>
            <p>No farms to display.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock section %}