<!DOCTYPE html>
{% extends 'base-logged-in.html' %}
{% load static %}

{% block page_title %}
<title>SIDC-HDSS | Member Announcements</title>
{% endblock page_title %}

{% block section %}
<div class="main-div">
    <h1 class="heading flex"><a href="/member-announcements"><i class='bx bx-chevron-left'></i>Announcements</a></h1>
    <hr>
    <div class="box-style small-table" >
        <table class="table">
            <tbody>
                <tr>
                    <th>Title</th>
                    <td data-label="Title">{{announcement.title}}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td data-label="Category">{{announcement.category}}</td>
                </tr>
                <tr>
                    <th>Recipient</th>
                    <td data-label="Recipient">{{announcement.recip_area}}</td>
                </tr>
                <tr>
                    <th>Message</th>
                    <td data-label="Title">
                        {{announcement.mssg}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock section %}