<!DOCTYPE html>
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS | Dashboard</title>
{% endblock page_title %}

{% block section %}
<div class="table-container main-div">
    <!-- Overview -->
    <section id="overview">
        <h3 class="heading">Overview</h3>
        <div class="overview">
            <div class="overview-item">
                <div class="ov-icon">
                    <i class='bx bx-home'></i>
                </div>
                <div class="ov-info">
                    <h2 id="total-farms">{{ fStats.total_farms }}</h2>
                    <label for="total-farms">Total Farms</label>
                </div>
            </div>
            <div class="overview-item">
                <div class="ov-icon">
                    <i class='bx bx-home-circle' ></i>
                </div>
                <div class="ov-info">
                    <h2 id="total-farms">{{ fStats.total_pigs }}</h2>
                    <label for="total-farms">Total Hogs</label>
                </div>
            </div>
            <div class="overview-item">
                <div class="ov-icon">
                    <i class='bx bx-intersect' ></i>
                </div>
                <div class="ov-info">
                    <h2 id="total-farms">{{ fStats.ave_intbio }}% </h2>
                    <label for="total-farms">Ave. Int. Biosecurity Score</label>
                </div>
            </div>
            <div class="overview-item">
                <div class="ov-icon">
                    <i class='bx bx-exclude' ></i>
                </div>
                <div class="ov-info">
                    <h2 id="total-farms">{{ fStats.ave_extbio }}% </h2>
                    <label for="total-farms">Ave. Ext. Biosecurity Score</label>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Alerts, Map -->
    <section>
       <div class="block-grid">
           <div class="alerts">
                <h3 class="heading">Alerts</h3>
                <div class="alerts-content">
                    <!-- Disease possibility -->
                    <div class="alerts-item" id="disease-alert">
                        <div class="al-icon">
                            <i class='bx bx-network-chart' ></i>
                        </div>
                        <div class="al-info">
                            <h2 id="total-farms">0.1%</h2>
                            <label for="total-farms">Disease Spread Possibility</label>
                        </div>
                    </div>
                    <!-- others -->
                    <a href="/farms">
                        <div class="alerts-item">
                            <div class="al-icon">
                                <i class='bx bx-search-alt' ></i>
                            </div>
                            <div class="al-info">
                                <h2 id="total-farms">{{ fStats.total_needInspect }}</h2>
                                <label for="total-farms">Farms Need Inspection</label>
                            </div>
                        </div>
                    </a>
                    <a href="/hogs-health">
                        <div class="alerts-item">
                            <div class="al-icon">
                                <i class='bx bx-first-aid'></i>
                            </div>
                            <div class="al-info">
                                <h2 id="total-farms">{{ fStats.total_active }}</h2>
                                <label for="total-farms">New Incidents Reported</label>
                            </div>
                        </div>
                    </a>
                </div>
           </div>
           <!-- Map -->
           <div class="map">
               <h3 class="heading">Map</h3>
               <div class="box-style" style="padding: 8px!important;">
                    <div id="map-containter">
                    </div>
               </div>
           </div>
       </div>
    </section>
    
</div>

{% endblock section %}