<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS Log In</title>
{% endblock page_title %}

{% block content %}
<div class="box-style fit-content" style="max-width: 340px; padding: 24px">
    <img src="{% static 'img/sidc-logo.png' %}" class="center">
    <h2 style="color: #006633; text-align: center;">SIDC Hogs Disease Surveillance System</h2>
    <br>
    <form action="login" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Username" class="form-control" id="user-name" name="user-name">
            <p id="emailError" class="error"> Sample error message. </p> <!-- temporarily hidden (code @ static/css/error.css)-->
        <!-- <input type="email" placeholder="Email Address" class="form-control" id="user-email" name="user-email" aria-describedby="emailHelp"> -->
        <input type="password" placeholder="Password" class="form-control" id="user-pass" name="user-pass">
            <p id="pwError" class="error"> Sample error message. </p> <!-- temporarily hidden (code @ static/css/error.css)-->

            <!-- for LOGIN error message placeholder -->
            {% for mssg in messages %}
                <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
                    {{ mssg }}
                    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>
            {% endfor %}
        <br>
        <button class="primary-btn center" type="submit">Log In</button>
    </form>

</div>
{% endblock %}