<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    <title>SIDC-HDSS Log In</title>
{% endblock page_title %}

{% block content %}
<div class="box-style fit-content" style="max-width: 340px; padding: 24px">
    <img src="{% static 'img/sidc-logo.png' %}" class="center">
    <h2 style="color: #006633; text-align: center;">SIDC Hogs Disease Surveillance System</h2>
    <br>
    <form action="login" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Username" class="form-control" id="user-name" name="user-name">
        <input type="password" placeholder="Password" class="form-control" id="user-pass" name="user-pass">
            <!-- for LOGIN error message placeholder -->
            {% for mssg in messages %}
                <div class="alert alert-{{ message.tags }} mb-0 fade show" role="alert">
                    <p class="errormssg">{{ mssg }}</p>
                </div>
            {% endfor %}
        <br>
        <button class="primary-btn center" type="submit">Log In</button>
    </form>

</div>
{% endblock %}